[2020-01-27 07:10] tgaertner commented on #496
Mh could be a missing DB Configuration in CLI context. Are you able to run for example  `./vendor/bin/typo3 syslog:list ` ?? If you load DB Settings via Application Context you have to set the context also for CLI.

[2020-01-27 07:29] cbunhok commented on #496
@tomasnorre I think Mr @tgaertner hit my point. By adding the DB setting for the CLI context, I can run that command.
Thank you so much @tgaertner .

Anyway Mr. @tgaertner , I have a question how do you set the scheduler to run that command at the back-end?

[2020-01-27 11:19] tgaertner commented on #496
Actually I can't answer your question because I also found no way, except a custom script or custom cron-job. @tomasnorre this would be indeed helpful to have (or to know how this can be done).

Anyway it would be very helpful if you could please ask questions in the TYPO3-Slack-Channel #ext-crawler. There more people can help and the answer helps a wider audience. If you find an issue in the func

[2020-01-27 12:05] tomasnorre commented on #496
I'm not sure which job you mean in the Scheduler?  @cbunhok

[2020-01-27 13:24] tgaertner commented on #496
I was refering to buildQueue command

[2020-01-27 13:35] tomasnorre commented on #496
I'll update the Documentation for this.

[2020-01-27 14:38] cbunhok commented on #496
Yes, Mr. @tgaertner I just posted a few questions in the slack.
Thank for your response.

[2020-02-04 10:17] t3easy opened #517 "Option "Force HTTPS for all pages" not respected"
## Bug Report

**Current Behavior**
Despite that the option "Force HTTPS for all pages" is set in the config, the urls added to the queue are all http.

**Expected behavior/output**
All URLs should have https urls.

**Environment**
- Crawler version(s): 6.7.0
- TYPO3 version(s): 8.7.30
- Is your TYPO3 installation set up with Composer (Composer Mode): yes

**Possible Solution**

**Additional conte

[2020-02-04 10:27] tomasnorre commented on #517
Thanks for the report, will check this.

[2020-02-04 10:32] t3easy commented on #517
I used the Database config and "Get Baseurl from Domainrecord" option.
Switched to "Base url" and added Url with https as a workaround.

[2020-02-04 10:40] tomasnorre commented on #517
Thanks for the additional info.. Can be important for the debugging.

[2020-02-11 14:26] tomasnorre opened #518 "Add ecs Rule for Cognitive Complexity"
Add:
https://github.com/symplify/coding-standard#cognitive-complexity-for-method-must-be-less-than-x

And adjust code to respect new setting.

[2020-02-12 07:00] tgaertner opened #519 "crawler conflicts with cachmgm"
## Bug Report

TYPO3: 9.5.13
aoepeople/crawler: "dev-typo3v9"
aoepeople/cachemgm: 4.0.1

Having this both installed its not possible to create a crawler configuration record in the backend.

Repeoduce:
Go to LIST module, hit "new record", select crawler configuration. That gives an Error:

An error occurred trying to process items for field "Processing instruction filter" (TYPO3 Fatal Error: Exten

[2020-02-12 07:21] tgaertner commented on #513
Rechecking this, I think its not really related to the crawler...

Reproduce:
- create a moint-point to a page
- delete the target page
- go to INFO module -> Site Crawler
- select your website (containing the mount-point) e.g. select root page and level infinite
-  select your config
- hit one of the buttons e.g. "Crawl URLs"

This results in a fatal error:

(1/1) #1534710048 TYPO3\CMS\Core\Excep

[2020-02-12 09:51] tomasnorre commented on #513
Thanks for following up. Will check this.

[2020-02-17 15:29] sypets opened #520 "Is it ok to delete Wiki page?"
There is still a Wiki page for the crawler extension: https://wiki.typo3.org/Crawler

The crawler documentation is https://docs.typo3.org/p/aoepeople/crawler/master/en-us/

Generally, we try to delete Wiki pages, if the information has moved elsewhere, the page is outdated or no longer relevant. In this case, the information is elsewhere. However I would hate for information to get removed that is

[2020-02-18 08:33] tgaertner opened #521 "[BUG] Crawler Process stops if any warning appears."
## Bug Report

**Current Behavior**
I created the queue via CommandController. Now I run the process via CommandCOntroller like:
`./vendor/bin/typo3 crawler:processqueue --amount 10000`

It can happen that there are warnings in the output like:
`<warning>Error: Call to a member function getStatusCode() on null</warning>`
or
`<warning>TypeError: unserialize() expects parameter 1 to be string, null

[2020-02-19 09:15] tgaertner opened #522 "Missing documentation for scheduler tasks"
I found no docs for the scheduler tasks at all.
And they are not intuitive to setup and its not transparent what they do.

[2020-02-19 09:17] tgaertner commented on #521
Thinking about this, it would be maybe also nice to have a setting (or even parameter) to control if process should stop or not. In that case it would be possible to use the crawler for FE-testing in a script.

[2020-02-19 09:27] tgaertner commented on #484
This was cherrypicked and is part of 9.5.14

[2020-02-19 14:44] koernchen02 opened #523 "[BUG] Extensions throws "Dependency Order" Exception with TYPO3 v10.2.2"
## Bug Report

**Current Behavior**
After activating the extension the backend is no longer accessible and throws the following error:

[code]

**Expected behavior/output**
I'm expecting the backend to be accessible after the extension activation.

**Environment**
- Crawler version(s): [9.0.0-dev]
- TYPO3 version(s): [10.2.2]
- Is your TYPO3 installation set up with Composer (Composer Mode): [yes]

[2020-02-24 10:24] tomasnorre commented on #520
Hi @sypets,

Ja that can be deleted, and redirected.

[2020-02-24 10:24] #520 closed

[2020-02-24 10:25] tomasnorre commented on #484
Thanks, will test this with the latest TYPO3 Version and bump the version requirements if it works out as expected.

[2020-02-24 10:26] tomasnorre commented on #523
Thanks for letting me know. Will look into this.

[2020-02-24 10:27] tomasnorre commented on #522
Thanks for your input, the Docs aren't really that well currently.
Would you be up for updating that part @tgaertner ?

[2020-02-24 17:13] tomasnorre commented on #484
This works and is now updated.

[2020-02-24 17:13] #484 closed

[2020-02-24 17:42] tomasnorre commented on #523
I can reproduce this, I don't know why this is happening, but will of course try to figure it out.

We have changed the way that the crawler can be used in the Core, and I think it's related to this update.

I think it's regarding the Middleware and how they are registered.
Will need to debug this to be able to give you a better answer or even a solution to the Problem, but it's for sure a bug in

[2020-02-24 17:44] tomasnorre commented on #521
Thanks for you input, would need to consider how this can be solve in an elegant way.

When warnings happens the user should get to know, but of course the process shouldn't stop and be blocked from running again.

[2020-02-24 20:17] tomasnorre commented on #518
It's added but can be lowered eventually, will work on this, but closing the issue and the prime functionality is added for this check.

[2020-02-24 20:17] #518 closed

[2020-02-26 16:36] #522 closed

[2020-03-01 16:50] tomasnorre commented on #519
@tgaertner could you please test with `aoepeople/cachemgm: 4.0.2`.

There was a bug in the cachemgm on the crawler registration for TYPO3 V9.

[2020-03-01 17:16] tomasnorre commented on #517
Hi @t3easy

I cannot reproduce this, can you provide me with more information.

When setting `Force HTTPS for all pages` all my crawler entries is with `https://` when setting it to `Force HTTP for all pages` there are all with `http://` so to me it looks like it works.

[2020-03-01 17:24] tomasnorre commented on #515
This is fixed with commit https://github.com/AOEpeople/crawler/commit/618f3d8291e8d73f621d7bfaf2c4b401bedbecbc, could you please verify @allesmeins89

[2020-03-01 17:26] tomasnorre commented on #515
Fixed for typo3v9 with commit https://github.com/AOEpeople/crawler/commit/565ddcb73d739b162f033d9af58642b54f3785d9

[2020-03-02 17:28] tomasnorre commented on #510
Thanks you fix looks like it works from my manual testing.

I'll add Tests for it, and have it commited and merged.
Thanks for reporting @aseemann

[2020-03-02 17:42] tomasnorre commented on #510
This looks fine to me and works with my manual tests.
I'll add a todo, to create tests for this code section, not only your new suggestion.

[2020-03-02 17:46] tomasnorre opened #525 "Add tests for CrawlerController getUrlFromPageAndQueryParameters()"
We don't have tests for the getUrlFromPageAndQueryParameters() in the CrawlerController, it's a relative new part of the code and should be covered with tests.

[2020-03-02 21:04] #525 closed

[2020-03-03 05:18] tomasnorre commented on #510
I've added testes for this now too #525

[2020-03-03 05:18] #510 closed

[2020-03-03 16:57] #515 closed

[2020-03-05 14:58] koernchen02 commented on #523
I commented out the `after 'typo3/cms-frontend/tsfe'` line in the RequestMiddlewares config to have a look at where the CrawlerInitialization was then placed at (and to have access to the BE again):

![screenshot-vw-it-rich-pad_32768-2020 03 05-15_45_16](https://user-images.githubusercontent.com/312900/75992809-d237e400-5ef8-11ea-9c7f-d373a99b09e5.png)
Looking at that ordering, it seems logical th

[2020-03-05 15:10] koernchen02 commented on #523
I forgot to say that I therefore assume:
`Your dependencies have cycles.` seems to mean your config results in your middleware beeing invoked multiple times... which I would say is an interesting wording ;)

[2020-03-05 15:17] tomasnorre commented on #523
Thanks, it have been located to the Middleware as you mentioning and load order, just need to figure out what the correct one is. :)

[2020-03-05 15:22] koernchen02 commented on #523
OK Cool! I'm currently trying to get everything up and running with the middleware being placed simply **after** tsfe, but this seems to be contradicting the commit https://github.com/AOEpeople/crawler/commit/176da363530f419ef74e856c461720e7a049f215 ?!

[2020-03-05 20:00] tomasnorre commented on #523
It's direct related to that commit, talked to @ichhabrecht and she will have a look at it and give me some advice on the load order, it's not my area of expertise with the Middleware, still quite new to me.

[2020-03-11 11:37] TrueType opened #528 "Items per Page -> htmlspecialchars() expects parameter 1"
Installing aoepeople/crawler (dev-typo3v9 995fa4a): Cloning 995fa4af61
on TYPO3v9.5.14

Crawler-Log -> Checkbox "Items per page" -> change selection

htmlspecialchars() expects parameter 1 to be string, int given

[2020-03-12 07:30] tomasnorre commented on #528
Thanks for you report.

Could you perhaps make a PR?
Thanks

[2020-03-25 18:21] varioous opened #529 "getUrlsForPageId() must be of the type int, null given"
**Environment**
- Crawler version(s): 9.0.0-dev
- TYPO3 version(s): 9.5.14
- Is your TYPO3 installation set up with Composer (Composer Mode): yes

/var/www/html/public/typo3$ sysext/core/bin/typo3 crawler:buildQueue

Uncaught TYPO3 Exception Argument 1 passed to AOE\Crawler\Controller\CrawlerController::getUrlsForPageId() must be of the type int, null given, called in /var/www/html/public/typo3con

[2020-03-25 21:19] tomasnorre commented on #529
The command isn't called with the right parameters.
https://github.com/AOEpeople/crawler/blob/typo3v9/Documentation/ExecutingTheQueue/RunningViaCommandController/Index.rst#create-queue

This should of course trigger an error on cli level, instead of an php-error.

Will look into this.

[2020-03-25 21:44] tomasnorre commented on #523
@koernchen02 could you please test and verify the PR from @ichHabRecht  #527

Then I'll make sure it gets merged.

[2020-03-26 11:38] tomasnorre commented on #529
@varioous Can you please test, i've pushed a fix for this.

Please pay attention to the updated documentation as it's switched from options to arguments.
https://github.com/AOEpeople/crawler/commit/e0ae3eb2293755c238fe8c00ef208e1258ea9f2c#diff-cbac2bee565b1f754fe3285bc52cd9e9R24

[2020-03-28 10:27] tbal commented on #517
Had the same problem. Luckily this is fixed in current master thanks to PR #494
Issue can be closed.

P.S.: Would love to see a new TER release 6.7.1 of the current master :)

[2020-03-28 11:12] tomasnorre commented on #517
Thanks for confirming.
Will see when I get to creating a new release.

[2020-03-28 11:12] #517 closed

[2020-03-29 11:28] tomasnorre commented on #517
@tbal a 6.7.1 version is release in TER and Packagist.

[2020-04-04 13:41] tbal commented on #517
Many thanks @tomasnorre for your quick response and the new release!

[2020-04-06 17:59] tomasnorre commented on #528
Your "steps to reproduce" showed me that bad UX that the crawler module is having..

It isn't the "Items Per Page" that makes it break, but the

![Screenshot 2020-04-06 at 19 55 41](https://user-images.githubusercontent.com/1212481/78589772-07f62280-7841-11ea-8bc8-5b1cf3034d3c.png)
I'll make a new issue for that.

[2020-04-06 18:02] tomasnorre opened #533 "[FEATURE] Better UX in Backend Module"
![Screenshot 2020-04-06 at 19 55 41](https://user-images.githubusercontent.com/1212481/78589881-370c9400-7841-11ea-8795-a132f758584a.png)

If you don't pay attention to the form, you can easily click the wrong boxes, or do something different than expected.

This needs to be improved. It came to my attention in #528 as the step to reproduce was incorrect, due to the bad UX.

[2020-04-06 18:16] tomasnorre commented on #533
The is a temporary commit made, to solve this quick and dirty.

This should be changed to split code and design from each other.

[2020-04-07 05:01] tomasnorre commented on #523
Should be fixed with commit https://github.com/AOEpeople/crawler/commit/b5443c33c635958635009c4d36ba30f5d97bebd0

Thank @IchHabRecht

[2020-04-07 05:03] tomasnorre commented on #519
I cannot reproduce this issue anymore, if still a problem please open another issue.
Thanks.

[2020-04-07 05:03] #519 closed

[2020-04-07 08:40] koernchen02 commented on #523
Thanks a lot for the fix! It's working as expected! I'm sorry that I didn't get back to you!
I was very busy the last weeks implementing all sorts of online collaboration tools for my employer and just got back to working on their site-upgrade!

[2020-04-07 08:40] #523 closed

[2020-04-07 08:56] tomasnorre commented on #523
Don't stress. I'm doing this in my spare time too.

Thanks for the feedback.

[2020-04-07 13:47] tomasnorre commented on #496
I'm not sure if this can be closed @tgaertner ?

[2020-04-08 15:03] varioous commented on #529
Hi @tomasnorre,

thanks. No error message on CLI level is displayed.

Issue can be closed.

Thanks and best regards,
Harald

[2020-04-08 15:03] #529 closed

[2020-04-08 19:34] #481 closed

[2020-04-09 15:54] tomasnorre opened #535 "Depth dropdown isn't working in TYPO3 10.3"
## Bug Report

**Current Behavior**
When going to the Info Module -> Site Crawler
The depth dropdown both on `Start Crawling` and `Crawler log` is blank, no labels are found.

![crawler_dropdown_1](https://user-images.githubusercontent.com/1212481/78914172-54806e80-7a8a-11ea-85fa-ee2066223ed8.png)
![crawler_dropdown_2](https://user-images.githubusercontent.com/1212481/78914174-55b19b80-7a8a-11ea-8

[2020-04-09 17:36] tomasnorre opened #536 "The force_ssl configuration isn't shown correct TYPO3 10.3"
## Bug Report

**Current Behavior**
When editing a crawler configuration, the force_ssl section isn't rendered correctly.
![crawler_configuration](https://user-images.githubusercontent.com/1212481/78916064-37996a80-7a8d-11ea-8dc5-b63382a3aa56.png)

**Expected behavior/output**
I would expect to see the dropdown like in the previous versions.
<img width="294" alt="crawler_configuration_2" src="http

[2020-04-10 06:40] tomasnorre commented on #521
@tgaertner I cannot reproduce this issue anymore with the https://github.com/AOEpeople/crawler/commit/52aa3ae8c90516df611eca7a3a978ad1411aea17 version of the crawler.

Can you please test if you still have an issue.

I will treat your suggestion (https://github.com/AOEpeople/crawler/issues/521#issuecomment-588116453) as a new Feature request, so could you please create a new issue for that.

Thank

[2020-04-10 09:37] tomasnorre commented on #536
The TCA Scanner in TYPO3 9 LTS, gave an additional hint

[code]

[2020-04-10 14:15] #535 closed

[2020-04-10 14:16] tomasnorre commented on #536
Is solved with commit https://github.com/AOEpeople/crawler/commit/70519e0998911cb17b6d7213cd670f81d96c7d9b

[2020-04-10 14:16] #536 closed

[2020-04-10 17:38] tomasnorre commented on #448
Resolved with commit: https://github.com/AOEpeople/crawler/commit/e2ffa3be5e8b20b5257320d2033e484e4559075e

[2020-04-10 17:38] #448 closed

[2020-04-11 12:09] tomasnorre opened #538 "Split getLogEntriesForPage and Flush"
Currently we have some mixed functionality, that it not directly related with the `CrawlerController->getLogEntriesForPage()`.

It handles both, get and flush log entries, which should be separated to have a cleaner and easier to test code base.

[2020-04-11 12:14] tomasnorre opened #539 "[BUG] crawler:flushqueue doesn't respect --page"
## Bug Report

**Current Behavior**
When using the command controller `bin/typo3 crawler:flushqueue pending --page <pageId>` isn't the page id respected.

Currently it's commented to have the `finished` and `pending` respected.
This will be done more easily when #538 is done, as the separation of concerns, make it easier to test.

**Expected behavior/output**
I would expect when using the command

[2020-04-11 13:17] tomasnorre commented on #528
This is still an issue, reopened.

[2020-04-11 13:24] #528 closed

[2020-04-12 12:48] tomasnorre commented on #521
I'll close this issue. Please reopen if you are still having problems.

[2020-04-12 12:48] #521 closed

[2020-04-12 12:48] #496 closed

[2020-04-12 12:49] tomasnorre commented on #442
Will close this issue as there has been no feedback.
Please reopen if it's still an issue.

[2020-04-12 12:49] #442 closed

[2020-04-12 13:23] tomasnorre commented on #513
Hi @tgaertner
I cannot reproduce this problem. Does it always happen ? and do you have more information perhaps that could help me?

[2020-04-12 18:22] tomasnorre commented on #91
As this issue has been inactive for quite a while, I will close it as no feedback was given.

Please reopen if still having problems.

[2020-04-12 18:22] #91 closed

[2020-04-12 18:42] tomasnorre commented on #271
Sorry for having this stalled that long. Would be interested in helping adding this feature to the 9.x release of the crawler @dahaupt ?

[2020-04-12 19:09] tomasnorre commented on #302
Can someone please test this with the newest typo3v9 https://github.com/AOEpeople/crawler/commit/f3f1932103a1906d7429e755a582b5f0f57fafa7 . I cannot reproduce this problem any.

I sorry that this has been stalled for that long.

I'll try to focus on the 9.x + releases in the future.

Please give me feedback if this is working for you, I've tested this both in TYPO3 9 and TYPO3 10, with the commit

[2020-04-13 14:39] tomasnorre commented on #516
I've been looking into this, and you're right, it's not working anymore as mentioned in the documentation.

I'll make sure this gets implemented. But it's not my first priority. But I'll take care of it.

[2020-04-16 13:49] TrueType opened #544 "PhpBinaryUtility::getPhpBinary() must be of the type string"
Core: Exception handler (WEB): Uncaught TYPO3 Exception: Return value of AOE\Crawler\Utility\PhpBinaryUtility::getPhpBinary() must be of the type string, boolean returned | TypeError thrown in file /var/www/../web/typo3conf/ext/crawler/Classes/Utility/PhpBinaryUtility.php in line 45. Requested URL: http://mydomain.tld/typo3/index.php?route=%%2Fweb%%2Finfo%%2F&token=--AnonymizedToken--&id=40&

- Cr

[2020-04-16 16:21] TrueType opened #545 "module:info htmlspecialchars() NULL given - for file entries"
## Bug Report
module:info -> SiteCrawler -> Crawler-Log

**Current Behavior**
Core: Exception handler (WEB): Uncaught TYPO3 Exception: htmlspecialchars() expects parameter 1 to be string, null given | TypeError thrown in file /var/www/html/../current/webroot/web/typo3conf/ext/crawler/Classes/Backend/BackendModule.php in line 659. Requested URL: http:/mydomain.tld/typo3/index.php?route=%%2Fweb%%2Fi

[2020-04-16 18:35] tomasnorre commented on #545
Do you always get this error when going to the Crawler Log and did you do something before the error happend?

[2020-04-16 18:36] tomasnorre commented on #544
How did you get to this error, please let me know steps to reproduce.

[2020-04-16 20:41] tomasnorre commented on #544
Hi @TrueType
I've found this issue, I think. Looks like your `phpBinary` doesn't exist.
I've added some tests to check this, and I can reproduce your problem.

Can you please verify that it matches your problem? And that it gives you a better error with this PR.
https://github.com/AOEpeople/crawler/pull/546

Thanks

[2020-04-16 20:57] TrueType commented on #544
The values for phpBinary is default in TS "php" and phpPath is empty. I set the path to circumvent the problematic code part. The console responds to
$ php - v
So I don't know what should be problem. I will check tomorrow.

[2020-04-16 20:58] tomasnorre commented on #544
What does `which php` say?

[2020-04-17 07:20] TrueType commented on #544
I have to correct myself. I mistakenly checked with my own user on the server. Checking for the webserver user the the php binary is not set. `which php` returns nothing.

[2020-04-17 07:33] tomasnorre commented on #544
ok. So it seems like something with webserver-user and PHP is not 100% at your setup.
Can I assist you in any way?

Or can I close the issue?

[2020-04-17 07:54] TrueType commented on #545
As I mentioned the problem occurs for files only. As you process pages, which contain links to files, for each file an additional entry is put into the queue. At the point in code mentioned serialized data is processed for every entry and for files there is not "url" index given. There is only a path on the server.
To reproduce: create a page with file reference. Get the page in the queue. Index i

[2020-04-17 08:14] tomasnorre commented on #545
Thanks for the update, I will check.
Edited the text to make it a little easier to read.

[2020-04-17 08:16] TrueType commented on #544
Thx. Is all fine. My server configuration is quite irregular, here. Please merge the PR and close the issue. I tested your fix. Exception is handled. And - omg - we have tests.

[2020-04-17 08:29] #544 closed

[2020-04-17 18:23] tomasnorre commented on #545
Hi @TrueType,

I cannot reproduce this. Do I do anything different than want to meant?
Please see video linked.
https://www.dropbox.com/s/k8w9anpvl3cbzrd/issue-545.mp4?dl=0

[2020-04-20 14:09] tomasnorre commented on #253
As there will most likely not be a version 7.x.y I'll close this issue for now.

[2020-04-20 14:09] #253 closed

[2020-04-20 14:20] tomasnorre commented on #336
Hi @s-diez

Would it be possible that you could help writing tests for this? It would be really helpful to me.
It would be great if you could take care of both 6.7.x (TYPO3 7 & 8) version.

but also the new 9.0.0 (TYPO3 9 & 10) version.

[2020-04-20 14:24] tomasnorre commented on #413
As we are trying to move forward and focus on the newer TYPO3 versions 9 & 10.
We will stop feature development of the older versions like 6.7.x

We will still try to handle bugs and security issues will still have high priority.

I'll close this issue for now.
If any questions or concerns please reach out to me, then we will talk about it, and figure out a solution together.

Thanks

[2020-04-20 14:24] #413 closed

[2020-04-20 14:25] tomasnorre commented on #439
As we are trying to move forward and focus on the newer TYPO3 versions 9 & 10.
We will stop feature development of the older versions like 6.7.x

We will still try to handle bugs and security issues will still have high priority.

I'll close this issue for now.
If any questions or concerns please reach out to me, then we will talk about it, and figure out a solution together.

Thanks

[2020-04-20 14:25] #439 closed

[2020-04-20 14:29] tomasnorre commented on #478
Hi @DanielSiepmann,

After switching to the Symfony Command Controller for the Scheduler tasks, the crawler configuration isn't selected from a generade select box anymore.

but it's a plain text field, so you can add whatever configuration you have.
Does this solve your problem?

[2020-04-20 14:30] tomasnorre commented on #503
I'll close this issue and try to get connected with those still not accepting.

[2020-04-20 14:30] #503 closed

[2020-04-21 06:42] s-diez commented on #336
Hi @tomasnorre

I can try to take a look at it. I have very little experience with tests in TYPO3. But it will probably take some time. I'll write again when I have started and can give more informed feedback whether I can contribute and when.

[2020-04-21 07:31] tomasnorre commented on #336
Thanks. I have experience with the tests, but this area is troubling me.
So perhaps joined forces could be a solution.

Let me know if you need anything from me.

[2020-04-21 13:50] DanielSiepmann commented on #478
Sure, thank you. Don't know which project needed this, I just reported it because it sounded like an missing but expected feature.
A free text field of course solves the issue. Thank you for taking care.

[2020-04-21 13:50] #478 closed

[2020-04-21 14:06] tomasnorre commented on #478
Thanks for you feedback. Will keep it in mind, if I need to change the implementation sometime.

[2020-04-22 13:45] tgaertner commented on #513
With current TYPO3 9.5.15 and latest crawler its gone - don't know where its "solved" but this ticket can be closed I think.

[2020-04-22 13:45] #513 closed

[2020-04-27 19:23] tomasnorre commented on #419
Done with commit https://github.com/AOEpeople/crawler/commit/97ae9a4e86fe5e895928623f2144fbbcab7482c1

[2020-04-27 19:23] #419 closed

[2020-05-01 11:02] tomasnorre opened #558 "[DOC] Update Documentation with indexed_search use case"
To make the benefits of installing the crawler more visible, the documentation should contain a detailed use case on how to use the crawler together with indexed_search.

Could be inspired by @xperseguers Documentation on the Crawler and indexed_search ;)

[2020-05-01 11:04] tomasnorre opened #559 "[DOC] Add a section on how Crawler can be used a Cache warmup during deployments"
To improve the value of installing the crawler, we want to make a documentation section on how to use the crawler for Cache warm up during deployments.

[2020-05-01 15:36] #559 closed

[2020-05-01 21:10] #533 closed

[2020-05-05 15:26] tomasnorre commented on #339
This is related to #516

[2020-05-07 15:05] TrueType commented on #545
Hi Tomas,

sry, for coming back to you that late.

I checked your video. Makes me wonder why your processing does to work on the pdf file? As I come back from starting a process I see two entries. One is for the page, which is on status OK, one is newly created - not yet processed - and is for the file found while processing the page.

So your system does not yet process files.

You may check for

[2020-05-07 15:53] TrueType opened #566 "[BUG] @noRector was never imported"
just quick feedback on f04fad5

[CRITICAL] request="5d9311f3c8c65" component="TYPO3.CMS.Core.Error.DebugExceptionHandler": Core: Exception handler (WEB): Uncaught TYPO3 Exception: [Semantical Error] The annotation "@noRector" in property AOE\Crawler\Service\ProcessService::$deprecatedPublicProperties was never imported. Did you maybe forget to add a "use" statement for this annotation? | Doctrine\

[2020-05-07 16:02] tomasnorre commented on #566
I'm fighting this issue right now my self, but don't see it failing in master, only in a branch.
But thanks for letting me know. I'll have this fixed asap.

When do you see this error? I see it by executing the tests on CLI.

[2020-05-07 16:04] tomasnorre commented on #545
Thanks for the follow up I will check, I'm unfortunately not really experienced with indexed_search so all input is helpful.

[2020-05-07 16:09] TrueType commented on #566
I cannot open the backend module INFO -> Site Crawler

[2020-05-07 16:11] tomasnorre commented on #566
ok. Strange, you are on dev-master I suppose?

I'm currently testing with dev-master and I have no problem with the backend module currently.

But I can confirm the problem you are referring to when running the test on cli, so there is for sure a problem.

[2020-05-07 16:29] TrueType commented on #545
I will close this issue .. the only thing I can do here ... the issue was fixed here - 0f3fa7a012e5ed60726d72ae3aadf24ea1e22624

[2020-05-07 16:29] #545 closed

[2020-05-07 16:30] tomasnorre commented on #545
Glad that it has been solved.
I'll try to fix the `@noRector` problem asap, but don't have time tonight.

I'll have a new release done (9.0.1) beginning of next week.

[2020-05-07 17:35] TrueType opened #568 "[BUG] Return value of Process::getTimeForFirstItem()"
Uncaught TYPO3 Exception: Return value of AOE\Crawler\Domain\Model\Process::getTimeForFirstItem() must be of the type integer, null returned | TypeError thrown in file /var/www/html//web/current/webroot/web/typo3conf/ext/crawler/Classes/Domain/Model/Process.php in line 210.

To reproduce: Backend-Module start process. I guess if the process did not finish and ones calls the log dialog this happens

[2020-05-08 05:23] tomasnorre commented on #568
All write a test covering this and fix respectively.

[2020-05-08 12:04] tomasnorre commented on #568
@TrueType Can you please review and verify this fix ?

[2020-05-08 12:08] TrueType commented on #568
Sry, don't have time for it. I am not sure, if I could reproduce it anyway. Got that only once. If you cannot identify the possible situation it may occurs /reproduce it I can't help.

[2020-05-08 12:10] tomasnorre commented on #568
I could reproduce it with mocking tests as you described when a process didn't exist.
Thanks for fast feedback anyway, I'll merge it when I have reviewed it ones more myself.

[2020-05-08 12:46] #568 closed

[2020-05-08 13:34] #417 closed

[2020-05-08 13:34] tomasnorre commented on #417
Resolved with #564

[2020-05-08 15:29] tomasnorre commented on #566
Fixed with commit: https://github.com/AOEpeople/crawler/commit/10ea05aec1e3eec3c4ccc084250bb9cae5f1aeac

[2020-05-08 15:29] #566 closed

[2020-05-12 15:34] lsascha commented on #516
Hi. i am having some issues with the crawler extension (v9.0.1) on TYPO3 v9.5.17

I have the following configuration:
tx_crawler.crawlerCfg.paramSets {
    tx_news = &tx_news_pi1[news]=[_TABLE:tx_news_domain_model_news; _PID:118; _WHERE: hidden = 0]
    tx_news {
        procInstrFilter = tx_indexedsearch_reindex
        pidsonly = 121
        cHash = 1
    }
    recipes = &tx_recipes_recipe[recip

[2020-05-12 16:18] lsascha commented on #516
got it crawling now.
First thing was not checking the checkbox `Add option` on top of the "depth" field in the scheduler task. as it then only added the root page to the queue. So

1. set depth to 99 and check the "add option" checkbox.
2. in the TS its called "pidsOnly" and not "pidsonly" like mentioned in the docs.

What i am now still missing is the crawling of regular pages. I would have guess

[2020-05-13 06:33] tomasnorre commented on #516
Thanks for the update.
The non-speaking part is surely part of this issue, see main description.

The regular pages, I've never done with PageTS, so would need to check up on that, how it would look like.

I've always done that with a crawler-configuration record.
Does it work when you do it like that?

[2020-05-13 07:33] lsascha commented on #516
Yes. regular pages seem to be added to the queue now as well.

Only remaining problem are speaking urls for realurl.

Another thing i haven't checked yet is multi-language and if everything is crawled there too.

[2020-05-13 07:43] tomasnorre commented on #516
This config works for news.

[code]

[2020-05-14 17:24] TrueType opened #575 "dealing with proxy settings"
Setup has proxy settigs by .env file:

[code]
Running from scheduler or backend module everything is fine. Running on the CLI is does not work.

So the scheduler commands pretty directly go into the same code the CLI does. Yeah, course. But then I don't get it why it is falling apart?

Mezzo: There is a strategy selection in QueueExecutor. I guess all goes in Guzzle, though. I took a look into the

[2020-05-14 19:04] TrueType commented on #575
Ah, ok. I entered the missing proxy configuration by hand and mistreated the 'headers' options(dropped them). But they are important...
`'X-T3Crawler' => $crawlerId,`
is used to activate some FrontendUserAuthenticator middleware. Which itself handles the indexing.

[2020-05-17 16:26] tomasnorre commented on #575
I'm not sure I get what your problem is here.

The DirectReqeust is important, as some crawling happens behind load balancers etc. so they cannot do GuzzleRequest. The directRequests are also faster, so for larger sites I can be helpful.

Can you please try to explain to me which use case you have and why this/what isn't working?

[2020-05-17 16:44] TrueType commented on #575
Hey. Please look into RequestFactory. See $httpOptions taken from TYPO3_CONF_VARS. They handle proxy settings and possibly other http settings. They don't make it into the request created for the crawler process.

[2020-05-17 17:33] tomasnorre commented on #575
Thanks will check.

[2020-05-17 18:15] TrueType commented on #575
Yes. This is core. Once you get the response object I do not see how you retrieve the options to array_merge them. I guess you have to build up the httpoption from confvars yourself and then array_merge.

[2020-05-17 19:32] tomasnorre commented on #575
Ok. Will check this out. Thanks for point this out.

[2020-05-17 19:41] tomasnorre commented on #575
Would need to find a setup where I can actually test this.

[2020-05-18 11:24] Gohil-Aayushi opened #576 "[BUG] running crawler causes typeerror htmlspecialchars() expects parameter 1 to be string, integer given"
## Bug Report

**Current Behavior**
after the crawler had been successfully run, when selecting the root page record with the info module, there is the error shown.
when selecting another page, it is not.

**Environment**
- Crawler version(s): [9.0.1]
- TYPO3 version(s): [9.5.17]

[2020-05-18 11:41] tomasnorre commented on #576
Thanks for reporting @Gohil-Aayushi,
Could you perhaps paste a little from the stacktrace, so that I can easier see where this is happening?

[2020-05-18 12:24] Gohil-Aayushi commented on #576
Please check the attached file.
[TYPO3 Exception.pdf](https://github.com/AOEpeople/crawler/files/4644057/TYPO3.Exception.pdf)

[2020-05-18 12:50] tomasnorre commented on #576
Does a PDF file exists on the page that gives you problems?
See issue #545, sounds a little similar, and not completely solved.

[2020-05-19 05:31] echavaillaz opened #577 "Command "crawler:crawler:flushqueue" registered by "crawler" is already in use"
Hi,

I use crawler and typo3_console on the same instance of TYPO3 9 and when I make a `composer update`, I got this error:

[code]

Any idea?
Thanks a lot.

[2020-05-19 05:43] tomasnorre commented on #577
Sorry I don't have see this problem before, the Crawler Devbox is also having both the typo3 and typo3cms binary.

https://github.com/AOEpeople/crawler/blob/master/.devbox/composer.json

And I never seen this error before.

which version of the TYPO3 Console are you using?

[2020-05-19 05:51] echavaillaz commented on #577
It is strange indeed. I use `5.8.5`.
I will check mor deep with this issue.
Thanks

[2020-05-19 05:55] tomasnorre commented on #577
That's the same version as the Crawler Devbox
`helhum/typo3-console  v5.8.5`

[2020-05-19 05:58] echavaillaz commented on #577
Perhaps I am not up to date with the ext crawler.

[2020-05-19 06:23] tomasnorre commented on #577
You mean version vice? The latest release is 9.0.1

[2020-05-20 10:39] Gohil-Aayushi commented on #576
This error occurs when we crawl URL on the root page when we press continue & show log button but on subpages, crawler works properly

[2020-05-20 11:40] tomasnorre commented on #576
I got that from your first description, but do the Root page contain PDF or other files? that are linked?

[2020-05-20 11:48] Gohil-Aayushi commented on #576
yes, root page contains files and that are linked.

[2020-05-20 12:52] daeff commented on #576
Hello,
I run into the same error.
TYPO3 9.5.17
crawler 9.0.1

[2020-05-20 18:57] tomasnorre commented on #576
@Gohil-Aayushi @daeff which Info Module are you at? If the crawler as I expect, which of the 3 crawler options then.

Start Crawling
Crawler Log
Crawling Processes

[2020-05-20 19:03] tomasnorre commented on #576
Can you please check what the value of the $parameters['url'] is in your setup?
In the crawler devbox it's `https://crawler-typo3v9.ddev.site/`

The screenshot is from the BackendModule.php

![Screenshot from 2020-05-20 21:01:39](https://user-images.githubusercontent.com/1212481/82486551-556edc00-9add-11ea-9691-c5191eda2878.png)

[2020-05-20 19:13] tomasnorre commented on #576
We could add a (string) cast before the two inputs, but I would like to understand what the issue is instead of just "fixing" without understanding.

[2020-05-21 11:05] TrueType opened #578 "external files with spaces, umlauts, etc are not queued by indexer"
TYPO3v9.5.17 and EXT:crawler 9.0.1
systemLocale = de_DE.UTF-8

Indexing a page creates new queue entries for files found therein. I lately had problems  - may still have - with spaces in file names, now I have problems with non-ASCII characters like the german sharp "s", which is "ß".

It just misses such a file and creates no entrie in the queue. All other files of same type are fine. Changing th

[2020-05-21 11:36] Gohil-Aayushi commented on #576
Here I got page uid in the URL field of one of the pages.

[2020-05-21 15:09] tomasnorre commented on #576
so e.g. a `20` and nothing else ?

[2020-05-21 15:12] tomasnorre commented on #578
I would need to add some functional tests around the file-crawling in general, there are currently some issues with this.

[2020-05-21 15:26] tomasnorre commented on #578
In my setup the filenames are converted to e.g. ss instead of ß. I know that's not necessarily a solution, as many will use localized filenames regardless of my setup and what I prefer ;)

[2020-05-21 16:36] tomasnorre commented on #575
Looks like the issue is within this function.
https://github.com/AOEpeople/crawler/blob/master/Classes/CrawlStrategy/SubProcessExecutionStrategy.php#L101

[2020-05-21 17:56] TrueType commented on #575
I guess what you say is: the subprocess strategy and code has the same problem. Or possibly a similar problem.

[2020-05-21 17:58] tomasnorre commented on #575
I stumbled upon this function, and this for sure doesn't respect the proxy settings. Not sure if that the only problem, but that's at least also a problem.

I would need to add more tests, otherwise, it gets difficult to prove.

[2020-05-21 18:01] TrueType commented on #575
Wondering what hell of a test setup this is to test for proxy? One easier test may be to set an invalid proxy, which then would not allow a valid request and then to set 'no-proxy' and get it running again?

[2020-05-22 06:00] tomasnorre commented on #575
I've never worked with proxies before in the context of the crawler, so need to find a way to test this.
I'll for sure try to do automated tests and not only manual tests. In my opinion manual tests only are good for confirming an issue and automated for fixing and making sure it's not happening again.

[2020-05-22 07:22] Gohil-Aayushi commented on #576
yes

[2020-05-22 08:10] tomasnorre commented on #576
Could you please share the following:

1. Crawler Settings
2. Crawler Configuration
3. Site Configuration.

This would help me to debug this further. Sounds to me like a misconfiguration, but not sure.
If this is the case, I want to make sure that users get informed in such cases.

[2020-05-22 10:01] TrueType commented on #575
Maybe find some travis configuration for dealing with proxy and going backwards from there. And, of course, an automated test is a mile more worth than testing manually. ;)

[2020-05-22 13:59] xerc commented on #576
https://github.com/AOEpeople/crawler/blob/744c705d2af46271eb5dac2a932b0138706515cf/Classes/Backend/BackendModule.php#L633
will be executed twice ..
[code]

[2020-05-22 14:03] tomasnorre commented on #576
Thanks for the information, looks like I have missed something in my debugging.

[2020-05-22 14:11] xerc commented on #576
btw/ might be related
``php vendor/bin/typo3cms crawler:processQueue``

[2020-05-22 14:18] tomasnorre commented on #576
I've added the 3rd party ext label, to make it visible that it's related not necessarily caused by indedex_search

[2020-05-22 14:27] tomasnorre commented on #576
Have any of you tested if this also is a problem with version 9.0.0 of the crawler? Or if something broke between the two releases?

[2020-05-22 14:35] xerc commented on #576
not me; straight to 9.0.1

[2020-05-22 14:46] tomasnorre commented on #576
Could you please test it with 9.0.0 for me as well?

[2020-05-22 15:29] tomasnorre commented on #576
This is how my looks like

[code]

[2020-05-22 15:33] xerc commented on #576
``print_r($rowData);`` @ 9.0.0

[2020-05-23 10:19] tomasnorre opened #579 "[CLEANUP] Remove references to chash as removed in 9.0.0"
As of commit: https://github.com/AOEpeople/crawler/commit/6762b6a772e70238d573e3259d34fcb153f868c0 the chash is not used anymore in the crawler, and all references in screenshots, documentations, code, tests etc, should be removed.

[2020-05-23 10:22] tomasnorre opened #580 "[DOC] Show example of PageTs -> Confguration Record"
Please update the documentation with a one to one example on how to convert a PageTS to Configuration Record and vice versa.

[2020-05-23 12:43] bmack commented on #575
@TrueType OK so this basically means: Guzzle does not work in your proxy environment because the TYPO3_CONF_VARS settings are not applied to the client created by the RequestFactory?

[2020-05-23 15:21] TrueType commented on #575
Oh well. Looks like I messed up. Checking the guzzle client, it is obvious the default options (TYPO3_CONF_VARS) are array_merged with $options passed with a request() call. Very probably I was confused with the response while crawling. For the correct crawling the request only returns some statistics. And I took the full HTML page for a successful crawling request. What it is not.

Closing this.

[2020-05-23 15:21] #575 closed

[2020-05-26 07:27] Gohil-Aayushi commented on #576
I upgraded the crawler's latest version but my issue is not resolved.
Please check the attached file of the configuration.
[Crawler Extension Configuration.pdf](https://github.com/AOEpeople/crawler/files/4680521/Crawler.Extension.Configuration.pdf)

[2020-05-26 09:00] tomasnorre commented on #576
I didn't expect it to be resolved. Will check your configuration thanks for sharing.

[2020-05-27 18:46] tomasnorre commented on #578
I have found the problem regarding the non-ASCII chars in filenames.

Example:
I have file `german-buchstaben-ßöü.jpg` that will the `indexed_search` indexer in `extractLinks()` be converted with `htmlspecialchars_decode()` which will result in a file called `german-buchstaben-%C3%9F%C3%B6%C3%BC.jpg`

When it then later check if the file exists it doesn't as it doesn't convert filename back, so th

[2020-05-28 15:14] tomasnorre commented on #576
@Gohil-Aayushi I just read through you Configuration.pdf, I didn't find the problem directly, but noticed that you have your

BuildQueue scheduler called with parameter mode: exec, this means that you processQueue job is not needed as the queue will always be empty if you are executing them at ones.

The only thing that will land in the queue then is external files like jpgs, which only needs craw

[2020-05-29 06:43] Gohil-Aayushi commented on #576
Yes, I set the mode to queue. But the bug is not fixed .

[2020-05-29 07:32] tomasnorre commented on #576
As mentioned I didn't expect that just noticed it by reading through them.

[2020-06-01 07:12] linawolf opened #583 "BackendModule throws error when url is a numeral"
## Bug Report

**Current Behavior**
Root Page of my site -> Info Module -> Site crawler -> Crawler Log leads to the following error:
Core: Exception handler (WEB): Uncaught TYPO3 Exception: htmlspecialchars() expects parameter 1 to be string, integer given | TypeError thrown in file /var/www/html/private/typo3conf/ext/crawler/Classes/Backend/BackendModule.php in line 633.

My Rootpage is a link to

[2020-06-01 07:54] linawolf commented on #583
Here is the patch: [8785486.diff.zip](https://github.com/AOEpeople/crawler/files/4710057/8785486.diff.zip)

[2020-06-01 12:29] tomasnorre commented on #583
This is a duplicate to https://github.com/AOEpeople/crawler/issues/576.

Please reopen the issue if I'm wrong.
Thanks for the patch file, will have a look.

[2020-06-01 12:29] #583 closed

[2020-06-01 12:33] tomasnorre commented on #576
Can you confirm that the patch from works like expected? I'm still not sure how I feel about the casting of a int as string, but I could be a work around for now.

[code]

[2020-06-01 13:11] linawolf commented on #576
@tomasnorre Once the faulty values landet into the database each display of them causes the here called error. And this causes that the Backend Module cannot be opened anymore.
Casting the integer that made its way into the json in the database to string before displaying it through htmlspecialchars will merely display the faulty value in the Backend Module now instead of displaying a php error an

[2020-06-01 14:01] tomasnorre commented on #576
Truncating the Crawler Queue on updates is always a good idea.

I haven't been able to reproduce this myself yet, so cannot verify the patch you submitted, but from a code review perspective, I can.

[2020-06-01 20:27] xerc commented on #576
fyi/ the wrong data is generated when filling the DB @ SET[crawlaction]=start
the error at `htmlspecialchars` is caused by loading these false information

[2020-06-01 20:48] tomasnorre commented on #576
Thanks for the information, can you perhaps link to the code you are referring to?

[2020-06-02 06:26] brotkrueml opened #584 "buildQueue creates entry for hidden/non-existing localised pages"
## Bug Report

**Current Behavior**
Given is a single-tree multi-lingual project with en als default language and de, pl and tr as other languages. Now create a configuration record with "pidsonly" for a page where only en and de exists as available pages, pl is hidden and tr is not existing. When calling crawler:buildQueue for this configuration four entries are created into the queue table, one

[2020-06-02 07:22] tomasnorre commented on #584
Hi @brotkrueml

I understand the problem here and it's a bug in the crawler, unknown till now.
Do you agree with me, that it's not "critical" as the existing pages will still be crawler as they should be?

Please comment on this so that I know if I assigned the correct priority to this bug.

[2020-06-02 07:58] infabo opened #585 "Serialized string served instead of markup"
## Bug Report

**Current Behavior**
Frontend of website return the following instead of HTML-markup:

[code]

**Expected behavior/output**

I should see the website instead of the serialized string.

**Environment**
- Crawler version(s): 9.0.1
- TYPO3 version(s): 9.5.18
- Is your TYPO3 installation set up with Composer (Composer Mode): yes

**Possible Solution**

**Additional context**

ext:static

[2020-06-02 08:01] tomasnorre commented on #585
Thanks for reporting this. As we already talked about I'm sure if it's related to the crawler or not, but could be.

I'll see when I find the time to look into this.

[2020-06-02 15:36] tomasnorre commented on #576
Can someone please list the concrete steps to reproduce this? I haven't managed to make it fail yet in the crawler devbox.

[2020-06-02 15:46] tomasnorre commented on #585
How does your crawler configuration look like @infabo ?
Earlier it was possible similar to the indexed_search processing instruction to have one for staticcache, back when it was nc_staticfile_cache. But that it's the case anymore.

We/I removed some nc_staticfile_cache hooks some time ago:
https://github.com/AOEpeople/crawler/commit/aea5559

[2020-06-02 15:53] tomasnorre commented on #578
This is strange.. I haven't done anything, that I am aware of at least. Was working on some other issue trying to reproduce that, and now my german lettered files are indexed as well.

![Screenshot from 2020-06-02 17:51:23](https://user-images.githubusercontent.com/1212481/83541440-f2783e80-a4f9-11ea-9d58-452916e5392c.png)

[2020-06-02 15:55] TrueType commented on #578
Haha. Real magic. But a good sign of course.

[2020-06-02 16:00] tomasnorre commented on #578
Yeah, but would like to understand what the difference is. I did a composer update, so I'm on dev-master for the crawler now. Looks like it was locked on an older branch for another feature.

But you are on 9.0.1 too right??

And there aren't' many commits since then and really none that so influence this.
Some composer scripting, some typos, rename of the devbox. Should all be non-related to the

[2020-06-02 16:31] brotkrueml commented on #584
I want to use the extension as cache warmup. Every page that does not exist means, the process command exits with an error and the next run of the process command (when the given grace time is over) will crawl some other pages till the next error. And there are plenty of pages which are not translated in this specific project.

[2020-06-02 18:38] tomasnorre commented on #584
Then it's a higher priority than I saw this. I'll change the label to have it addressed earlier.
Didn't expect the process to stop, with the 9.0.0 version, it started handling 404 and 50x better, but sounds like there still is a problem.

[2020-06-03 15:22] tomasnorre commented on #584
I've tried to reproduce this, but on a 9LTS, which I cannot. You can see that all three languages (default, da, de) are added to the queue, and no errors by processing.

![Screenshot from 2020-06-03 17:19:11](https://user-images.githubusercontent.com/1212481/83655352-9deac700-a5be-11ea-90b1-cc3339b008da.png)
![Screenshot from 2020-06-03 17:19:33](https://user-images.githubusercontent.com/1212481/8

[2020-06-03 15:55] tomasnorre commented on #584
I cannot reproduce the problem with the `processQueue` on 10 LTS either. And I even have problem errors in the crawler log.

Do you have anything special in your setup that I might not think of testing/configuring?

![Screenshot from 2020-06-03 17:54:10](https://user-images.githubusercontent.com/1212481/83659007-4864e900-a5c3-11ea-93e0-e3be706463de.png)
![Screenshot from 2020-06-03 17:54:19](https

[2020-06-03 16:39] tomasnorre commented on #584
This is the site configuration I use for the crawler devbox

[code]

[2020-06-04 05:11] brotkrueml commented on #584
Hmm, thanks, I will try to reproduce this again on Friday.

[2020-06-04 05:27] tomasnorre commented on #584
But as mentioned, I'm aiming to get the non-existing pages to be excluded from the queue, no need for a 3x queue size if they half will give a 404.

Looks to me like a check that should be added to:
https://github.com/AOEpeople/crawler/blob/master/Classes/Controller/CrawlerController.php#L327

[2020-06-04 08:49] TrueType commented on #578
@tomasnorre hi, customer complains about missing files (have spaces). So I will work on the subject again. First thing is i will composer update from v9.5.17 to v9.5.18 and check. As we probably both figure the indexing of the files cannot be a matter of EXT:crawler but of EXT:indexed_search. As the indexing is done solely there. Everything else would be rare.

[2020-06-04 09:40] TrueType opened #586 "flush visible entries in BE info module crawler log"
TYPO3v.9.5.18

There are two buttons for flushing queue entries. One says "flush entire queue", which I guess would wipe the queue table clean. The other says "flush visible entries", which I figure should delete just the entries visible for the page/pagetree shown. But it does NOT restrict on these records but wipes the table clean.  Can someone confirm?

[2020-06-04 15:13] TrueType commented on #578
Ok. Changing this line - https://github.com/TYPO3-CMS/indexed_search/blob/master/Classes/Indexer.php#L630 -
[code]
gets it going. The htmlParser delivers all URIs urlencoded. As the URI is set into 'localPath' it enters another world. Local storage. Non-HTTP. And should be urldecoded().

That is of course all EXT:indexed_search ..

[2020-06-04 15:54] TrueType commented on #578
created a forge issue - https://forge.typo3.org/issues/91586
@bmack perhaps you can kick this into gerrit. should not have any side effects. besides the positive ones. thx

[2020-06-04 18:29] jonaseberle commented on #578
I created a patch from that: https://review.typo3.org/c/Packages/TYPO3.CMS/+/64772 - it would be great if you could test and verify it.

[2020-06-05 05:53] tomasnorre commented on #578
Thanks, for taking care. I'll close this issue as it's not caused by the crawler.

[2020-06-05 05:53] #578 closed

[2020-06-05 06:01] tomasnorre commented on #586
I think you have the dropdown to "all" and therefore it flushed all.
if you switched that to "pending" or "finished" it should only flush that type.

It can be that all of the respected types gets deleted, as we still have this bug:
https://github.com/AOEpeople/crawler/issues/539

Can you please confirm that the type selection works? if that works, I'll make this a duplicate and close it.

[2020-06-05 07:40] kusiboss opened #587 "Crawler exits with an error"
## Bug Report

**Current Behavior**
Crawler exits with an error when trying to fetch certain pages.

`Call to a member function getStatusCode() on null`

**Expected behavior/output**
Crawler should continue and log the error.

**Environment**
- Crawler version: 9.5.14
- TYPO3 version: 9.0.1
- Composer mode: yes

**Possible Solution**
It happens when a request doesn't return a status code because f

[2020-06-05 08:02] tomasnorre commented on #587
Hi,

Thanks for your information. Redirect loops isn't wanted regardless of crawler or not.  I would suggest you solve that first, and test if you still have an issue.

If still an issue, please let me know and add more description on how to reproduce this.

[2020-06-05 08:25] kusiboss commented on #587
Hi,
In my opinion the crawler shouldn't stop in any case when there a problem accessing a page. Redirects are made by authors and mistakes can happen. The error doesn't happen only with redirect loops, it happens when a request doesn't return a status code.

class GuzzleExecutionStrategy
[code]
The catch part shouldn't throw an exception by itself.

Reproduce:
Add a redirect with target to itself

[2020-06-05 08:40] tomasnorre commented on #587
Thanks for the additional information, I'll have a look at this.

[2020-06-05 10:05] brotkrueml commented on #584
Okay, I found the error:

vendor/bin/typo3 crawler:processQueue --amount 20
add process a557b647d6 (1/1)
Error: Call to a member function getStatusCode() on null
Unprocessed Items remaining:844 (a557b647d6)
5

It stuck on a translated page which was created but is hidden. Strangely, calling the URL directly the browser tells me, the connection was resetted (but not for other pages which exist - pe

[2020-06-05 10:12] tomasnorre commented on #584
Thanks.

There is an option to not crawl hidden pages, but I don't know if that will work as a work around for you?

[2020-06-05 10:20] brotkrueml commented on #587
See #584, I will provide a PR shortly.

[2020-06-05 10:21] tomasnorre commented on #587
I was thinking that it could be related but wasn't sure.

[2020-06-05 12:10] brotkrueml commented on #584
The option "Crawl hidden pages" is not activated, but a hidden page is inserted to the queue and will be processed.

[2020-06-05 12:20] tomasnorre commented on #584
Ok, that sounds like a bug then. Will check this out.

[2020-06-05 13:07] #587 closed

[2020-06-06 16:50] tomasnorre commented on #584
Hidden pages in default languages or hidden pages in other languages or both?

I cannot reproduce the "hidden pages in default language" added to the queue.

[2020-06-08 14:36] brotkrueml commented on #584
I have four languages (single-page tree translations): en (default language), de, pl, tr. On a page there is en and de available, pl hidden and tr non-existing. all four languages are added to the queue table.

[2020-06-08 18:33] tomasnorre commented on #584
ok Thanks for following up, Will try to add tests for this. (Not tonight)
Ok if I invite you to do the code review of the tests then?

[2020-06-09 15:26] brotkrueml commented on #584
Sure.

I digged a little bit into it:

CrawlerController->compileUrls(): Only generates a combination of the page id and the query parameters, so that's not the place to interfere.

CrawlerController->getUrlFromPageAndQueryParameters(): This looks more promising. The PageRouter is called which generates the URL (a so-called "route candidate"). It can be that the URL does not exist (like hidden or

[2020-06-09 16:33] tomasnorre commented on #584
I'll be off for vacation from Saturday, so cannot really do much the next days.

Perhaps we should do a pairing season when I get back to have this solved?

[2020-06-18 13:29] rvock opened #595 "Indexing of Cached pages does not work"
## Bug Report

**Current Behavior**
This bug is a bit complicated to describe. Maybe this even is a bug of TYPO3 and not of the crawler extension itself.

When a page is cached in TYPO3's page cache and the indexing process runs, the page will not be indexed.

**Steps to reproduce**
1. Add a crawler queue entry for a cacheable page
2. Call the `Indexing` Module and ensure the page is not indexed
3

[2020-06-18 14:03] rvock commented on #595
`indexed_search` has a hook, which disables the cache, if the current request is a crawler request:
[TypoScriptFrontendHook.php:L34](https://github.com/TYPO3/TYPO3.CMS/blob/e3505066548317a5a0c125d5db3d6893401b7895/typo3/sysext/indexed_search/Classes/Hook/TypoScriptFrontendHook.php#L34)
This hook checks if `TSFE->applicationData['tx_crawler']['running']` is set. This is no longer the case with Craw

[2020-06-30 17:05] tomasnorre commented on #595
Hi @rvock,
Thanks for reporting your problem. Unfortunately, I'm not really sharp in the middleware concept yet, so I would need to ask for someone to way in here.

I'll see whom I can reach.

[2020-06-30 17:40] tomasnorre commented on #343
As version 6.7+ of the Crawler will only get security fixes and bug fixes added, I'll close your issue.

If you think it's still and issue please verify with dev-master and open a new issue.
Please refer the old issue in that case.

Thanks

[2020-06-30 17:40] #343 closed

[2020-06-30 17:41] tomasnorre commented on #306
As version 6.7+ of the Crawler will only get security fixes and bug fixes added, I'll close your issue.

If you think it's still an issue please verify with dev-master and open a new issue.
Please refer to the old issue in that case.

Thanks

[2020-06-30 17:41] #306 closed

[2020-06-30 17:41] tomasnorre commented on #302
As version 6.7+ of the Crawler will only get security fixes and bug fixes added, I'll close your issue.

If you think it's still an issue please verify with dev-master and open a new issue.
Please refer to the old issue in that case.

Thanks

[2020-06-30 17:41] #302 closed

[2020-06-30 17:47] tomasnorre commented on #577
Do you have more info regarding this issue @echavaillaz?

[2020-07-01 06:02] echavaillaz commented on #577
No, we can close. If I have new information, I will come back here.

Thanks

[2020-07-01 06:02] #577 closed

[2020-07-03 09:30] infabo commented on #585
Hey, just discovered: https://github.com/lochmueller/staticfilecache/commit/d925be8e47da0355c9ffa3ca85ac9a7dd47d8705

[2020-07-03 09:30] infabo commented on #585
I guess we can close here. thanks @tomasnorre

[2020-07-03 09:30] #585 closed

[2020-07-07 10:07] netti251 opened #602 "error with processqueue"
## Bug Report

**Current Behavior**
I installed the extension and configured it according to the manual.
Furthermore:
[code]
I can execute buildqueue and flushqueue in the Backend as well as in the command line.

[code]
When I execute processqueue there is no result. In the commandline I get this error:
[code]

No indexed element at all.

**Expected behavior/output**
I expected to process the queu

[2020-07-07 12:32] tomasnorre commented on #602
Hi @netti251
Thanks for reporting. I have allowed myself to edit your post to have better formatting/readability.

I'll have to check if I can reproduce this. I have seen it before, but the issue on this was already closed as they could be reproduced anymore. I'll get back to you.

[2020-07-07 15:27] brotkrueml commented on #602
It should be fixed with bd4a1637627baaf83c67e0c9c948c190fe3d213a in current master.

[2020-07-07 16:01] tomasnorre commented on #602
You're right, I know I had notice/seen something regarding that. Thanks for pointing this out.

Can you please verify with dev-master @netti251?

[2020-07-08 08:36] netti251 commented on #602
Thanks a lot to all.

Of course this error ist eliminated now. It was the only point to find out why the crawler dos not produce the index. But it is still the fact that the crawler seems to process the queue - but I get no index.

Using the mode exec in the command line I will have this result (for all urls):

[code]
Processing in the backend has no result in "status" (and produces no index) but

[2020-07-08 11:01] tomasnorre commented on #602
I'm off sick today, cannot help you futher today.

[2020-07-09 12:45] netti251 commented on #602
once again many thanks
@tomasnorre get well soon!

[2020-07-11 10:33] #263 closed

[2020-07-11 15:12] tomasnorre commented on #447
As the upgrade from the older crawler version to the 9.0.x has given limited problems, I will close this issue.

[2020-07-11 15:12] #447 closed

[2020-07-16 19:50] infabo commented on #558
`config.cache_clearAtMidnight = 1` might be a usecase for crawler.

[2020-07-23 06:54] rvock commented on #595
This issue can be closed, because it was implemented with https://github.com/AOEpeople/crawler/pull/610

[2020-07-23 06:54] #595 closed

[2020-07-23 07:27] tomasnorre commented on #595
Thanks for the update. I thought I had seen some issue from the #610 before, but didn't find it. My bad.
But thanks for doing a little gardening for me.

[2020-07-29 11:43] tomasnorre commented on #516
@tgaertner Should I interpreted this as it works for you?
Then I'll make sure that the documentation will get updated.

[2020-07-29 13:12] tgaertner commented on #516
Sorry for just hitting the close button - was in a hurry. We dropped the crawler from that project (for other reasons) and have atm no possibility and time to test this further. I think if it works for you its fine to add this to the docs.

[2020-07-29 13:20] tomasnorre commented on #516
Thanks for the update. Will still need someone to confirm though.

[2020-07-29 19:49] tomasnorre commented on #185
Added with #612 forgot to references issue.

[2020-07-29 19:49] #185 closed

[2020-08-01 20:16] tomasnorre commented on #271
Resolved with #613

[2020-08-01 20:16] #271 closed

[2020-08-02 12:54] tomasnorre commented on #558
https://github.com/xperseguers/doc-indexedsearch-crawler/blob/master/index.rst

[2020-08-05 12:53] brotkrueml commented on #516
Maybe I am doing something wrong, but the example from above doesnt't work for me. I am using this snippet in TSconfig (the same as above, only page ids have changed):

    tx_crawler.crawlerCfg.paramSets {
        tx_news = &tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&tx_news_pi1[news]=[_TABLE:tx_news_domain_model_news; _PID:473; _WHERE: hidden = 0]
        tx_news {
            # pid

[2020-08-05 13:24] tomasnorre commented on #516
Thanks for the input. I'll look into this again.

[2020-08-05 15:47] tomasnorre commented on #516
In the crawler-devbox setup it worked with the snippet you posted @brotkrueml (Just adjusted the ids)
![Screenshot from 2020-08-05 17:47:01](https://user-images.githubusercontent.com/1212481/89434378-c4a2b680-d743-11ea-9d95-58fca2cd2c88.png)

[2020-08-05 15:51] tomasnorre commented on #516
From cli it also works, the second one does not as it doesn't know about the tx_news configuration on the start page.
![Screenshot from 2020-08-05 17:50:08](https://user-images.githubusercontent.com/1212481/89434775-3ed33b00-d744-11ea-9b0f-95ca25ac156a.png)

[2020-08-06 07:30] brotkrueml commented on #516
Argh, found the problem: The detail page was on the page veto list. Perhaps it would be nice to output the result of CrawlerController->getPageTreeAndUrls() in the buildQueue command (strip HTML first)?

[2020-08-06 09:35] tomasnorre commented on #516
Glad to hear that it works. I'll make sure that the documentation gets update with the tt_news example.

Can you please create a new issue with the suggestion you made, then I'll look into this.

[2020-08-06 12:07] netti251 commented on #602
...no step further until today...

The actual Version of crawler (9.1.0) is installed. Typo3 is now 10.4.4.
Debian 9.13, bootstrap package 11.0.2

I could not find any reason why the crawler is not indexing - and no hint in the web.
It's still the same result.

[code]
All but indexing works fine.
flushQueue and buildqueue are o.k. In the backend as well as in the command line.

Without having an e

[2020-08-06 13:29] tomasnorre commented on #602
you can activate CLI_debuging in the extension settings, don't know if that will help you further but worth a try.

[2020-08-06 14:39] netti251 commented on #602
thank you very much for comment.
This debugging has been activated from the beginning of my problem. But unfortunately it doesn't bring any additional information.

[2020-08-06 14:53] brotkrueml opened #615 "Display error message in buildQueue command"
## Feature Request

**Is your feature request related to a problem? Please describe.**
When starting the buildQueue command with a configuration which doesn't work (e.g. a page veto for that specific page is set) the following result is shown: ``Putting 0 entries in queue``. There is not hint, why they are no entries put into the queue where they should some. See also https://github.com/AOEpeople/

[2020-08-06 14:54] brotkrueml commented on #516
See #615

[2020-08-06 18:24] tomasnorre commented on #602
ok. Can you paste my you configuration and the commands that you are executing?

[2020-08-06 20:00] tomasnorre commented on #615
I'm thinking about how this could be changed. Outputting the HTML doesn't look good in the cli even with strip_tags.
And I'm not sure it gives enough information either.

I'm considering if the `getPageTreeAndUrls()` and  `drawURLs_addRowsForPage()` should return an object of some type instead.
This would have two advantages:

1. Have HTML and logic separated
2. Having the possibility to format th

[2020-08-07 09:11] netti251 commented on #602
Hi and thank you very much
I have attached a file with information about the server and the executed commands (as RTF-file)
[crawler-2.zip](https://github.com/AOEpeople/crawler/files/5040407/crawler-2.zip)
it would be nice if you could find something

[2020-08-07 09:57] tomasnorre commented on #602
You're site configuration or baseUrl is not configured correctly.

`https://wkbinfo/info/aktuelles` isn't a valid URL.

[2020-08-07 10:19] netti251 commented on #602
It's just for internal use, not a public website. Does this cause problems for indexing with crawler? All other parts of the installation work with this URL.

[2020-08-07 11:02] tomasnorre commented on #602
The crawler needs a FQDN, I think, haven't proved it, or try to change it to makring direct request in the crawler settings, might work for your setup too.

[2020-08-07 11:40] netti251 commented on #602
The Crawler-Config is set to makeDirectRequests.

When this is set to false I get

[code]

There is no proxy used for internal purposes.

[2020-08-07 12:26] tomasnorre commented on #602
Please try to set up a valid hostname/FQDN for baseurl or Site Configuration for the "box" or what you are using, Otherwise I'm not sure I can help you further.

A FQDN is expected for a webserver.

[2020-08-07 13:14] netti251 commented on #602
thanks

I tried with a different baseurl in our domain like
https://wkbinfo.xxx.yyy.de/info....

But still the same result when processing
[code]

[2020-08-07 15:17] brotkrueml commented on #615
Yes, a small object is pretty. With a renderText() and a renderHtml() method perhaps. And both use a Standalone Fluid template, so the view is separated from the PHP code.

[2020-08-07 17:26] tomasnorre commented on #615
Thanks for your input, will let you know when I have a review ready, will not be this weekend though ;)

[2020-08-07 17:57] tomasnorre commented on #602
Did you also make sure that it's used in the crawler config?
Did you flush queue and build queue again? Changes like this doesn't effect the existing build queue

[2020-08-08 10:28] netti251 commented on #602
Yes, it was also laid down in the crawler config. I always flush the queue before starting a new test. And I even flush the complete typo3 cache.
 It is to be seen in the backend, that the new URL is used in the queue.

[2020-08-08 12:20] tomasnorre commented on #602
I don't know what more I should suggest to you.
You have to try with a debugger to get further.

Paid Support is also an option:
If you have a devbox setup that I can get installed on my local environment I can try help out with that.
The rates we can dicsuss in email.

[2020-08-08 14:44] brotkrueml commented on #615
That's fine for me, no hurry.

[2020-08-08 16:00] infabo commented on #602
I guess you have a problem that is not directly related to crawler. Check your system can access your website from CLI. Curl or alike

[2020-08-08 16:49] brotkrueml commented on #584
Still relevant ...

[2020-08-08 20:34] tomasnorre commented on #615
I have a small prove of concept already, would need to check the tests, side effects etc. before I can give you something to review and test, but looks like it works how I imagined it.

[2020-08-10 07:33] netti251 commented on #602
thanks for comments

I will answer as soon as possible

[2020-08-10 09:38] netti251 commented on #602
curl can read the pages in the commandline with or without FQDN.

@tomasnorre about the option paid support: First I would prefer one could have a look at my installation via TeamViewer or so. I still believe, the solution could be simple...
How can I get in contact with you to discuss the details? (rates and procedure)

[2020-08-10 09:47] tomasnorre commented on #602
Please contact me over email: tomasnorre@gmail.com

[2020-08-10 16:09] tomasnorre commented on #516
Resolved with commit: https://github.com/AOEpeople/crawler/commit/4532464cbb3282946742c582509cfd2512809261

[2020-08-10 16:09] #516 closed

[2020-08-11 06:21] #586 closed

[2020-08-13 04:54] tomasnorre commented on #602
Follow up: @netti251 and I had a call yesterday and I couldn't find any misconfigurations in the setup.
I have tried myself with the local crawler devbox to run without a FQDN which works as well for Direct Requests.

I'm unsure what the problem can be, sounds to me more like a server setting that a misconfiguration in the TYPO3, but I honestly don't know yet. And as long as it's not reproduceable

[2020-08-13 15:03] Wh0l3 opened #617 "Use crawler V9 in Typo3 10 with configured frontend user groups results in Error"
When I try to crawl a page in the frontend which is only accessible with a login (a.k.a fe_group), and set this frontend_group in the crawler config, it results in an error.

**Current Behavior**
Error output:
Thu, 13 Aug 2020 11:34:05 +0000 [CRITICAL] request="14797fa2f4b5d" component="TYPO3.CMS.Core.Error.DebugExceptionHandler": Core: Exception handler (WEB): Uncaught TYPO3 Exception: Argument 1

[2020-08-14 06:57] PhilippKuhlmay opened #618 "[DOC] Troubleshooting - Crawler shows error if the php path is not correct"
## Feature Request

**Is your feature request related to a problem? Please describe.**
After I added the ext:crawler at my homepage, I got an TYPO3 exception in Info-Module.

**Describe the solution you would like**
The reason was, that I needed to add the PHP path within the extension configuration. After adding this it worked.

**Describe alternatives you've considered**
There is no known altern

[2020-08-14 11:37] tomasnorre commented on #602
@netti251

I don't recall is your server setup, apache? Nginx? or something else. Just trying to see what I could change to reproduce the problem.

[2020-08-14 12:47] netti251 commented on #602
Hi

it is currently like that:

Apache/2.4.25 (Debian)
PHP 7.4.8

Thanks a lot

[2020-08-14 21:45] infabo commented on #602
1) get the requested page or pages indexed when you visit the page in the browser?
2) did you set any configuration which results in a no-cache situation? No cache -> No index.
3) did you set the baseurl in the crawler indexing db-record?

[2020-08-15 11:32] netti251 commented on #602
@infabo

1. yes, frontendindexing works. I disabled it because of the bug mentioned at the start of this issue (https://forge.typo3.org/issues/84541). But in general the pages can be indexed.
2. no (amongst other things verified by no 1)
3. we tried all combiantions of set/not set the baseurl in Extension Configuration and Crawler Configuration as well as with FQDN or simple server name

Once agai

[2020-08-15 18:54] infabo commented on #602
Just to clarify: crawler does not Index anything by itself. It just visits URLs. So for indexed_search `Index.enable=1` is a requirement to build up the index. Or did I get that wrong?

[2020-08-16 07:59] netti251 commented on #602
You are right:

It is set in the template setup
[code]

In the extension config for indexed search is set
[code]

This means only that there is no indexing via frontent. The ability to index the pages is not affected. (but of course I tested this also with disableFrontendIndexing = false - without any difference in the behaviour)

[2020-08-18 14:57] netti251 commented on #602
OK - here is an update

Some earlier I mentioned I have a proxy entry to reach the TER. It was set in

Settings
Configure Installation-Wide Options ([HTTP][proxy])

Some more processes obviously try to use this proxy although there is no need for it.

The setting now is
[code]
and in Crawlers Extension Configuration
[code]

Now it seemed that the Crawler works fine in the command line. (with and w

[2020-08-19 02:52] tomasnorre commented on #602
I'm happy to hear that you found the problem.
I'm not sure how to help you further.

[2020-08-19 12:44] netti251 commented on #602
OK, so I will go on this way.

Thanks to all - especially to @tomasnorre - for your help and patience!

[2020-08-19 12:44] #602 closed

[2020-08-20 17:53] tomasnorre commented on #617
I can confirm this problem. I'll see what I can do to fix this.

[2020-08-20 18:25] tomasnorre commented on #617
@Wh0l3  I think i found a solution. Could you please verify this branch?
https://github.com/AOEpeople/crawler/tree/issue/617

[2020-08-21 05:10] tomasnorre commented on #618
@PhilippKuhlmay Could you perhaps provide a PR with the change?
https://github.com/AOEpeople/crawler/blob/master/Documentation/Troubleshooting/Index.rst

[2020-08-21 06:46] PhilippKuhlmay commented on #618
@tomasnorre Yes I can do this.

[2020-08-31 06:49] PhilippKuhlmay commented on #618
This is merged in #619

[2020-08-31 06:49] #618 closed

[2020-08-31 07:50] tomasnorre commented on #618
Sorry forgot to close this. Thanks for taking care.

[2020-09-02 08:43] typecat opened #620 "[BUG] Type Error Exception when localizing FAL resources"
## Type Error Exception when localizing FAL resources

**Current Behavior**
When using the  "Localize all records"  button for FAL resources in a localized record following exception is thrown:

The FAL resources get  localized anyway, but the editor receives an "Error 500 Internal Server Error" flash message and needs to reload the form to see that the localization happened.

**Expected behavior/

[2020-09-02 09:09] Wh0l3 commented on #617
I took some code from the core-extension "adminpanel"... and that seemed to do the job

As I was not able to pull the issue correctly, here is the code i got:

Classes/Middleware/FrontendUserAuthentication.php, line 92-108:

if ($grList) {
            $frontendUser = $request->getAttribute('frontend.user');
            $frontendUser->user[$frontendUser->usergroup_column] = '0,-2,' . $grList; //'0,

[2020-09-02 10:34] tomasnorre commented on #617
Thanks, I'll be checking this out, beginning next week. Off for the next couple of days.

[2020-09-02 11:51] tomasnorre commented on #538
/remove staled

[2020-09-02 11:51] tomasnorre commented on #539
/remove staled

[2020-09-02 11:52] tomasnorre commented on #376
/remove staled

[2020-09-02 11:52] tomasnorre commented on #336
/remove staled

[2020-09-06 16:23] tomasnorre commented on #580
/remove staled

[2020-09-09 12:48] #539 closed

[2020-09-09 13:20] tomasnorre commented on #539
/remove staled

[2020-09-09 16:25] tomasnorre commented on #617
@Wh0l3 I can confirm that it's working like intended now, can you please confirm that the PR is working?
Thanks

[2020-09-09 16:41] tomasnorre commented on #620
hi @typecat

Can you please add steps on how to reproduce this? I don't find the "Localize all Records" button. And not sure what you mean by a FAL resource.

[2020-09-09 16:46] tomasnorre commented on #615
Doh, I have deleted my branch, so would need to do this again..

[2020-09-10 06:52] Wh0l3 commented on #617
@tomasnorre Downloaded and testet. It works like intended now, I got an OK status on a groups-protected page

[2020-09-10 07:09] tomasnorre commented on #617
@Wh0l3 Super, happy to hear. Do you mind doing the Code Review too? Then I'll have this merged and added in the next release.

[2020-09-10 07:19] #617 closed

[2020-09-10 07:19] tomasnorre commented on #617
Thanks a lot @Wh0l3

[2020-09-11 10:50] rintisch commented on #620
I get this error (only sometimes) when starting a symfony command via CLI and now I also got this error when deleting multiple pages with list module (this seems to happen every time).

Here's a screenshot, hope this helps.

![grafik](https://user-images.githubusercontent.com/44193208/92915698-1a4a3d00-f42d-11ea-9f61-ee3cb84a9d5d.png)

[2020-09-11 12:05] tomasnorre commented on #620
Thanks for your input @rintisch. I have an idea where the problem lies, but as long I don't have good steps to reproduce, I cannot be sure all use cases are caught.

But the deleting pages I would need to test manually, that can be added to an automated test as well, so thank a lot for the additional information.

[2020-09-11 12:25] rintisch commented on #620
@tomasnorre You're welcome. And: As I wrote the comment above I forgot that my console command deletes (multiple) pages with as well so I guess it's the same problem as deleting them manually.

Thanks for digging into it!

[2020-09-11 12:27] tomasnorre commented on #620
@rintisch Do you have the cli command that you can share? Would help me.

[2020-09-11 12:32] rintisch commented on #620
That's the code which delete the pages:

[code]

[2020-09-11 12:33] tomasnorre commented on #620
oh. Now I get you @rintisch , thought it was a generic cli command from typo3 or typo3cms.

I'll will test it with this snippet.

[2020-09-15 11:44] typecat commented on #620
Hi @tomasnorre the error occurs e.g. in a filed with following TCA configuration:

[code]

[2020-09-21 11:31] schliesser commented on #576
I get the same error in a multisite instance with TYPO3 9.5.21 & crawler 9.1.0 on the root pages. This is since I created also `Indexing Configuration` with PageTree Mode. I have also `Crawler Configuration` set up for each root page.

[2020-09-21 12:24] tomasnorre commented on #576
Can you please add steps to reproduce @schliesser ?

[2020-09-22 09:53] schliesser commented on #576
Hey, sorry for late response. Had to finish a go-live ;-)

Tested in [TYPO3 cms 9.5 branch](https://github.com/TYPO3/TYPO3.CMS/tree/9.5) with introduction package and crawler 9.1.0:

1. List: Create Crawler configuration on root page
![Bildschirmfoto 2020-09-22 um 11 38 37](https://user-images.githubusercontent.com/11655823/93867185-f7d7df80-fcc8-11ea-8396-3f2b8f58b6c0.png)

2. Info > Site crawler

[2020-09-22 16:24] tomasnorre commented on #576
I can reproduce this locally. And the problem is that with the "indexing configuration" an additional information is added to the params in the database in the beginning of the params

[code]

Will need to check why this is added though, as is doesn't look like a valid record.

It's does not happen in TYPO3 10.4 by the way. But you never claimed that ;) Just wanted to let you know.

[2020-09-22 16:37] tomasnorre commented on #576
Strange I could reproduce it the first time, but not again.. :(

[2020-09-22 16:44] xerc commented on #576
yea.. this is why most of us could not generate this extended report afterwards // thx @schliesser

[2020-09-22 16:45] tomasnorre commented on #576
I found the problem, but not the solution yet.

https://github.com/AOEpeople/crawler/blob/master/Classes/Hooks/IndexedSearchCrawlerHook.php#L439

[2020-10-01 10:50] Norcoen commented on #262
I still get
[code]
when running crawler scheduler Job on TYPO3 7.6 eLTS with crawler 6.7.1

[2020-10-01 11:12] tomasnorre commented on #262
Could you please create a new issue: Then I'll be happy to take a look at it.

[2020-10-01 11:42] Norcoen commented on #262
thanks for the fast reply @tomasnorre

it is the same error @stweil had in 2018 a few rows above
Still better to create a new issue?

[2020-10-01 12:30] tomasnorre commented on #262
No then it's not needed. But will have to dig into this again.

I don't have a non-composer setup with 7.6 right now, so would need to recreate that for testing.

[2020-10-01 13:07] Norcoen commented on #262
I'm not sure how to reproduce this error yet... my best guess is, that it is somehow related to having EXT:compatibility6 installed

[2020-10-01 15:42] tomasnorre commented on #262
I cannot say either. But if you find a way, that would be really helpful to me.

[2020-10-07 11:26] vzz3 opened #625 "exclude of tx_crawler_configuration does not work"
## Bug Report

**Current Behavior**
The `crawler:buildQueue` command returns URLs for pages that are listed in the `tx_crawler_configuration.exclude` field.

The problem occurs in the method `drawURLs_addRowsForPage()` from class `AOE\Crawler\Controller\CrawlerController` in line 1458.
[code]
The problem is that  `$pageRow['uid']` contains an **integer** while the method `$this->expandExcludeStrin

[2020-10-09 05:06] tomasnorre commented on #584
/remove staled

[2020-10-09 10:27] tomasnorre commented on #625
Thank you for your information @vzz3, I think some text/words are missing in the last sentence about Additional Context, I'm not sure how to understand that information.

Could you please update this.

[2020-10-09 10:48] tomasnorre commented on #625
@vzz3 Could you please check that the PR solves your problem? I think this is the cleanest solution with the current state of code.

[2020-10-09 10:51] vzz3 commented on #625
I have update the additional context section of my bug report. However, i think it is not important for the bug report. I only have explained my use case for the *exclude page*, because your bug report template "asked" for *Additional context*.

[2020-10-09 13:23] tomasnorre opened #627 "Add progress bar to cli commands"
## Feature Request

It would be great to have some progress bar, e.g. https://symfony.com/doc/current/components/console/helpers/progressbar.html for the CLI commands to see and progress.

**Describe alternatives you've considered**
https://symfony.com/doc/current/components/console/helpers/progressbar.html

[2020-10-09 15:19] vzz3 commented on #625
I tested your PR #626 and it solves my problem.

[2020-10-09 16:11] tomasnorre commented on #625
Thanks for testing. I'll have it merge and see when I'll do a release.

[2020-10-09 16:12] #625 closed

[2020-10-09 16:15] vzz3 commented on #625
Thank you for your fast fix!

[2020-10-09 17:21] tomasnorre commented on #625
Thank you for testing it. :) Wish all fixed was that fast, but I have many that is way to old :(

[2020-10-15 22:44] ayacoo opened #634 "[BUG] getUrlsForPageId() must be of the type int, null given"
## Bug Report

**Current Behavior**
Due to a wrong setting I got the following error message in the page properties:

`Argument 1 passed to AOE\Crawler\Controller\CrawlerController::getUrlsForPageId() must be of the type int, null given, called in [...]web/typo3conf/ext/crawler/Classes/Controller/CrawlerController.php on line 394`

`$res = $this->getUrlsForPageId($pageRow['uid']);`

Reproducable w

[2020-10-16 09:43] tomasnorre commented on #634
Thanks will check it out.

[2020-10-16 20:37] tomasnorre commented on #634
Hi @ayacoo,

How do you reproduce the error besides adding the
[code]
to the Page TsConfig?

[2020-10-16 21:31] ayacoo commented on #634
@tomasnorre I use an import of TsConfig in a sysfolder outside of root pages. When I change a page, I get the error. Crawler
then tries to call up page 123456 and this does not work.

![screen](https://user-images.githubusercontent.com/5963331/96310457-a987d900-1007-11eb-8477-11738b10ff32.png)

[2020-10-16 22:26] tomasnorre commented on #634
Thanks will check it out.

[2020-10-17 10:32] tomasnorre commented on #634
I've found the problem. In the https://github.com/AOEpeople/crawler/blob/master/Classes/Hooks/DataHandlerHook.php#L29 we do not check if the page exists or not and if it gets added to the queue and doesn't exist the function getUrlsForPageId() cannot figure out if it should be skipped or not.

So I need to add a check for if the page exists, I'm currently working on added tests to prove that my fi

[2020-10-17 10:48] tomasnorre commented on #634
@ayacoo Could you please check if this PR solves your problem?

[2020-10-17 11:08] carstendietrich commented on #627
Hey @tomasnorre
is there already somebody working on this? I'm a little bit low on Hacktoberfest contributions this year so why not going back to my TYPO3 roots 😁

Had a quick look at the commands that the extension registers, guess there are only two that could benefit from a progress bar. That would be `crawler:buildQueue` with the `--mode exec` and then the `crawler:crawlQueue` command. The fir

[2020-10-17 11:16] tomasnorre commented on #627
Hi @carstendietrich

I didn't know you did TYPO3 too ;)

No one is working on this, as far as I know so feel free to add this, that would be really cool.
I think one PR should be enough, but depending in the size of them, you can decide if you want to split them into one or two.

[2020-10-17 11:19] tomasnorre commented on #627
I just read your comment again. I think I would split it into two PRs.

The CrawlerController is a little more sensitive to changes, so could have a little more ping-pong before it gets accepted, so I think splitting them into two would give a better overview of the change and have an earlier progress

[2020-10-17 11:30] carstendietrich commented on #627
Cool that's what I thought as well. I'll start with the crawler:buildQueue since it should be an easy win 😎

[2020-10-17 11:42] ayacoo commented on #634
@tomasnorre Can confirm it via 9.5.22 :-) Thanks!

[2020-10-17 12:45] tomasnorre commented on #634
Super. I'll merge it and have a new release done this weekend.

[2020-10-17 12:46] #634 closed

[2020-10-21 06:14] rintisch opened #637 "Module "Info" throws `findYoungestEntryForProcess() on null`"
## Bug Report

**Current Behavior**
When the command `crawler:processQueue` runs an error `Call to a member function findYoungestEntryForProcess() on null` is thrown in Module _Info_.

**Expected behavior/output**
Module _Info_ allows the inspection of the crawling process

**Environment**
- Crawler version(s): [9.1.1]
- TYPO3 version(s): [9.5.22]
- Is your TYPO3 installation set up with Composer

[2020-10-21 06:53] tomasnorre commented on #637
Thanks for your report @rintisch.

Did you update recently? And can you confirm if it's an issue in 9.1.0 as well.

[2020-10-21 07:47] rintisch commented on #637
@tomasnorre I updated recently and worked in 9.1.0 - sorry that I forgot this information.

[2020-10-22 05:55] tomasnorre commented on #637
No problem, just helps me debug as I know from where to start searching for the mistake.
Thanks.

[2020-10-23 16:22] tomasnorre commented on #637
@rintisch I now had a chance to look at this, unfortunately, I cannot reproduce this with the Crawler Devbox.

But could you please try to change the constructor in the Domain/Model/Process.php to
[code]
So that the QueueRepository created with new instead of the ObjectManager.

I think that might work, but as I cannot reproduce this myself self it looks like it could be the problem compare to oth

[2020-10-24 06:15] tomasnorre commented on #637
I can now reproduce this:

1. from cli or backend add Pages to the Queue
2. go to in the info module `Crawler Processes`
3. Add a new Process and the error will occur

[2020-10-24 06:20] tomasnorre commented on #637
The suggestion from https://github.com/AOEpeople/crawler/issues/637#issuecomment-715442424 doesn't change a thing. At least not in the case I have found.

Will dig more into this during the next days.

Can you please confirm that you can reproduce it with the steps I have written too @rintisch ?

[2020-10-24 06:36] tomasnorre commented on #637
I have found the Problem but not the solution.

The problem is that the https://github.com/aoepeople/crawler/blob/master/Resources/Private/Templates/Backend/ProcessOverview.html#L71 is using the Process Object and fetching data directly on it from Fluid.

The dependency injection is not working like expected any more when called from Fluid.
I am pretty sure the problem is introduced with one of th

[2020-10-24 06:58] tomasnorre commented on #637
I will need to change a lot of calls where the QueueRepository and ProcessRepository are used to get this fixed.

Will let you know when I have a fix for this to test.

[2020-10-24 17:46] tomasnorre commented on #637
@rintisch could you please test this PR? And let me know if that fixes your problem.

Thanks.

[2020-10-26 06:46] rintisch commented on #637
@tomasnorre

**First:** Thanks for digging into it!

My steps are always the following:

- from backend add Pages to the Queue with the module _Scheduler_ (command = `crawler:buildQueue ... --mode=queue`)
- start crawler from module _Scheduler_ (command = `crawler:processQueue`)
- go to in the module _Info_ → _Crawler Processes_
- see error

With the PR it does not throw an error any longer but I

[2020-10-26 07:13] tomasnorre commented on #637
ok. I'll dig a little more.
Thanks for updating me.

[2020-10-26 08:18] rintisch opened #639 "Improve documentation about crawler configuration / cache warmup"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have access restricted pages and I did not understand directly how the caching in TYPO3 works. As a result I created just a single crawler configuration although my user can have multiple `usergroup` configuration.

**Describe the solution you would like**
A hint in the documentation that a proper cache warmup

[2020-10-26 16:02] tomasnorre commented on #637
I can reproduce the second issue too. As it's tightly related to the fix, I'll keep this handle as one issue as I think I introduced during the fix.

[2020-10-26 17:14] tomasnorre commented on #637
@rintisch Can you please test branch issue/637 again, I think I have solved both problems now.

[2020-10-27 05:42] rintisch commented on #637
@tomasnorre The crawler does not throw an error, but unfortunately no cache is created.
![grafik](https://user-images.githubusercontent.com/44193208/97261593-6a376480-181f-11eb-801c-909d92e4989b.png)
The processing time is much too short (5s), normally crawling those 76 pages needs a few seconds...

[2020-10-27 05:49] tomasnorre commented on #637
ok. That's part I must honestly say I haven't proved, as I believed in the process state. Will check.

[2020-10-27 16:57] tomasnorre commented on #637
@rintisch Which cache tables do you prove after the process is done?

[2020-10-27 19:27] #627 closed

[2020-10-28 06:45] rintisch commented on #637
Hm, I watched the memory usage of my redis container. When cache is build up it need a few MB more memory - that was my indicator. I will tomorror have a look at it.

[2020-10-28 07:08] tomasnorre commented on #637
Thanks. The crawler has no direct influence on Redis, the Crawler do nothing but visiting the page. So i'm pretty sure that this is not an Crawler issue, if an issue. I'll keep this open till I have your feedback. I could be wrong :)

[2020-10-28 21:07] tomasnorre opened #642 "[BUG] Crawler return invalid content/cache to StaticFileCache"
## Bug Report

This bug is still WIP in regard to describing it. But to not lose the problem I'll write down what I have for now.

There is an issue on the Static File Cache GitHub on Crawler Compatibility:
https://github.com/lochmueller/staticfilecache/issues/260

The crawler appears to have some issues with the Middleware Handling and the content/caching that is handled over to the StaticFileCac

[2020-10-29 06:37] rintisch commented on #637
I tested now with once more, this time with caching in DB to see directly what happens:
With version 9.1.0 I get the following:
![grafik](https://user-images.githubusercontent.com/44193208/97532103-ebc0fb00-19b5-11eb-96e2-6049ecb4b095.png)
→ Cache in DB gets filled (checked with phpMyAdmin)

With 9.1.2-dev:
Same times as posted above, cache in DB stays empty.

So I checked the Crawler log:
![grafi

[2020-10-29 06:52] tomasnorre commented on #637
OK. Now I think we are approaching a new issue, would you mind creating a new one with the latest information?

[2020-10-29 07:04] rintisch opened #643 "[BUG] Error 500 if crawler configured with a `fegroups` in TYPO3 9LTS"
## Bug Report

**Current Behavior**
If a crawler configuration is configured with an entry in `fegroups` the cache is not created and the backend module _Info_ → _Site Crawler_ → _Crawler Log_ shows in column _Status_ `Error: 500 Internal Server Error...` when the crawler tried to crawl the page
![grafik](https://user-images.githubusercontent.com/44193208/97535690-4d846380-19bc-11eb-9934-224630344

[2020-10-29 07:04] rintisch commented on #637
I created the issue #643 - I think you can close this ticket.

[2020-10-29 07:07] tomasnorre commented on #637
Thanks, will have this merged before closing it. Thanks for you fast feedback makes it a lot easier to provide fixes.

[2020-10-29 07:17] rintisch commented on #637
Thank you for digging so much into it!

[2020-10-30 05:25] #637 closed

[2020-10-31 06:53] tomasnorre commented on #643
This is related to #617 which was surposed to be fixed in https://github.com/AOEpeople/crawler/commit/f1a095cf0f236cf6c2d5eb9285b3e678bc1fd3fb. Unfortunately it does not look like that's the case.

It looks like we only fixed this for TYPO3 10, without proper testing for  TYPO3 9.
I'll see what I can do to have this fixed for both versions.

The parent commit of the merge for issue #617 is working

[2020-11-01 15:21] tomasnorre commented on #336
Still relevant

[2020-11-01 15:21] tomasnorre commented on #376
Still relevant

[2020-11-01 20:49] tomasnorre commented on #643
@rintisch can you please check that this PR fixes your problem.
https://github.com/AOEpeople/crawler/pull/646

Thanks

[2020-11-02 06:01] rintisch commented on #643
@tomasnorre this PR works.
Thank you! I cannot test as fast as you fix ;)

[2020-11-02 11:17] tomasnorre commented on #643
Thanks I'll make sure it gets merged and a new release made.

I'm just really happy that having interaction and feedback, this motivates me a lot to have fixes done fast.
Thank you so much.

[2020-11-02 11:18] #639 closed

[2020-11-05 19:24] #643 closed

[2020-11-07 08:11] tomasnorre commented on #643
New release 9.1.2 is out.

[2020-11-11 08:27] PhilippKuhlmay opened #649 "[BUG] TypeError: Argument 1 passed to CrawlerController::getUrlsForPageId() must be of the type int, null given"
## Bug Report

**Current Behavior**
When I create a scheduler task with the task crawler:buildQueue and set the option `page` to 0, the task throws an error.
<img width="1143" alt="Bildschirmfoto 2020-11-11 um 09 18 39" src="https://user-images.githubusercontent.com/57705869/98787203-7b779800-23ff-11eb-8fe4-59daf95f3b84.png">
When I set the page to 1, it works as expected.

**Expected behavior/out

[2020-11-11 08:43] tomasnorre commented on #649
Please try it out with 1 as start page. 0 I'm not sure it works.

[2020-11-15 13:00] #642 closed

[2020-11-21 20:34] tomasnorre commented on #576
Still relevant

[2020-11-22 11:02] tomasnorre commented on #580
Still relevant

[2020-11-22 14:28] #376 closed

[2020-11-25 12:41] Freshmeat-ch opened #657 "Usage of PHP 8 Function str_contains"
## Bug Report

**Current Behavior**
Backend Module "Log" can not be used.

**Expected behavior/output**
When switching to Crawler Log the Backend > Info shows an Error / no content.

**Environment**
- Crawler version(s): 9.1.3
- TYPO3 version(s): 9.5.23
- Is your TYPO3 installation set up with Composer (Composer Mode): [no]

**Possible Solution**
Replace
`if (str_contains($resStatus, 'Error:')) {`

[2020-11-25 12:48] tomasnorre commented on #657
Thanks for your report @Freshmeat-ch you are indeed correct, I was a little to fast there.

Will change this and have a new release done.

[2020-11-25 12:48] Freshmeat-ch opened #658 "Flushing queue not working - caused by Class Assert\Assert not found"
## Bug Report

**Current Behavior**
In a non-composer context, flushing the queue runs into an Error caused by an ussage of beberlei/assert.
`Assert::that($crawlAction)
            ->inArray(['start', 'log', 'multiprocess']);`
crawler/Classes/Value/CrawlAction.php:33
crawler/Classes/Value/QueueFilter.php:33

**Expected behavior/output**
No Error should be thrown.

**Environment**
Crawler version(s

[2020-11-25 12:50] tomasnorre commented on #658
Thanks for reporting @Freshmeat-ch

[2020-11-27 19:08] tomasnorre commented on #657
As the crawler requires the `symfony/console` which again requires the `symfony/polyfill-php80` this is "only" an issue i non-composer mode.

https://packagist.org/packages/symfony/console

[2020-11-27 20:47] #657 closed

[2020-11-27 20:50] tomasnorre commented on #658
This is resovled with #660

[2020-11-27 20:50] #658 closed

[2020-11-27 21:20] tomasnorre commented on #658
@Freshmeat-ch please test with version 9.1.4

[2020-11-27 21:20] tomasnorre commented on #657
@Freshmeat-ch Please test with version 9.1.4

[2020-11-29 16:16] gelbehexe opened #662 "Bug in cli command 'crawler:processQueue' related to 'trustedHostsPattern'"
## Bug Report

**Current Behavior**
When using cli command 'crawler:processQueue' the following exception is thrown

Uncaught TYPO3 Exception #1396795884: The current host header value does not match the configured trusted hosts pattern! Check the pattern defined in $GLOBALS['TYPO3_CONF_VARS']['SYS']['trustedHostsPattern'] and adapt it, if you want to allow the current host header 'mydomain.de:807

[2020-11-29 16:43] tomasnorre commented on #662
Thanks for your bug report @gelbehexe. I'll take a look at this.

[2020-11-30 20:02] #662 closed

[2020-12-02 17:01] tomasnorre commented on #620
Hi @typecat and @rintisch ,

Could you please check this PR to see if that solves your issue here?
https://github.com/AOEpeople/crawler/pull/667

I don't find a way to reproduce, so I'm trying to solve it from how I read the stacktrace.

[2020-12-02 17:26] #579 closed

[2020-12-03 09:53] mihirbhatt opened #669 "While accessing crawler log from backend module "info""
![crawler-bug1](https://user-images.githubusercontent.com/2562193/100993449-6e237880-357b-11eb-99a3-1b0fbef0b070.png)

## Bug Report

**Current Behavior**
While accessing crawler log from backend module "info", It throws error of htmlspecialchars function

**Expected behavior/output**
It should show the crawler logs of all the urls

**Environment**
- Crawler version(s): 9.1.4
- TYPO3 version(s): 9

[2020-12-03 11:59] tomasnorre commented on #669
Thanks for your input @mihirbhatt,

Can you provide steps on how so reproduce this?
Do you e.g. use indexed_search together with it?
If so might it be a duplicate of https://github.com/AOEpeople/crawler/issues/576 ?

[2020-12-03 20:14] tomasnorre commented on #558
Bounty T-shirt of your choice:
https://shop.localheinz.com/collections/t-shirts/products/merged-t-shirt

[2020-12-03 21:07] xperseguers commented on #558
Branch T-Shirt is nice ;-)

[2020-12-03 21:19] PhilippKuhlmay opened #671 "[BUG] Labels in scheduler module contains html"
## Bug Report

**Current Behavior**
The labels within a task in the scheduler module contains html.
<img width="725" alt="Bildschirmfoto 2020-12-03 um 22 13 18" src="https://user-images.githubusercontent.com/57705869/101089341-52d55f00-35b5-11eb-9749-8db08f0ad008.png">

**Expected behavior/output**
The labels should not contain html.

**Environment**
- Crawler version(s): 9.1.4
- TYPO3 version(s):

[2020-12-04 04:29] tomasnorre commented on #558
I like them a lot too.

[2020-12-04 04:33] tomasnorre commented on #671
Hi @PhilippKuhlmay

This is a core problem, haven't found a ticket on forge for it yet. But will create one.
![Screenshot from 2020-12-04 05:32:58](https://user-images.githubusercontent.com/1212481/101122241-49b6b300-35f2-11eb-9876-54beafa37161.png)

[2020-12-04 04:33] #671 closed

[2020-12-04 04:39] tomasnorre commented on #671
I've added a issue on forge now.
https://forge.typo3.org/issues/92983

[2020-12-06 16:54] tomasnorre opened #673 "[BUG] Flush entire queue isn't workingq"
## Bug Report

**Current Behaviour**
When having a Crawler Queue and wanted to flush the entire queue, that isn't working.
Currently only flush visible queue is working.

This is only a problem when "pending" or "finished" is selected. If "all" is selected, it wipes the queue as expected.

**Expected behaviour/output**
The Flush entire queue should work as before.

**Environment**
- Crawler versio

[2020-12-06 17:22] #673 closed

[2020-12-08 11:50] tomasnorre commented on #584
remove stale

[2020-12-08 17:32] tomasnorre opened #678 "[DEPRECATE] Property queue->qid should be deprecated"
Back in the days the qid was used as unique identifier for the Crawler Queue, but this isn't really needed, we will switch to the normal uid identifier, which will make the $queue->qid property deprecated.

[2020-12-11 07:51] bh-teufels opened #679 "Sites/URLs get crawled but not indexed"
## Bug Report

**Current Behavior**
Pages get crawled (URLs in crawler log correct) but not indexed.
If i call the URLs from the log manually the page/record get indexed

**Expected behavior/output**
all generated queue (urls) will be indexed automatically

**Environment**
- Crawler version(s): 9.1.4
- TYPO3 version(s): 9.5.22
- PHP Version: 7.3
- Composer Mode: yes

**Configuration**
- Multi-Doma

[2020-12-11 09:25] rintisch commented on #620
Hi @tomasnorre,
sorry for the delay.
I can just report: It's working on my machine now 👍

[2020-12-11 09:37] tomasnorre commented on #620
Thanks for confirming, I'll have this merged and released soonish then.

[2020-12-11 21:27] #620 closed

[2020-12-11 21:30] #649 closed

[2020-12-15 09:42] bh-teufels commented on #679
Hello @tomasnorre did you need further informations?

[2020-12-15 12:14] tomasnorre commented on #679
No, I don't need further information atm, but I need to verify the problem to be able to label and address it correctly.
Didn't get to it yet.

[2020-12-18 15:42] vincentvega123 commented on #679
Hello, same problem here with a Typo3 10.4-Installation and crawler 9.1.4 (PHP 7.3). Configuration is quite similar to the given one above, but I am only crawling the Pagetree (no records, etc.). After crawling the pages (status OK afterwards), no pages are indexed. If I turn off „disable indexing in frontend“ in the indexed_search config, pages are indexed (while accessing manually in the fronten

[2020-12-18 16:07] tomasnorre commented on #679
Thanks for confirming.
Upgrade from 8.7 -> 10.4 is also two quite different crawler versions.

I'll see if find a way to added tests for this to make it reproducible, this is the best way to have it fixed.

PRs are of course more than welcome.

[2020-12-18 17:50] tomasnorre opened #680 "[DEPRECATE] Make sure that TYPO3 Core needed classes is deprecated"
When [(1)](https://review.typo3.org/c/Packages/TYPO3.CMS/+/67183) is merged, please make sure that the changes are reflected in the Crawler and not used functions are marked as deprecated.

1) https://review.typo3.org/c/Packages/TYPO3.CMS/+/67183

[2020-12-18 20:35] tomasnorre commented on #679
@bh-teufels Do I read this correct, that the checkbox for Re-indendex is not checked?

Like this?
![Screenshot from 2020-12-18 21:34:22](https://user-images.githubusercontent.com/1212481/102658931-d88e0880-4178-11eb-9089-861aad5df902.png)

If that's the case that would explain why it's not indexed.

The direct request = false problem sounds like unrelated and perhaps a different problem.

[2020-12-19 10:01] vincentvega123 commented on #679
In my Case the re-indexing is active. If it helps for debugging, I can install a clone of the website and give you access to the backend and FTP. I am sorry, that I can not contribute further, since I am not a coder.

[2020-12-19 10:11] tomasnorre commented on #679
Don't need to worry. That you are confirming and offering help is also a huge help. Not every contribution needs to be code.
I'll see if I find a way to debug before you have the hassle of giving me access.

[2020-12-19 14:01] bh-teufels commented on #679
i tried with both option (Re-indexing on and off) neither worked.
i will try to reproduce the errors with crawler devbox in the next days

[2020-12-19 14:05] tomasnorre commented on #679
Thanks that could be really helpful. If you can reproduce it there, it's just me not getting the problem correct. And that I can learn from :)

[2020-12-20 10:09] bh-teufels commented on #679
in my case it seems to had a conflict with the lochmueller/staticfilecache Extension.
I deactivated the staticfilecache Extension and give the crawler a run overnight and it seems to working.
i tired reactivate the staticfilecache Extension to reproduce the arrow but strangely enough now i could not reproduce it.
Maybe it was something with class autoload and fixed it by deactivate/activate of the

[2020-12-20 10:18] tomasnorre commented on #679
Could it be related to this?
https://github.com/AOEpeople/crawler/issues/642
https://github.com/AOEpeople/crawler/commit/0f7cb6abac4d8d6e228b0385665dc02f17cdfdcb

This is released yesterday in the 9.1.5 version. But was in default branch for some time.

[2020-12-20 10:25] bh-teufels commented on #679
i could reproduce the error

An error occurred trying to process items for field "Processing instruction filter" (TYPO3 Fatal Error: Extension key "tx_staticfilecache_clearstaticfile" is NOT loaded!).

I am on
lochmueller/staticfilecache : 9.0.0
crawler: 9.1.4

Maybe i had to update staticfilecache and give it a try

[2020-12-20 10:26] tomasnorre commented on #679
The fix I'm talking about is in the Crawler and not StaticFilecache.

Try to update the Crawler.

[2020-12-20 10:48] bh-teufels commented on #679
still got the error
`An error occurred trying to process items for field "Processing instruction filter" (TYPO3 Fatal Error: Extension key "tx_staticfilecache_clearstaticfile" is NOT loaded!).`
on
lochmueller/staticfilecache : 9.0.0
crawler: 9.1.5

[2020-12-20 10:56] tomasnorre commented on #679
Just seeing this `tx_staticfilecache_clearstaticfile` where is this coming from? Which extension is that?
The extension key for the Staticfilecache is `staticfilecache` so not sure where this is coming from.

If there is a new version for the `lochmueller/staticfilecache` that is supported on your setup I would try to update that too.

[2020-12-20 11:04] bh-teufels commented on #679
simple update of staticfilecache to version 10.* or 11.* not working
getting error FE/BE with both versions so have to see when I find the time to examine it more closely

[2020-12-20 11:08] tomasnorre commented on #679
ok. I'll see if I can get further locally.

[2020-12-20 11:09] tomasnorre commented on #679
I have `"lochmueller/staticfilecache": "^11.1"`  in the Crawler Devbox.

[2020-12-20 16:45] tomasnorre commented on #680
Closed by following commit:
https://github.com/AOEpeople/crawler/commit/07c2ab5196a011358ee32777c5b025c3661dadd4

[2020-12-20 16:45] #680 closed

[2020-12-24 07:01] tomasnorre opened #688 "[BUG] PageTS Crawler Configurations not visible/selectable anymore"
## Bug Report

**Current Behavior**
When going to the "info module"->"Site Crawler"->"Start Crawling" I _don't_ see my PageTS Crawler Configurations

**Expected behavior/output**
When going to the "info module"->"Site Crawler"->"Start Crawling" I _should_ see my PageTS Crawler Configurations

**Steps to reproduce**
1. Create a PageTS Crawler Configration

[code]

2. Go to "info module"->"Site Craw

[2020-12-24 07:29] #688 closed

[2020-12-24 10:10] #580 closed

[2020-12-26 09:46] tomasnorre commented on #538
Resolved with commit https://github.com/AOEpeople/crawler/commit/5d4d9aa7fedfbef53fcb4ac69d0afcc25b317cb2

[2020-12-26 09:46] #538 closed

[2021-01-07 17:59] #336 closed

[2021-01-15 13:58] PhilippKuhlmay opened #701 "Extension key inside composer.json is mandatory in future versions of TYPO3"
While installing crawler with composer, I got this info message

[code]

https://docs.typo3.org/m/typo3/reference-coreapi/master/en-us/ExtensionArchitecture/ComposerJson/Index.html#extra

EXT:crawler needs
[code]
inside composer.json

[2021-01-15 15:08] PhilippKuhlmay opened #703 "Devbox is not working as expected. 'ddev start' throws errors"
## Bug Report

**Current Behavior**
DevBox is not working properly.

**Expected behavior/output**
DevBox should work and `ddev start` should be executed without any errors.

**Steps to reproduce**
See steps inside Contributing.md.
* Clone the project
* go inside folder .devbox
* run `ddev start`

**Environment**
- Crawler version(s): Latest GitHub Clone
- TYPO3 version(s): No specific. Only used t

[2021-01-15 15:21] tomasnorre commented on #703
Thanks for reporting, please pull and check again.

[2021-01-15 16:26] PhilippKuhlmay commented on #701
Closed by #702

[2021-01-15 16:26] #701 closed

[2021-01-15 16:41] PhilippKuhlmay commented on #703
Thanks for the fast fix. It's still not working as expected. **There is a new error.**
In the config for ddev, there are some pre-hooks.
`typo3cms install:generatepackagestates` is executed after `composer install`.
I changed the order in my local installation and now it works. I think the reason is, that ddev tries to use the TYPO3-Console before it is installed.

[2021-01-15 16:51] PhilippKuhlmay commented on #703
After DB Check (Maintenance - Analyze Database Structure) it worked.
So in my opinion ddev should also execute `/var/www/html/bin/typo3cms database:updateschema`

[2021-01-15 18:20] #703 closed

[2021-01-16 10:33] tomasnorre opened #707 "Failing tests for TYPO3 dev-master"
## Bug Report

**Current Behaviour**
Tests are failing with `Call to a member function getAttribute() on null`

**Expected behaviour/output**
The tests should still be green

**Steps to reproduce**
1. `composer remove --dev typo3/testing-framework rector/rector`
2. `rm -rf composer.lock .Build`
3. `composer require --dev nimut/typo3-complete:dev-master saschaegerer/phpstan-typo3:"*" nimut/testing-

[2021-01-18 07:05] helsner opened #710 "Remove auto-created fields in ext_tables.sql definition"
Mini-Improvement:

The `tx_crawler_configuration` table definition in `ext_tables.sql`
can be adapted as fields like `cruser_id` are provided by TCA and thus will be created automatically.
They can safely be removed.

[2021-01-18 07:10] tomasnorre commented on #710
Thanks @helsner.

I didn't know about that, can you give me an example? Not 100% sure what you mean.

[2021-01-18 07:14] helsner commented on #710
yes - here's the official docu
https://docs.typo3.org/c/typo3/cms-core/master/en-us/Changelog/9.3/Feature-85160-AutoCreateManagementDBFieldsFromTCACtrl.html

[2021-01-19 12:49] hacksch opened #711 "unserialize on null stops crawling"
Hello,

i execute
`typo3cms crawler:buildQueue 1 default --depth 2 --mode exec -q`
and get an error

[code]

I debugged this behavior and noticed that $this->executeShellCommand($cmd) in line 95 returns null.
The crawling should not stop in this case

**Environment**
- Crawler version(s): 9.1.5
- TYPO3 version(s): 10.4.12
- Is your TYPO3 installation set up with Composer (Composer Mode): yes

**Po

[2021-01-19 14:28] tomasnorre commented on #711
Hi @hacksch

Thanks for your information. Could you please check if this is also a problem with the newest version of the Crawler 9.2.1. Thanks.

[2021-01-20 07:21] hacksch commented on #711
Hello Tomas,

yes that happends with version 9.2.1 too.

[2021-01-21 06:00] tomasnorre commented on #576
/remote staled

[2021-01-22 20:04] #262 closed

[2021-01-25 09:12] brotkrueml opened #714 "503 error on buildQueue with mode=exec after update to 9.2.1"
## Bug Report

**Current Behavior**
After updating from 9.1.2 to 9.2.1 I experienced an error on executing the command

`vendor/bin/typo3 crawler:buildQueue 3 deployment --mode exec`:

    https://website.ddev.site:8443/en/ () =>
    Error checking Crawler Result:  "503 Service Unavailable"...

However executing

`vendor/bin/typo3 crawler:buildQueue 3 deployment --depth 99` and then
`vendor/bin/ty

[2021-01-26 06:13] tomasnorre commented on #714
I've seen this behaviour too. Will see if I can come up with a fix for the next release.

[2021-01-26 13:34] tomasnorre commented on #714
Hi @brotkrueml

I can confirm that the bug is introduced between 9.1.2 and 9.1.3, more precise this commit:
https://github.com/AOEpeople/crawler/commit/2299e9900b4a6c938387b0afe6a4b4f9f04f89b1

I haven't found out why yet. But getting closer.

[2021-01-26 13:51] tomasnorre commented on #714
hi @brotkrueml

I found the problem, can you please very that it works for you? Then I'll be added a PR and do a new release.

[code]

[2021-01-26 17:16] brotkrueml commented on #714
Thanks for the quick patch. I tested it and it works :-)

[2021-01-26 17:40] tomasnorre commented on #714
Super. I'll see if I can get a release out this week.

[2021-01-26 17:51] #714 closed

[2021-01-26 18:02] #711 closed

[2021-01-27 19:49] #710 closed

[2021-02-08 09:08] tomasnorre commented on #558
/remove staled label

[2021-02-08 09:14] tomasnorre commented on #584
/remove staled label

[2021-02-08 15:26] #669 closed

[2021-02-17 11:48] kraemer-igroup commented on #679
Hello, I have the same problem with TYPO3 10.4.13 and crawler 9.2.2 (PHP 7.3) like @vincentvega123 . It only works with activating frontend indexing in indexed_search extension configuration (basic.disableFrontendIndexing = 0), which I wanted to avoid by using the crawler extension:
![indexed_search-disable-indexing](https://user-images.githubusercontent.com/10868556/108198639-26dd6a80-711c-11eb-9

[2021-02-20 18:48] tomasnorre commented on #707
Resolved with commit: https://github.com/AOEpeople/crawler/commit/2857d09c2d7ec53a827863fa978d04a9e78cf8e0

Some tests are fixed, and some a skipped.

[2021-02-20 18:48] #707 closed

[2021-03-02 09:12] npostnik opened #726 "Installation breaks without composer"
If composer mode is off, the following code in ext_localconf.php is executed:
`if (!\TYPO3\CMS\Core\Core\Environment::isComposerMode()) {
    require \TYPO3\CMS\Core\Utility\ExtensionManagementUtility::extPath('crawler') . '/Resources/Private/Php/Libraries/vendor/autoload.php';
}`
There is no file at this path and the installation is broken.

[2021-03-02 09:47] tomasnorre commented on #726
Hi @npostnik

Thanks for your issue. I need a little more information.

TYPO3 Version?
Crawler Version?

[2021-03-02 11:51] npostnik commented on #726
Hi @tomasnorre,
thank you for the quick reply.

It a TYPO3 9.5.24. It was a composer installation, but now my client wants it to be a 'no-composer' installation.

Crawler is installed in version 9.2.1. But the mentioned lines of code are in the lastest master as well and the required file at this path is missing. Should it be generated during extension installation?

https://github.com/AOEpeople/c

[2021-03-02 12:05] tomasnorre commented on #726
Hi @npostnik

No it should be created as part of the extension release.
https://github.com/AOEpeople/crawler/blob/main/composer.json#L108

How did you download, with a git-clone or from TER?
If from git-clone that would explain the issue.

[2021-03-02 14:12] npostnik commented on #726
The issue is resolved - I reinstalled the crawler extension from TER. Problem was, that the extension was initially installed with composer. In order to switch off composer mode, I removed the TYPO3_COMPOSER_MODE part from autoload file. Then the issue occured.

Thank you for your help!

[2021-03-02 14:12] #726 closed

[2021-03-02 14:57] tomasnorre commented on #726
No problem. Let me know if you run into other issues.

[2021-03-10 14:38] jyskweb opened #727 "Wrong evaluation in TCA for processing_instruction_filter"
## Bug Report

**Current Behavior**
Can not save configuration record due to wrong eval-property in TCA.

**Environment**
- Crawler version(s): 9.2.2
- TYPO3 version(s): 10.4.13
- Is your TYPO3 installation set up with Composer (Composer Mode): yes

**Possible Solution**
In _tx_crawler_configuration.php_ line 75:
Remove:  `'eval' => 'required',`
Add:  `'minitems'=> 1,`

**Doc**
https://docs.typo3.

[2021-03-10 18:53] tomasnorre commented on #727
Thanks will have a look.

[2021-03-11 12:07] Patta opened #728 ""sofort" could not be parsed by \DateTime constructor"
## Bug Report

**Current Behavior**
After making changes on a page and try to open the crawler info module, an error occurred.

`Oops, an error occurred!
"sofort" could not be parsed by \DateTime constructor: DateTime::__construct(): Failed to parse time string (@) at position 0 (@): Unexpected character
More information regarding this error might be available online.`
https://docs.typo3.org/typo3

[2021-03-11 13:00] tomasnorre commented on #728
Thank you for your report @Patta,
I have a feeling that I have seen this issue before. Would need to dig into it.

[2021-03-15 08:35] Patta commented on #728
Maybe the wrong dates in the crowler log are related?

`crawler:buildQueue` scheduler for this site is set to `10 4 * * *`
`crawler:processQueue` is set to `0 */1 * * *`

![Screenshot-2021-03-15-092458](https://user-images.githubusercontent.com/2151127/111124713-1a103300-8571-11eb-8dcc-cb4eed6b63bc.jpg)

[2021-03-15 13:51] rvock commented on #728
Relevant code positions:
https://github.com/AOEpeople/crawler/blob/04dfad88f1ab5f1e2b80dd185dea7f4ecd7a2523/Classes/Backend/RequestForm/LogRequestForm.php#L365
https://github.com/AOEpeople/crawler/blob/04dfad88f1ab5f1e2b80dd185dea7f4ecd7a2523/Resources/Private/Templates/Backend/ShowLog.html#L131

The LogRequestForm sets the translated string for now (german: "sofort") as value for `$row[scheduled]

[2021-03-18 08:43] rengaw83 opened #729 "Indexing wasnt forced anymore since middleware order has changed"
Indexing was'nt forced anymore.

TYPO3 9.5.25
Crawler: 9.2.2

The urls are crawled, but the indexing wasn't forced.

In have debugged a lot, and in my case the problem is the current middleware registration order.
In #642 the order was changed, to fix issues with StaticFileCache extension.
See https://github.com/AOEpeople/crawler/commit/0f7cb6abac4d8d6e228b0385665dc02f17cdfdcb#diff-38337bad08776b0

[2021-03-18 14:46] tomasnorre commented on #729
Thanks for you detailed information, I'll see if I can find a solution for this.
It sounds like it's related to the issue as you mentioned, and the information about the revert is also very helpful.

Will get back to you when I have more information on this.

[2021-03-18 15:26] rengaw83 commented on #729
Have tested the same crawler setup in a TYPO3 10.4.14 Installation.
Same problem there, no indexing is forced.
After reverting the changes at the middleware order, indexing works like expected in TYPO3 10 too.

[2021-03-18 18:13] tomasnorre commented on #729
Super. That's really valuable feedback.

I'll need to dig more into Middleware, it's unfortunately something that I don't know well enough yet.

[2021-03-19 09:11] rengaw83 commented on #729
Thank you, no problem, do not rush.
I have corrected the crawler middleware order in my own extension, so for me there is no hurry.

[2021-03-22 07:37] tomasnorre commented on #576
/remove staled

[2021-03-29 18:33] #727 closed

[2021-03-30 17:13] tomasnorre commented on #728
@Patta could you please verify that the fix is working for you? Please see PR
https://github.com/AOEpeople/crawler/pull/734

[2021-03-31 11:40] Patta commented on #728
@tomasnorre yes, the PR seems to fix this issue.

[2021-03-31 11:45] tomasnorre commented on #728
Thanks for letting me know: I'll release a new version of the crawler one of the next days.

[2021-04-03 15:56] #728 closed

[2021-04-10 06:42] tomasnorre commented on #339
I moved the label of TYPO3v9 as it will not be implemented for the Crawler version that support TYPO3 9LTS

[2021-04-10 16:41] tomasnorre commented on #679
@kraemer-igroup

Would this mean that adding the load order over the suggestion in `ext_emconf.php` would be a valid fix for you?

I'm not sure how to understand your last comment.

[2021-04-10 16:47] tomasnorre commented on #679
Just in case it's enough, this would be the change needed in `ext_emconf.php`

[code]

[2021-04-10 20:02] tomasnorre commented on #584
hi @brotkrueml,

Do you have a suggestion on how to solve this? My idea of added a check to `shouldPageBeSkipped()` will not work as I don't have the needed information at this point.

[2021-04-10 20:06] tomasnorre commented on #729
I'm afraid we have a chicken/egg problem here.

The https://github.com/AOEpeople/crawler/commit/0f7cb6abac4d8d6e228b0385665dc02f17cdfdcb moved the `aoe/crawler/initialization` to after the `typo3/cms-frontend/tsfe` (close to the very end), and this was needed to have the Static File Cache Working.

So moving this back in that position will be a regression, that introduces the bug from #642 again.

[2021-04-12 06:37] CDRO commented on #729
Could we split up the middlewares into one called `initialization` (as we have it now) and a `pre-compression-initialization` and extract the parts that are needed to where they need to be to both accomodate indexing (of course, this is the primary need) and static file cache (which in my opinion is secondary to the crawler and the indexing business but very important, nontheless)?

[2021-04-12 06:53] tomasnorre commented on #729
I honestly don't know. I'm still missing some basics knowledge on the middleware concept, but in general I don't see a problem in splitting it if it would solve the problem. But still not sure if it will solve the problem or introduce a new one.

Can be because of conceptual missing information from my site.

[2021-04-12 06:55] CDRO commented on #729
We could discuss this over slack tomorrow afternoon, if you have some time, we can still summarize our talking points here.

[2021-04-12 07:04] bmack commented on #729
Btw... it is possible to define restrictions in EXT:crawler for middlewares that do not exist in an installation (as far as I can remember): "Load after TSFE initialization, but before EXT:staticfilecache middleware XYZ") staticfilecache has very "lax" middleware orderings so we can push it in the right order (don't know from just reading this issue where EXT: staticfilecache should be loaded and

[2021-04-12 08:28] tomasnorre commented on #729
Do you have a link to the documentation @bmack ?

[2021-04-13 11:37] twestner commented on #679
In my project changing the install order has not solved the issue.

[2021-04-13 13:24] tomasnorre commented on #679
Thanks for confirming. Will dig further into this.

[2021-04-13 15:02] CDRO commented on #729
So, we discussed it with @tomasnorre and found what we need to change.

Tomas prepares an according PR.

What we did is split the initialization to have a part that ensures that the content is always rendered, before we return the result status to the crawler runner.

[2021-04-13 18:49] tomasnorre commented on #729
@rengaw83 Could you please check if this PR fixes the problem for you?
https://github.com/AOEpeople/crawler/pull/735

[2021-04-13 18:50] tomasnorre commented on #679
@twestner @kraemer-igroup Could you please check that this PR fixes the problem for you?
https://github.com/AOEpeople/crawler/pull/735

[2021-04-14 09:17] twestner commented on #679
hm, here the bugfix does not change anything. But as another user has confirmed, that it looks fine for him, I can go into detail in my project this evening. maybe I can tell more then.

[2021-04-14 09:34] tomasnorre commented on #679
Which user? @CDRO "just" did the Code Review, not verified it.

More information would be helpful, thanks. It can also be that it's two different problem, just though they were related, so that's why I asked you to test as well.

[2021-04-14 20:02] twestner commented on #679
I think this issue is quite simple: indexing stops, when disableFrontendIndexing is true or when forceIndexing is not set.
-> disableFrontendIndexing = 0 -> works, but that's not what we want
-> forceIndexing = 1 -> would work, but is not set by the crawler anywhere, I think.

[issue-679-set-forceIndexing.txt](https://github.com/AOEpeople/crawler/files/6313418/issue-679-set-forceIndexing.txt)
EXT:

[2021-04-15 05:52] tomasnorre commented on #679
Hi @twestner

Thanks for digging more into this.
From reading the code you are referring to, it looks like it should work.

Would you mind making a PR of it, so that you will get the credit for the fix too?

[2021-04-15 08:49] freshworkx commented on #576
I can confirm this behavior (bug?) for TYPO3 10.4.15 and Crawler 9.2.4.
The faulty database entry in field 'parameters' comes up, if 'indexed_search configuration data set' is placed on a 'normal' page that should be crawled.
My simplest solution is to move this 'index_search configuration data set' from the (root) page into a separate sys-folder.

[2021-04-15 09:07] rengaw83 commented on #729
hi @tomasnorre,
i have testet the branch but it does not work.

The position of the `initialization` have not changed and is still in the wrong position.
The `initialization` middleware has to be placed before the `typo3/cms-frontend/prepare-tsfe-rendering`.

The `$GLOBALS['TSFE']->applicationData['tx_crawler']` stuff, which is set by the initialization middleware, has to be set before the `prepar

[2021-04-15 10:25] tomasnorre commented on #576
Hi @freshworkx
Thanks for confirming, not sure if I understand what you mean though as solution?

[2021-04-15 10:27] tomasnorre commented on #729
@rengaw83 Thanks for getting back to me. We thought splitting it into the ContentFinisher the problem would be solved.
I'll go back to the drawing board.

Don't want to break anything in the StaticFileCache with a fix in the Crawler.

[2021-04-15 12:35] freshworkx commented on #576
In my case the configuration of indexed_search and crawler was placed on the root page of pagetree. This page is crawled itself. I just moved the records to a sys-folder, a picture is worth a thousand words:

<img width="626" alt="crawler" src="https://user-images.githubusercontent.com/12698815/114868681-7aa3c180-9df6-11eb-8ad5-1e8b59a9cea0.png">

The problem seems to be to crawl a page that has a

[2021-04-15 12:39] tomasnorre commented on #576
Thanks, Will check out if I can find a way to prevent this error from happening, or at least give a hint when people are doing so.
A report generated, would be a fairly easy fix, just don't know if people read the TYPO3 Reports.

It could perhaps be something for the Crawler Widget as warning?
https://github.com/tomasnorre/typo3-crawler-widget

But that would require people to install that too.

[2021-04-15 13:02] freshworkx commented on #576
In my opinion the best way is 'spread the word', given hints in documentation and widget (maybe also in reports). I could also think about to give a (colored) warning in tree of protocol view (like the 404 error).

[2021-04-15 13:04] tomasnorre commented on #576
Thanks for the feedback, will consider what I can do.
Your indexed_search hasn't suffered from moving it's config to a different location?

[2021-04-15 13:09] freshworkx commented on #576
No, of course not. For me the important thing is not to crawl those pages with an index_config on it because it breaks the crawling process!

[2021-04-15 14:42] tomasnorre commented on #576
I see. I'll see what I can figure out.
Thanks for your feedback.

[2021-04-15 18:06] rengaw83 commented on #729
I understand, it's a bit tricky with the different dependencies, i guess.
I don't know what's the problem with staticfilecache, have never used it.
But the thing is, currently the crawler does not work if the staticfilecache extension is not installed.

I have added a `RequestMiddlewares.php` in my project extension and take care of the correct middleware position by myself.
With these restriction

[2021-04-15 19:25] tomasnorre commented on #729
Thanks will have a look at it.

[2021-04-21 18:34] bjo3rnf commented on #679
The patch provided by @twestner works for me as well. Thank you.

[2021-05-03 07:05] t3easy opened #739 "Info Module crawler protocol throws `htmlspecialchars() expects parameter 1 to be string, integer given`"
## Bug Report

**Current Behavior**
If I open the Info module, select Site Crawler > crawler protocol and then select the root page (uid 1), I get `htmlspecialchars() expects parameter 1 to be string, integer given`.
This happens even with only this site, without subpages.
All other tested sites shows the protocol.
![image](https://user-images.githubusercontent.com/3628035/116849122-5ade0d00-abee-

[2021-05-03 07:07] tomasnorre commented on #739
Hi,

Thanks for reporting.
This sounds similar/related to https://github.com/AOEpeople/crawler/issues/576

I'll have a look at it.

[2021-05-03 07:10] tomasnorre commented on #739
I don't know if it's the same, but the other day some reported to me that something similar happened when the indexed_search configuration was on the same page.

Can you confirm that the case here too ?

[2021-05-03 07:39] t3easy commented on #739
Yes, that's also the case in my setup. Seams to be a duplicate of #576. Sorry, haven't checkt the issue deeper because of the title with `running crawler...` which is not.

[2021-05-03 08:01] tomasnorre commented on #739
No worries.

I'll see to find time to get it fixed.

[2021-05-18 17:34] tomasnorre commented on #576
I have added documentation on this, in the troubleshooting section. As this section of the TYPO3 Core is already removed in TYPO3 11. I'll not provide a fix for this, but a workaround.

Please see documentation.
https://github.com/AOEpeople/crawler/blob/25a0e5f3c0b7c9e63fd6d617acff14f0db0de1da/Documentation/Troubleshooting/Index.rst#id19

[2021-05-18 17:34] #576 closed

[2021-05-18 17:34] tomasnorre commented on #739
I have added documentation on this, in the troubleshooting section. As this section of the TYPO3 Core is already removed in TYPO3 11. I'll not provide a fix for this, but a workaround.

Please see documentation.
https://github.com/AOEpeople/crawler/blob/25a0e5f3c0b7c9e63fd6d617acff14f0db0de1da/Documentation/Troubleshooting/Index.rst#id19

[2021-05-18 17:34] #739 closed

[2021-05-23 08:51] tomasnorre opened #749 "[REFACTOR] Switch to fetchAssociative instead of fetch() (doctrine)"
As fetch() is deprecated in doctrine, we should switch to fetchAssociative.

This cannot be done till we drop support for TYPO3 9.

[2021-06-11 12:34] tomasnorre commented on #558
Bounty Upgrade: €50 + T-shirt.

[2021-06-14 10:20] vitd commented on #679
The patch works for me as well. TYPO3 10.4.17 / crawler 9.2.5.

[2021-06-14 15:56] tomasnorre commented on #679
Thanks for confirming both of you. I'll have this added to the next release of the Crawler, will be version 10.0.0

[2021-06-15 15:29] #679 closed

[2021-06-22 11:26] derBoogie opened #756 "No scheduler tasks available"
Hi,
I'm trying to add scheduler tasks for crawler, but there are no "crawer"-tasks available, as you can see in this screenshot: <img src="https://www.bugfree-systems.de/tmp/scheduler.png" />

Extension crawler is running and there are no errors in protocol.

**Environment**
- Crawler version: 9.2.5
- TYPO3 version: 10.4.17
- Is your TYPO3 installation set up with Composer (Composer Mode): no
- Th

[2021-06-27 21:50] tomasnorre commented on #756
As the Crawler have switched to Symfony Console Commands, they are not listed on that list any more.
You can set them up using the `Execute Console Commands` and then select them in the dropdown (see screenshot)

![Screenshot from 2021-06-27 23:48:46](https://user-images.githubusercontent.com/1212481/123560430-56734200-d7a2-11eb-9421-003f939a750c.png)

I'll close this issue for now. Please let me

[2021-06-27 21:50] #756 closed

[2021-06-28 07:56] Typine3 opened #757 "Crawler builds queue on 10.4 project, but doesn't process queue"
Hello,
I'm trying to get crawler running on a 10.4 project sinces days - with no success. I'm always facing the same problem:
I can produce (by "build" task in scheduler) records in tx_crawler_queue.
When I want to process them (via "run" scheduler task), something happens, for example result_data and process_id is filled - but **process_id_completed stays empty and nothing is written in the index

[2021-06-28 09:16] tomasnorre commented on #757
Hi @Typine3

Sounds strange to me.

Which version of the Crawler are you using?
Are you installing you TYPO3 with composer?
Which PHP version?
Which MySQL/MariaDB Version?

[2021-06-28 09:20] Typine3 commented on #757
crawler 9.2.5
No Composer
php7.3LATEST
MySQL 5.6.19
Thanks for answering so fast!

[2021-06-28 11:55] tomasnorre commented on #757
Thanks for the additional info. Will see if I can get to reproduce this next week.

[2021-06-28 12:40] tomasnorre commented on #757
As the Crawler works without indexed_search I tend to say it's a misconfiguration of the indexed_search.
Could you perhaps check if there are any pointers here to help you out?
https://t3terminal.com/blog/typo3-indexed-search/

A good way to prove if indexed_search is working as intended is to enable frontend indexing. If that works, we are a little closer to locating the problem.

[2021-06-28 13:35] Typine3 commented on #757
crawler 9.2.5
No Composer
php7.3LATEST
MySQL 5.6.19
Thanks for answering so fast!

[2021-06-28 13:42] Typine3 commented on #757
Well, in both projects indexed_search worked before I disabled frontend indexing! I had to TRUNCATE the index_x tables for testing, which were full before...I'll have another look at the t3terminal-source you mentioned which I already know...Thanks for looking at my problem! If I find something out meanwhile, I'll tell you. It would be so cool if we could solve this problem and I could use crawler

[2021-06-28 14:00] Typine3 commented on #757
So, in one of the projects I just enabled frontend indexing. index_rel, which was empty before, contained sentences as soon as I had done some actions in Frontend!

[2021-06-28 18:45] tomasnorre commented on #757
The frontend index will fill the index as soon as someone visits the page. But as you can never be sure every page is visited, it's and advantage to do it with the crawler.

I'll be happy to help you futher, I see the problem in my test setup too, as you described, but I've limited knowledge on indexed-search so don't know where to start.

If the frontend index is on and the crawler runs, it shoul

[2021-06-28 22:15] tomasnorre commented on #757
Hi again @Typine3,

I got a little further. Don't think it's an indexed_search configuration problem, but a Crawler bootstrapping/class-loading problem.
When I use my crawler devbox which is installed with composer, then it works, but the one without composer doesn't work.

This sounds like a bootstrapping / Class-loading problem, but where I don't know yet. Will need to get into debug mode to fig

[2021-06-29 06:03] Typine3 commented on #757
Thank you for working on this issue! That means that really in every non composer installation crawler will not work for the moment?
I would be very happy if this could be solved - in the project where I want to apply it I cannot use frontend indexing and therefore have to do indexing by crawler at night...

[2021-06-29 12:34] tomasnorre commented on #757
It doesn't work in combination with indexed_search, correct. The crawler itself for e.g. Cache warm up is working.

[2021-06-29 12:38] Typine3 commented on #757
Yes...Is there a chance to get this solved?

[2021-06-29 15:44] tomasnorre commented on #757
Nothing is impossible. But don't know the solution yet. @infabo has suggested adding the indexed_search to the ext_emconf.php suggest array, to ensure load order.

Have tried it really quick, but didn't work at first. Need to get the debugger started and checking it out. Having holiday right now, so not that much in front of my laptop :)

[2021-06-29 21:11] infabo commented on #757
Just a shot from the hip: after adding it tonthe suggest array, you need to deactivate and activate the extension in extensionmanager to get orders applied.

[2021-06-30 05:54] Typine3 commented on #757
It's really nice that you guys care about this problem even in your holiday! So there's still some hope for me :)

[2021-07-01 15:52] Typine3 commented on #757
I just tried it - changed crawler's ext_emconf.php (see attached file), deactivated and activated indexed_search and crawler, flushed cache - and the problem is still the same...
![Eintrag_emconf_suggests](https://user-images.githubusercontent.com/42004143/124153285-8c5f4180-da94-11eb-9bd5-6396a55da5d9.jpg)

[2021-07-01 15:54] tomasnorre commented on #757
Thanks fopr letting me know.

[2021-07-08 05:58] Typine3 commented on #757
I shyly wanted to ask if there are any new findings on this topic...

[2021-07-08 09:04] tomasnorre commented on #757
Sorry, not yet.

[2021-07-08 15:41] Typine3 commented on #757
OK, thanks for answering...

[2021-07-08 18:04] tomasnorre commented on #757
Tomorrow afternoon is my Crawler day, so will look into again tomorrow, hopefully I'll come closer to an answer.

[2021-07-09 05:53] Typine3 commented on #757
Oh, then have a nice crawler afternoon! :) And tell me if I can help something, e.g. try something on my two different 10.4 installations...

[2021-07-13 11:38] kpnielsen opened #758 "Check for `ps` support in ProcessCleanUpHook"
## Feature Request

**Is your feature request related to a problem? Please describe.**
On some shared hosting environments (e.g. Mittwald which is very popular in Germany) the `ps` command is not available due to security considerations. The [ProcessCleanUpHook](https://github.com/AOEpeople/crawler/blob/9.2.5/Classes/Hooks/ProcessCleanUpHook.php#L212) uses `ps` to find orphaned queue processes if

[2021-07-13 11:54] tomasnorre commented on #758
Hi @kpnielsen

Thanks for your input. I wasn't aware of that, and will try to come up with another solution on how to detect this.

[2021-07-14 10:31] tomasnorre opened #759 "[CI][BUG] Problem with Requirement Check"
## Bug Report

The requirement check is currently not working.
https://github.com/AOEpeople/crawler/actions/workflows/Requirement.yml

I would expect it to be return an error untill the symfony/polyfill80 is added to the Libraries/composer.json

[2021-07-14 10:43] mediaconform opened #760 "Crawler builds queue on 10.4 project, but can't process it - composer install"
## Bug Report

**Current Behavior**
Crawling queues are built, but not properly processed.

**Expected behavior/output**
No errors while processing the queue and status 'ok' for successfully processed pages in crawler log.

**Steps to reproduce**

***A. Command Line Interface***
When I do

`$: vendor/bin/typo3 crawler:buildQueue 1 default --depth 4 --mode exec`

Crawler builds a queue with all URL

[2021-07-14 11:17] tomasnorre commented on #759
Resolved with:
https://github.com/AOEpeople/crawler/pull/761

[2021-07-14 11:17] #759 closed

[2021-07-14 16:03] tomasnorre commented on #757
I just release a new version of the Crawler (9.2.6). I would be surprised if it fixes this problem, but it fixes another problem with non-composer projects.

[2021-07-14 16:56] Typine3 commented on #757
OK, I'll try tomorrow! Thanks and nice evening!

[2021-07-14 17:11] tomasnorre commented on #760
hi @mediaconform,
Can you please share how your crawler configuration looks like?

[2021-07-15 08:18] mediaconform commented on #760
Crawler configuration according to LocalConiguration.php:

[code]

[2021-07-15 08:25] mediaconform commented on #760
Crawler settings

![TYPO3 - Crawler Settings](https://user-images.githubusercontent.com/7619933/125754979-ef9fb02a-3151-431e-aa99-7638385277d1.png)

[2021-07-15 08:47] tomasnorre commented on #760
Thanks for the input. I was referring to the Crawler-Configuration Record.
https://docs.typo3.org/p/aoepeople/crawler/9.2/en-us/Configuration/ConfigurationRecords/Index.html

[2021-07-15 09:51] mediaconform commented on #760
I updated the comment above with a screenshot of my crawler configuration done in the backend. - I don't use any typoscript regarding the crawler configuration

[2021-07-16 09:27] Typine3 commented on #757
I did test i now on one project with crawler 9.2.6 - and nothing changed. As you supposed this didn't fix the problem...

[2021-07-20 06:10] tomasnorre commented on #757
Sorry to hear, would also have been a funny coincidence. Thanks for taking your time to test anyway.

I'll look more into this as soon as I find some time.

[2021-07-22 09:10] TheNaderio commented on #577
I had exactly the same error, but with "ke_search:ke_search:indexing" command.
Not sure why - the error appears after a nightly update-task. Maybe composerer did something unexpected.

I uninstalled ke_search via composer, installed it again and after that, everything is back to normal again.

Just posting this here to make sure ppl stumbling over this on their research :)

[2021-07-30 09:35] Typine3 commented on #757
Thanks...I'm looking forward to your findings :)

[2021-07-30 09:47] eckonator opened #762 "Crawler progress state after completly finished always "Process was cancelled""
## Bug Report

**Current Behavior**
Crawler progress state after completly finished always "Process was cancelled"

<img width="2452" alt="cancelled" src="https://user-images.githubusercontent.com/13748683/127633855-cfce8f58-ae03-4f6a-afb6-e816595f2ecf.png">

**Expected behavior/output**
After the crawler progress ist completed, the State should be "Progress completed sucessfully"

<img width="245

[2021-07-30 11:44] tomasnorre commented on #762
Hi @eckonator

Thanks for your report, would you mind to make PR with the suggested changes, then they are easier to review and test.

[2021-07-30 11:47] tomasnorre commented on #762
I have never seen this before, and cannot reproduce this on the crawler dev box.

Could you please check if you can reproduce it with the dev box?
https://github.com/AOEpeople/crawler/blob/main/CONTRIBUTING.md#devbox

[2021-07-30 12:11] tomasnorre commented on #762
It's a regression build in some when after 9.2.0

[2021-07-30 12:42] eckonator commented on #762
Pull request to main Branch created: https://github.com/AOEpeople/crawler/pull/764

[2021-07-30 12:45] tomasnorre commented on #762
Thanks will have a look. Will dig into it right away, will see if I find exactly where the problem is introduced. Thanks to bi-sect, it should not take that long.

[2021-07-30 12:57] tomasnorre commented on #762
This is the commit breaking it.
https://github.com/AOEpeople/crawler/commit/d75d73b

[2021-07-30 13:04] tomasnorre commented on #762
It's embarrassing.
I even have tests for that, but ignored that they were red, as I thought it was due to instability of the CodeCeption tests.

[2021-07-30 13:08] eckonator commented on #762
Making mistakes is human :-) Learning from them is the art.

[2021-08-03 12:40] tomasnorre opened #769 "[CI] non-composer setup for Acceptance Tests"
As more and more issues and questions arise for the TYPO3 Crawler in non-composer projects.
It would be helpful to have a non-composer setup in the CI to catch some of the problems before the hit the end users.

[2021-08-03 14:29] #762 closed

[2021-08-04 12:14] qctypo opened #770 "Crawler Process status : 503 Service Unavailable"
## Bug Report

**Current Behavior**
I have installed plugin and trying to index pages by crawler process manually.
I am using crawler 9.2.6 on TYPO3 9.5.28 non composer mode.
When I add Process it always show me status : 503 service Unavailable  and page is not indexed
Could you please help me to sort this.
While adding configuration  in baseurl field is empty. (Also try with adding baseurl)

**Ex

[2021-08-04 12:18] tomasnorre commented on #770
Does the "Error: 503" say more when you hover over the text?

[2021-08-04 12:21] qctypo commented on #770
No :(

[2021-08-04 12:54] tomasnorre commented on #770
And the frontend is working like expected?
A 503 is a server error, so do you have any information from sys_log or apache/php log?

Do you have the crawler settings at directRequest active or not?
https://docs.typo3.org/p/aoepeople/crawler/master/en-us/Configuration/ExtensionManagerConfiguration/Index.html#extension-manager-configuration

[2021-08-05 10:08] qctypo commented on #770
@tomasnorre
I could not find any error log related to this in sys_log.
This is  on mittwald server.

And right now  crawler settings at directRequest is not active.
Even I tried to  make it active but in that case nothing happened  not even 503 error in status or ok shows. No process happen if i make it active.

Also regarding to your question frontend is working --> then yes there is no issue wit

[2021-08-05 10:29] tomasnorre commented on #770
Thanks for the update. I'll look into this.

Please update the issue if you find any additional information.

[2021-08-05 10:30] tomasnorre commented on #770
Could it be related to?
https://github.com/AOEpeople/crawler/issues/758

That's also on a mittwald server.

[2021-08-05 11:10] qctypo commented on #770
I don' t think it is related to that because cleanup process is working fine.

[2021-08-05 12:30] tomasnorre commented on #770
ok. Thanks for the info.

[2021-08-06 12:33] tomasnorre opened #773 "DBs - Ensure that TYPO3 supported DB-systems are also supported by the crawler."
I have found out that the Crawler isn't compatible with the SQLite, as e.g. Page UID isn't returned as integers but strings, this gives a problem with e.g. this check.

https://github.com/AOEpeople/crawler/blob/main/Classes/Controller/CrawlerController.php#L427

[code]

[2021-08-10 05:36] tomasnorre opened #775 "Check core change - indexed_search"
Please verify that this doesn't impact the Crawler. I don't expect it to though.

https://review.typo3.org/c/Packages/TYPO3.CMS/+/69914

[2021-08-13 13:12] tomasnorre commented on #773
https://twitter.com/NeoBlack/status/1425931731245359104

[2021-08-15 11:18] tomasnorre opened #776 "[CI] Adjust to have the tests running with TYPO3 11.4 as well."
Have tests running for 11.4

This hint on how to adjust the routes.
https://github.com/Nimut/testing-framework/pull/141/files

[2021-08-18 15:31] tomasnorre commented on #773
![Screenshot from 2021-08-18 17:31:25](https://user-images.githubusercontent.com/1212481/129927117-66d6132b-28d6-4b75-acef-a5a45f46af5f.png)

[2021-08-19 13:46] kraemer-igroup opened #777 "Configuration of "Exclude pages" with a depth (x+y) leads to an error"
## Bug Report

**Current Behavior**
If the configuration of "Exclude pages" is saved with a depth, like "9+5" (page uid: 9, depth: 5 levels) it immediately leads to the following error:
_Argument 1 passed to AOE\Crawler\Service\ConfigurationService::expandPidList() must be of the type array, null given, called in /.../typo3conf/ext/crawler/Classes/Service/ConfigurationService.php on line 195_

A c

[2021-08-19 14:10] tomasnorre commented on #777
Thanks for your report @kraemer-igroup

I'm currently looking through the manual.

Where do you find the information that this is possible? I'm pretty sure you're right, but don't find the documentation on it right now.

[2021-08-19 14:33] kraemer-igroup commented on #777
Thanks for your reply and for looking into this @tomasnorre!
Yes, this is not mentioned within the manual (anymore?), but I often used this and it still is respected in the code which you found.

[2021-08-19 14:50] tomasnorre commented on #777
Do you have any information on in which version it worked last time?

[2021-08-19 14:57] kraemer-igroup commented on #777
Not exactly, but it still worked with version 9.2.2 . With the versions between this and version 10.0.0 I have no experiences.

[2021-08-19 15:04] tomasnorre commented on #777
Thanks that already a big help. I think I know where the problem is. Will get back to you when I have something for testing.

[2021-08-19 15:08] kraemer-igroup commented on #777
Looking forward to it! But at first I am on vacation until Sep. 6 ;-)

[2021-08-19 15:10] tomasnorre commented on #777
Enjoy your vacation. Pretty sure I'll have a fix till then.

[2021-08-19 15:16] tomasnorre commented on #777
Can you please check if this change works for you?

[code]

In the `expandExcludeString()`-function

[2021-08-20 13:19] tomasnorre commented on #777
Hi @kraemer-igroup

I have been looking at little more into this, and wanted to debug this.
I cannot reproduce this on the Devbox setup for the Crawler.

Neither with `uid+` nor `uid+depth`

Do you have any idea, what could be the diff between your setup and the Crawler dev box?
you can start the devbox for testing if you find the time (after your vacation).

https://github.com/AOEpeople/crawler/b

[2021-09-07 09:16] kraemer-igroup commented on #777
Thank you!!

[2021-09-15 14:03] Typine3 commented on #757
Still no proceedings? I'll have to find another solution then.

[2021-09-15 16:02] tomasnorre commented on #757
Unfortunately not. I haven't found any solution for the Problem.

I'll update here as soon as I find a solution. But as this is not my full time work: I cannot promise anything.

[2021-09-21 09:19] brotkrueml opened #781 "?MP= is added when building the queue"
## Bug Report

**Current Behavior**
When running the crawler:buildQueue command an empty MP query parameter is added to the URLs:

[code]

**Expected behavior/output**
The MP query parameter is omitted when not necessary.

**Steps to reproduce**
Call crawler:buildQueue on cli.

**Environment**
- Crawler version: 10.0.2
- TYPO3 version: 10.4.20
- Is your TYPO3 installation set up with Composer (Com

[2021-09-21 10:07] tomasnorre commented on #781
I haven't looked into this yet, but this must be a bug introduced somewhere between 9.x and 10.x will look into this after my vacation. PRs are welcome if you get any further ;)

[2021-09-21 17:49] brotkrueml commented on #781
Yes, that's it. Will provide a PR for this as you guided me successfully to the code ;-)

[2021-09-23 12:56] PhilippKuhlmay opened #783 "[FEATURE] Add description for the crawler tasks inside CLI"
### Is your feature request related to a problem? Please describe

When I use the CLI command 'ddev typo3' or 'vendor/bin/typo3' I get the list of all available commands with descriptions.
The EXT:crawler doesn't provide these descriptions.

It would be nice to add descriptions to the 3 avaiable crawler tasks.

<img width="720" alt="Bildschirmfoto 2021-09-23 um 14 56 16" src="https://user-images.g

[2021-09-27 14:53] tomasnorre commented on #783
Thanks for your suggestion. I will look into this, but as this is a ddev only feature, it will not have my highest priority, but it could be fairly simple to resolve.

[2021-09-28 12:35] #781 closed

[2021-09-28 12:38] tomasnorre opened #784 "[CI] Ensure Acceptance Tests run on correct branch on PRs"
Currently, the  Acceptance tests only works with PRs in the tomasnorre/crawler repository and not from external contributors.

The GitHub Action needs to be adjusted to fetch from the PRs repository and not from the tomasnorre/crawler repository, otherwise the Acceptance tests will always fail on PRs from external repositories.

Workaround: Pull remote repository branch and push to tomasnorre/craw

[2021-09-28 12:59] tomasnorre commented on #783
I cannot reproduce this.
Which TYPO3 version are you on?

![Screenshot 2021-09-28 at 14 58 51](https://user-images.githubusercontent.com/1212481/135091575-eb417665-2c1a-4f8f-8ce6-1fa9f6ecf0b3.png)

[2021-09-28 13:03] PhilippKuhlmay commented on #783
TYPO3 11.4. I see that the description exists in 10.4.
Maybe it is because the configuration for the CLI tasks and its description moved into Configuration/Services.yaml in TYPO3 11?

[2021-09-28 19:17] tomasnorre opened #786 "[FEATURE] Drop support for TYPO3 9"

[2021-09-28 20:46] tomasnorre commented on #760
As both Crawler 9.x.y and 10.x.y are compatible with TYPO3 10, would you mind trying to update the crawler to see if the issue persists?

[2021-09-28 20:47] tomasnorre commented on #770
As both Crawler 9.x.y and 10.x.y are compatible with TYPO3 9, would you mind trying to update the crawler to see if the issue persists?

[2021-09-28 20:48] tomasnorre commented on #757
As both Crawler 9.x.y and 10.x.y are compatible with TYPO3 10, would you mind trying to update the crawler to see if the issue persists?

[2021-09-28 20:50] tomasnorre commented on #760
This sounds a little similar to https://github.com/tomasnorre/crawler/issues/757, what do you think?

[2021-09-29 07:04] #783 closed

[2021-09-29 20:02] tomasnorre commented on #786
Closed with #787

[2021-09-29 20:02] #786 closed

[2021-10-04 10:01] PhilippKuhlmay opened #798 "[FEATURE] Adds possibility to set the crawler configuration with a dropdown"
### Is your feature request related to a problem? Please describe

Is it possible to have a dropdown for the selection of the crawler configuration inside the scheduler module? At the moment I have to type the configuration manually. With a multipage site it will be much more difficult because I have to type everything correctly without mistakes.

A dropdown with all available configurations would

[2021-10-04 10:13] PhilippKuhlmay opened #799 ""Add process" without any pages in the queue results into an error message"
## Bug Report

**Current Behavior**
When I have to pages inside the queue and try to add a process with the button "Add process" I get an error message after 10 seconds. This is a little bit confusing at the first moment.

It works, when I have some pages inside the queue.

**Expected behavior/output**
I expected to have a warning instead of an error which says something like "There are no pages i

[2021-10-16 07:18] tomasnorre commented on #799
I even get this error with pages in the queue.

Currently testing with 11.5.1

![Screenshot 2021-10-16 at 09 17 02](https://user-images.githubusercontent.com/1212481/137577889-70bb27c0-d9c2-44b0-9e9a-28e6ddbb27f1.png)

[2021-10-17 08:26] tomasnorre commented on #799
This is also confirmed with the Acceptance tests.
https://github.com/tomasnorre/crawler/runs/3917874997#step:8:1391

[2021-10-17 19:21] tomasnorre opened #816 "Placeholder for follow up improvements for issue #754"
From @brotkrueml comments in review:
https://github.com/tomasnorre/crawler/pull/754#issuecomment-864586872

I have extracted the comments into separate issues, to ease the fixes and keep the PRs smaller.

- https://github.com/tomasnorre/crawler/issues/1096
- https://github.com/tomasnorre/crawler/issues/1097
- https://github.com/tomasnorre/crawler/issues/1099
- https://github.com/tomasnorre/crawler

[2021-10-18 15:10] #615 closed

[2021-10-20 07:30] zillion42 opened #820 "Crawler builds queue but does not process."
Hi,
we are having some problems with the crawler. We can build the queue but processing (--mode exec) gives us:
e.g.
 _347/357 [===========================>]  97%Error checking Crawler Result:  ..._
for Indexed_search. The error is "..." only if we use the option "Make direct requests", otherwise we get a 403 error.

Enabling Indexing in Frontend works. Luckily after building the queue without exe

[2021-10-20 09:20] #820 closed

[2021-10-20 09:21] zillion42 commented on #757
Hi,
we are having similar problems with the crawler. I closed #820 and pasted my issue here.

We can build the queue but processing (--mode exec) gives us:
e.g.
347/357 [===========================>] 97%Error checking Crawler Result: ...
for Indexed_search. The error is "..." only if we use the option "Make direct requests", otherwise we get a 403 error.

Enabling Indexing in Frontend works. Lucki

[2021-10-23 10:18] tomasnorre opened #823 "Reminders for 12.0.0 - Release"
- [x] #903
- [x] Remove `modMenu()` in `BackendModule`
- [x] #911
- [x] #914
- [x] #905
- [x] #918
- [x] Switch to Denpendency Inject see https://github.com/tomasnorre/crawler/pull/835#discussion_r739769581
- [x] #920
- [x] #906
- [x] #908
- [x] #856
- [x] #916
- [x] Add more TypeHints
- [x] PHP 7.4 TypeHints
- [x] #895
- [x] #896
- [x] #969
- [x] #970
- [x] #992
- [x] #1034
- [x] #1040

[2021-10-23 10:18] tomasnorre opened #824 "Reminders for the 13.0.0 Release"
- [x] #894
- [x] #1218
- [x] #1220
- [x] #1222
- [ ] #1224
- [ ] #1061
- [ ] #1064
- [ ] Cleanup PHPunit*.xml files for deprecation
- [ ] Remove .devbox/.ddev/php/error-reporting.ini
- [ ] Remove `pageVeto`-hook in `PageService`
- [ ] Add Support for TYPO3 14
- [ ] https://github.com/tomasnorre/crawler/issues/1215
- [ ] Evaluate Rector Skip rules
- [ ] Add Playwright tests to composer.json
- [ ] h

[2021-10-24 08:39] tomasnorre opened #825 "Reminders for when droppping 10 LTS support"
- [x] Remove `CrawlerApi` (Done in https://github.com/tomasnorre/crawler/pull/953)
- [x] Remove `cli_hooks` in `ProcessQueueCommand` (Done in https://github.com/tomasnorre/crawler/pull/951)
- [x] Remove `IndexedSearchCrawlerHook` (Done in https://github.com/tomasnorre/crawler/pull/949)
- [x] Switch from DBAL fetch() to fetchAssociative() (Done in https://github.com/tomasnorre/crawler/pull/948)
- [

[2021-10-27 15:05] brotkrueml opened #830 "Frontend plugins doesn't work when crawler is installed"
## Bug Report

**Current Behavior**
Using crawler on a TYPO3 v11 installation throws the following exception in frontend:

    The default controller for extension "News" and plugin "Pi1" can not be determined. Please check for TYPO3\CMS\Extbase\Utility\ExtensionUtility::configurePlugin() in your ext_localconf.php.

After deinstalling the news extension the next plugin displays a similar error.

A

[2021-10-29 11:51] lochmueller opened #837 "Support StaticFileCache and do not destroy the middleware stack"
## Bug Report

**Current Behavior**
The current problem is, that EXT:crawler destroy the middleware stack, by calling the handler and ignore the response in the middleware:
https://github.com/tomasnorre/crawler/blob/main/Classes/Middleware/CrawlerInitialization.php#L69
So StaticFileCache but also other middlewares in the middleware stack got an useless response object.

The reason for that is, bec

[2021-10-29 19:04] tomasnorre commented on #837
I have tried to setup staticfilecache together with the crawler, but I don't find where this config "noCrawler" can be set. I don't find anything in the documentation. Can you please point me to this @lochmueller ?

[2021-10-29 20:54] lochmueller commented on #837
Hey @tomasnorre
you could comment out this lines:
https://github.com/lochmueller/staticfilecache/blob/master/Classes/Cache/Rule/NoCrawlerCall.php#L21
https://github.com/lochmueller/staticfilecache/blob/master/Classes/Cache/Rule/NoCrawlerCall.php#L22

Then the cache rule do not disable the cache on crawler calls.
There is no configuration option, because it don't work with the EXT:crawler currently

[2021-10-30 12:01] mediaconform commented on #760
Hi @tomasnorre , sorry for the late reply.
I've updated the crawler and in the TYPO3 backend at first sight it seems to work fine, but having a closer look it turns out, that all the results of the crawled pages are still not saved. So in the end the problem is the same as it has been before.

And yes it looks similar to #757 - thanks for digging into this issue.

[2021-10-30 12:14] tomasnorre commented on #760
No worries, every feedback is appreciated, regardless of when. I'll close this and mark as duplicate for now.

[2021-10-30 12:15] tomasnorre commented on #760
Closed.

Marked as duplicate: #757

[2021-10-30 12:15] #760 closed

[2021-11-01 09:44] #837 closed

[2021-11-01 14:22] tomasnorre commented on #830
This is resolved with https://github.com/tomasnorre/crawler/commit/d01a00709de846873cae14b0290e1ceac2abfbf4

[2021-11-01 14:22] #830 closed

[2021-11-03 08:36] quadronet opened #847 "Crawler don´t start -"
## Bug Report

The crawler didn´t start, TYPO3 10, news crawler.

Call to undefined method Doctrine\DBAL\Driver\Mysqli\MysqliStatement::fetchAssociative()

in /var/www/vhosts/domain/typo3conf/ext/crawler/Classes/Domain/Repository/QueueRepository.php line 639

**while ($row = $statement->fetchAssociative()) {**
            $rows[] = $row['qid'];
        }

[2021-11-03 08:59] tomasnorre commented on #847
Hi.

Thanks for your report, but I need a little more information.

Crawler Version?
Composer mode?
PHP Version?

It looks like you are on a TYPO3 10 (non-composer) with Crawler 11.0.0,
If that's the case please update to 11.0.1 as there is a fix for this in there.

https://github.com/tomasnorre/crawler/blob/main/CHANGELOG.md#fixed-1

[2021-11-05 14:27] tomasnorre opened #848 "[FEATURE] Crawl Sitemap.xml"
### Is your feature request related to a problem? Please describe

@benjaminkott suggested me today, to add the feature for crawler the sitemap.xml file.

This would remove some complexity from the crawler that calculates which pages to crawler a which not.

This will especially be helpful for sites generated by plugins like news. Where not every news have its own site.

The Crawler can handle thi

[2021-11-05 14:29] tomasnorre opened #849 "[FEATURE] Exclude Page from crawling"
Semilar to exclude from search, a page setting "exclude from crawling" could be added.
This would ease the setup of what needs to be crawled.

Today you would have to add it to a crawler configuration.

Some things to consider here, is that Page A, might be include for Crawler configuration "default", but not for "extended".

[2021-11-15 14:29] Patta opened #851 "Site config baseVariants are not considered"
## Bug Report

**Current Behavior**
The `base_url` field in the configuration record shows the following info text: "Leave empty for fetching the base URL from the Site Configuration."
My site config has configured `baseVariants` for "Production/Staging" and "Development" environment.
For example, if i run the following cli command `vendor/bin/typo3 crawler:buildQueue 1 site-public,site-usergroup1

[2021-11-15 14:46] tomasnorre commented on #851
Thanks for reporting.

I'll be looking into this.

[2021-11-15 19:21] tomasnorre commented on #851
I have stumbled upon this before, but I thought it was a mistake in my test setup. I should have believed my tests more.

I'll try to add tests for this, and fix it, to ensure that it doesn't break again.

[2021-11-19 10:51] #769 closed

[2021-11-19 10:57] tomasnorre commented on #770
Can this be related to #851 where the issue is the "baseURL" not been taking from the Sites configuration?

[2021-11-19 10:57] tomasnorre commented on #757
Can this be related to #851 where the issue is the "baseURL" not been taking from the Sites configuration?

[2021-11-19 12:40] tomasnorre commented on #851
I cannot reproduce this problem with the Crawler Devbox.

I have following config:

[code]

If I set my applicationContext to Production it gets the expected BaseURL in the CrawlerQueue.

I do have a problem with crawling with baseURL set to `/` though. But this sounds like a different issue, which was the one I was refering to here.

I'll keep looking into this.

[2021-11-19 14:20] Patta commented on #851
Thanks for your feedback. I set the applicationContext via htaccess, maybe the context is not available in the cli?

htaccess excerpt:
[code]
site config excerpt:
[code]

[2021-11-19 14:32] tomasnorre commented on #851
Thanks. Will check that out.

[2021-11-19 14:44] Patta commented on #851
I added the stage applicationContext via .env (helhum/dotenv-connector). Now the correct base url is used.
I think this is a user problem ;)

[2021-11-19 15:26] tomasnorre commented on #851
Sounds "good" from Crawler perspective.

I'll use your example to update the documentation to have cases like this covered with alternative solutions, ok?

[2021-11-22 06:37] tomasnorre opened #856 "Remove `AbstractCommandTests`"

[2021-11-22 17:55] tomasnorre commented on #851
Closed as Troubleshooting documentation is updated.

[2021-11-22 17:55] #851 closed

[2021-11-22 19:58] sypets opened #858 "TYPO3 Extension Award - Best Documentation 2021"
This issue is for your information only. Please feel free to close

---

**Congratulations**! :sparkles: :tada:
Your extension has been nominated for the **TYPO3 Extension Award - Best Documentation 2021**.

Three extensions will be chosen as winners by a community vote. In case your extension wins, you will be notified shortly after the voting.

In order to vote for an extension:

1. Go to https:

[2021-11-24 10:09] maddy2101 opened #859 "[DOCS] exclude from crawling recursive"
### Is your feature request related to a problem? Please describe

I have a folder holding pages only for testing purposes, and those should not be found in the search.

### Describe the solution you would like

I wish for a crawler configuration to provide a page, and this page and all its children are excluded from crawling.

The positive variation of this is field 'pidsonly', but for exclusion,

[2021-11-24 10:49] tomasnorre commented on #859
Hi.

If I understand you correctly, this is already possible.
You can use the `pageid+depth` syntax in the `exclude page field` for the Crawler configuration. The example below exclude page_id 6 and 3 levels/depth

![crawler_excludepages-recursive](https://user-images.githubusercontent.com/1212481/143224427-7f6ef200-dac0-4bc8-aea8-a55098e27db1.png)

[2021-11-24 10:53] maddy2101 commented on #859
O.O wow, never saw that before. You can help immediately by putting this into the field description and into the docu. Thanks a bunch!

[2021-11-24 10:54] tomasnorre commented on #859
It's a missing doc. Thanks for pointing this out.

[2021-11-25 16:58] #859 closed

[2021-12-14 07:33] kpnielsen commented on #339
For everyone else like me (who needs this almost exclusively for news), you can achieve this by adding a little bit of TS configuration and a signal within the News Detail action.

Picture this scenario: There is a single sys_folder containing news. Every news record has at least one category (let's call them A and B as in the original issue). On the page "Show Action for news of category A" only

[2021-12-14 08:07] tomasnorre commented on #339
Thanks for adding the information.

Would you mind create a Section in the Documentation for the News Example?
https://github.com/tomasnorre/crawler/blob/main/Documentation/Configuration/Examples/News/Index.rst

[2021-12-21 08:29] BokuNoMaxi opened #865 "“20.12.21 14:51” could not be parsed by \DateTime constructor: DateTime::__construct()"
## Bug Report
If the DateFormat in the LocalConfiguration is set to a non accepted DateTime Format,  the ShowLog.html throws “20.12.21 14:51” could not be parsed by \DateTime constructor: DateTime::__construct()
![Error](https://user-images.githubusercontent.com/8913243/146895551-da6ec09b-bb06-47c8-b034-e83e0d6469b9.png)

**Current Behavior**
Opening Info from the Sidebar and select Site-Crawler t

[2021-12-22 15:46] #858 closed

[2021-12-23 07:37] kpnielsen opened #867 "[DOC] main branch named incorrectly in Settings.cfg"
## Bug Report

**Current Behavior**
Currently the `github_branch` option is set to `master` in [Documentation/Settings.cfg](https://github.com/tomasnorre/crawler/blob/main/Documentation/Settings.cfg), but the actual name of the main branch is `main`. This makes it so that the "Edit on github" button in the rendered documentation leads to a [404 error](https://github.com/tomasnorre/crawler/edit/mas

[2021-12-23 08:01] #867 closed

[2021-12-23 22:36] Patta opened #869 "[FEATURE] Automatic add pages to Queue after flush caches with cacheManager"
### Is your feature request related to a problem? Please describe

It would be great if the feature "Automatic add pages to Queue" would also work after flush of caches with cacheManager.

For example, i have a finisher class for EXT:powermail which flush caches for specific pages after form submit with cacheManager->flushCachesByTags($cacheTags). The pages ($chacheTags) are currently not add auto

[2022-01-11 18:15] #865 closed

[2022-01-11 18:30] #784 closed

[2022-01-16 16:06] Boa2 opened #881 "Exceptions in backend after activation"
## Bug Report

**Current Behavior**
When activating version 11.0.1 or 11.0.2 I get an exception:
(1/1) ParseError
syntax error, unexpected 'EventDispatcher' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)

I deinstalled / reinstalled several times, tried to Flush Caches via the Install Tool which failed.
Also "Check for Broken Extensions" did not work - it processes endlessly.

I ca

[2022-01-16 17:44] tomasnorre commented on #881
Hi @Boa2

Thanks for your report, can you please post a stack trace, I would be surprised if the stack trace didn't say where the syntax error is.

[2022-01-16 19:12] Boa2 commented on #881
I hope this helps:

(1/1) ParseError

syntax error, unexpected 'EventDispatcher' (T_STRING), expecting function (T_FUNCTION) or const (T_CONST)
in [...]/webseiten/dev/typo3conf/ext/crawler/Classes/Backend/RequestForm/StartRequestForm.php line 48

     * @var int
     */
    private $reqMinute = 1000;

    private EventDispatcher $eventDispatcher;

    /**
     * @var array holds the selection of c

[2022-01-16 19:24] tomasnorre commented on #881
Thanks.

That helps. I overlooked the version at first.

TYPO3 Crawler 11.x isn't compatible with PHP 7.2 so that's why you're running into problems.
https://github.com/tomasnorre/crawler/#versions-and-support

[2022-01-17 07:45] Boa2 commented on #881
Thank you for the info.

[2022-01-17 07:45] #881 closed

[2022-01-17 07:53] tomasnorre commented on #881
No problem. Thanks for your fast responses.

[2022-01-17 18:42] tomasnorre commented on #773
The last tests fails due to this

[2022-01-17 20:53] julianhofmann opened #882 "Access-restricted pages can't be crawled (403)"
## Bug Report

**Current Behavior**
Crawling an access-restricted page (via "Usergroup Access Rights" - directly or via "Extend to Subpages") results in the status "Error - no info, sorry!". Looking at the details of the queue, the `result_data` contains "403 Forbidden"
![screenshot-2022 01 17-21_45_43](https://user-images.githubusercontent.com/25646388/149835489-213ece51-f867-471d-bc58-b0f9b9ac6c

[2022-01-17 21:04] tomasnorre commented on #882
Thanks for reporting @julianhofmann. I'll look into this. Can you update the compose-mode information please? in the issue, think you simply overlooked it.

[2022-01-17 22:09] julianhofmann commented on #882
Ops... Yes, composer-mode. (Deleted the brackets but none of the answers :-/ )

[2022-01-18 17:40] tomasnorre commented on #882
@julianhofmann Can you please check for me if you're using directRequest or not. See https://docs.typo3.org/p/aoepeople/crawler/main/en-us/Configuration/ExtensionManagerConfiguration/Index.html

I bet that directRequests will work for you. But it's still a bug. But would be happy to know if it changes anything for you.

[2022-01-18 18:40] tomasnorre commented on #882
I have just tested this. Switching away from DirectRequests makes this fail.
I would suggest DirectRequests as a workaround, and I'll work on a fix.

[2022-01-18 19:02] julianhofmann commented on #882
You've won :-) DirectRequests have been still inactive (as it is the default). Activating DirectRequests is working solution for me. Thank you!

[2022-01-18 19:07] tomasnorre commented on #882
Thanks. Will consider updating the default, or at least update the documentation.
Thanks for testing and given me feedback.

[2022-01-18 19:44] julianhofmann commented on #882
:-( DirectRequests does not work. Status got "OK", but result_data content is "Called TYPO3 from the wrong document root!".
Maybe it's the combination of crawler & helhum/typo3-secure-web, where document-root != web-dir != root-dir

I will continue to try and search - and report the results.

[2022-01-18 19:46] tomasnorre commented on #882
Thanks. That can be a valid input. Let me know what you figure out.
I'll look into it too somewhen, but don't have too much time atm. Planning the move :)

[2022-01-19 06:00] tomasnorre commented on #773
Resolved with https://github.com/tomasnorre/crawler/pull/774

[2022-01-19 06:00] #773 closed

[2022-01-21 05:54] tomasnorre commented on #882
Julian, does this

Happens for both Access-Restricted pages or all pages?

[2022-01-21 06:14] tomasnorre commented on #882
Even though the status says ok, the result is: "Page Not found"

![direct_request_restrictedpage](https://user-images.githubusercontent.com/1212481/150475889-beaa6a43-d036-4b4d-9985-0655fcf307ea.png)

When using the login form on the page and visit the page manually, it's there and working. So the is definitive a bug here.

[2022-01-21 11:43] tomasnorre commented on #882
@julianhofmann Can you please test if this is working for you. For me, it fixes the problem for both DirectRequest and non-DirectRequests.

https://github.com/tomasnorre/crawler/pull/886

[2022-01-26 15:51] LukeDberg commented on #584
Hi @tomasnorre,

i stumbled across this exact problem today. Is there any progress there?

[2022-01-26 16:16] tomasnorre commented on #584
Sorry, haven't come up with any implementation details yet. So If you have some ideas, I would be happy to listen, Review or help in what ever form you can contribute to this being solved.

[2022-01-28 11:32] #882 closed

[2022-01-28 15:02] LukeDberg commented on #584
@tomasnorre I have found a "solution" (`UrlService`) which may not be very performant, especially if you want to fill the queue with a lot of pages. Anyway, I think it should be avoided that the queue is filled with URLs that simply doesn't exist.

[code]

[2022-01-28 18:05] tomasnorre commented on #584
Could you please make a PR, that will make it easier for me to test and review.

[2022-01-31 20:28] tomasnorre commented on #798
Suggestion on Twitter. https://docs.typo3.org/c/typo3/cms-scheduler/9.5/en-us/DevelopersGuide/CreatingTasks/Index.html

[2022-02-01 08:05] LukeDberg commented on #584
@tomasnorre https://github.com/tomasnorre/crawler/pull/891

[2022-02-01 08:19] tomasnorre commented on #584
Thanks will check it out.

[2022-02-07 18:16] tomasnorre opened #894 "[CLEANUP] Remove deprecations in QueueRepository"
Clean-up QueueRepository

- [ ] Remove `countAllUnassignedPendingItems` from `QueueRepository`
- [ ] Remove `countPendingItemsGroupedByConfigurationKey` from `QueueRepository`
- [ ] Remove `getSetIdWithUnprocessedEntries` from `QueueRepository`
- [ ] Remove `getTotalQueueEntriesByConfiguration` from `QueueRepository`
- [ ] Remove `getLastProcessedEntriesTimestamps` from `QueueRepository`
- [ ] Rem

[2022-02-07 18:21] tomasnorre opened #895 "[CLEANUP] Remove deprecations from ConfigurationRepository"
Clean-up `ConfigurationRepository`

- [ ] Remove `getCrawlerConfigurationRecords`

[2022-02-07 18:24] tomasnorre opened #896 "[CLEANUP] Remove deprecations from ProcessRepository"
- [ ] Remove `findByProcessId`

[2022-02-10 18:53] tomasnorre commented on #584
Resolved with https://github.com/tomasnorre/crawler/pull/891

[2022-02-10 18:53] #584 closed

[2022-02-11 08:29] tomasnorre commented on #757
@Typine3 Can you please check if the latest version 11.0.4 is solving your problem?

[2022-02-11 13:05] tomasnorre opened #901 "[FEATURE] Dynamic Update of Process Status without refresh"
It would be cool if the Status update was done without a refresh.
![typo3_crawler_process_status](https://user-images.githubusercontent.com/1212481/153596299-b6b097c9-8e29-483b-bb31-e5a4559d99f0.png)

[2022-02-11 13:05] tomasnorre commented on #901
👋 @tomasnorre
Thank you for raising an issue.

I'm out till beginning of March '22, so the response time will be longer than normal.
If you are looking for help, you can try to reach out to other users on the TYPO3 Slack in the #ext-crawler channel.

https://typo3.org/community/meet/how-to-use-slack-in-the-typo3-community

Please make sure you have given us as much context as possible.

[2022-03-04 06:35] tomasnorre opened #903 "Public constants should be private `ProcessQeueuCommand`"

[2022-03-04 07:03] tomasnorre opened #905 "Set `Classes/Middleware/*` to Final"

[2022-03-04 07:07] tomasnorre opened #906 "Switch CrawlStrategy (interface) to have Interface in file/class-name"

[2022-03-04 07:27] #903 closed

[2022-03-04 07:34] tomasnorre opened #908 "Remove `$this->queueRepository` from `ProcessQueueCommandTest`"

[2022-03-04 07:46] #906 closed

[2022-03-04 08:12] #908 closed

[2022-03-04 08:27] #856 closed

[2022-03-04 09:12] tomasnorre opened #911 "Remove `countActive()` in `ProcessRepository`"

[2022-03-04 09:32] #911 closed

[2022-03-04 09:37] tomasnorre opened #914 "Remove `getLimitFromItemCountAndOffset` in `ProcessRepository`"

[2022-03-04 09:51] #895 closed

[2022-03-04 09:53] tomasnorre opened #916 "Switch getExtensionIcon to be private function"

[2022-03-04 10:11] #914 closed

[2022-03-04 10:21] tomasnorre opened #918 "Remove `protected $queueRepository` from `FrontendUserAuthenticator`"

[2022-03-04 10:46] #918 closed

[2022-03-04 13:26] tomasnorre opened #920 "Add TypeHint for BackendRequestForm Render methods"

[2022-03-04 13:34] #916 closed

[2022-03-04 14:13] #920 closed

[2022-03-04 14:38] tomasnorre commented on #894
This will not be done till the CrawlerApi is removed

[2022-03-05 12:17] #896 closed

[2022-05-05 12:18] valtissimo opened #932 "No Direct requests possible with helhum/typo3-secure-web"
## Bug Report

**Current Behavior**
When used together with helhum/typo3-secure-web, the crawler is not able to make direct requests. Requests are answered with "Called TYPO3 from the wrong document root!" and nothing gets indexed

**Expected behavior/output**
Direct requests should be possible when helhum/typo3-secure-web is used

**Steps to reproduce**
Install helhum/typo3-secure-web, set makeDi

[2022-05-05 13:36] tomasnorre commented on #932
I have considered for a longer time, how to get rid of the Bootstrap file in general, and improve the direct request, but haven't come up with a good approach yet.

Will be happy to hear if you have any ideas/suggestions.

[2022-08-19 14:11] kpnielsen opened #938 "Documentation is partly outdated"
The part in the documentation about [Respecting Categories in News](https://docs.typo3.org/p/tomasnorre/crawler/11.0/en-us/Configuration/Examples/News/Index.html#respecting-categories-in-news) is outdated. At least with TYPO3 11.5.14 and news 9.4.0 a PSR-14 event has to be used. The switch isn't that difficult but it should be reflected in the docs.

[2022-08-22 13:58] #938 closed

[2022-08-29 07:11] tomasnorre opened #941 "[CI] Improve Code Coverage for new contributions"
After reading on Twitter, this looks like a good approach for CI testing on new committed code.
https://andreas.heigl.org/2022/08/28/increase-code-coverage-successively/

I would like to give this a spin and see how it works out for the crawler.

[2022-09-30 11:31] kpnielsen commented on #758
Just got back to this because a colleague of mine stumbled across this very same problem, again.
It might be enough to wrap the `exec('ps aux ...')` call in the hook with an if-statement like so
[code]
This would at least prevent the scheduler from failing altogether. Is there anything that speaks against it?

[2022-10-03 08:20] tomasnorre commented on #758
This would at least stop the scheduler from failing, but would still not make the crawler working on systems without `ps`.

So we can add this for now, and still consider better options.
Would you mind creating the PR?

[2022-10-04 12:36] tomasnorre opened #946 "[TASK] Make TYPO3 12.0 compatible"
- [ ] Configure CI to run with TYPO3 12.0 too
- [ ] Adjust composer.json
- [ ] Ensure no breaking changes still present

[2022-10-04 12:36] tomasnorre commented on #946
👋 @tomasnorre
Thank you for raising an issue.

I'm out till end of September '22, so the response time will be longer than normal.
If you are looking for help, you can try to reach out to other users on the TYPO3 Slack in the #ext-crawler channel.

https://typo3.org/community/meet/how-to-use-slack-in-the-typo3-community

Please make sure you have given us as much context as possible.

[2022-10-07 11:49] tomasnorre commented on #825
Issue closes as all reminders are done.

[2022-10-07 11:49] #825 closed

[2022-10-21 10:52] SventB opened #959 "sleep time and sleep after description wrong"
The descriptions are wrong, they are switched, e.g. for config option "sleepafter" it says "Amount of milliseconds which the system should use to relax between crawls".

[2022-10-22 17:11] tomasnorre commented on #959
Would you mind make a PR with the change?

[2022-10-22 17:12] tomasnorre commented on #959
Looks correct to me here:

https://github.com/tomasnorre/crawler/blob/main/ext_conf_template.txt#L28
https://github.com/tomasnorre/crawler/blob/main/ext_conf_template.txt#L31

[2022-10-23 12:24] SventB commented on #959
Sorry, I should have been more precise, it's wrong (or it was wrong) in ProcessQueueCommand.php, but was fixed in this commit:
https://github.com/tomasnorre/crawler/commit/cd482fbacca5332be3bf5b4808e03c170a06b0e4
But it's still wrong in newest version in TER.

[2022-10-23 14:20] tomasnorre commented on #959
I'll close this issue then, as it's fixed in main.
Will do a new release as soon as we are ready with a 12 compatible version.

This will qualify for a bugfix release for the versions still getting those.
Thanks for reporting

[2022-10-23 14:20] #959 closed

[2022-10-26 11:54] heuchri56 opened #960 "Crawler Configuration: No Processing instruction filter shown"
In my installation (Typo3 11.5.17, PHP 8.1, MySQL 8.0.27, bootstrap_package, news, indexed_search and crawler) no processing instruction filter is shown in the backend while adding or editing a crawler configuration. An indexer configuration for indexed_search is in the root page together with the crawler configuration record.
I have added the instruction tx_indexedsearch_reindex manually to the d

[2022-10-26 12:58] ArchonSlime commented on #960
I encountered the same problem yesterday and was trying to find a solution. I found this that could be the cause for this issue, if it can be of any help.
[Breaking: #93110 - Indexed search does not provide hook for EXT:crawler anymore](https://docs.typo3.org/c/typo3/cms-core/main/en-us/Changelog/11.0/Breaking-93110-IndexedSearchDoesNotProvideHookForEXTcrawlerAnymore.html?highlight=crawler)

[2022-10-28 05:15] tomasnorre commented on #960
@heuchri56 Can you please let me know what you added to the database.
My setup is still working locally after upgrading to the versions that you reported the error with, but I might have a left over in the DB.

[2022-10-28 06:00] tomasnorre commented on #960
I have just set up a new TYPO3 instance, and there I can reproduce the problem. So it's a left over in my dev-environment.

[2022-10-28 06:02] heuchri56 commented on #960
After saving the configuration cantuscrawler1 in the backend I found the field processing_instruction_filter in the table tx_crawler_configuration being empty and entered tx_indexedsearch_reindex manually. Before this change indexing did not take place, afterwards yes. But I am not sure whether this success was really caused by populating this field.

Von: Tomas Norre Mikkelsen ***@***.***>
Gesend

[2022-10-28 06:27] tomasnorre commented on #960
@heuchri56 Which part wasn't working for you? The indexing or the search?
for me the indexing is working but regardless of search string, no results are shown.

[2022-10-28 06:30] heuchri56 commented on #960
If I remember right, the indexing statistics did not show any results / “not indexed” so I interpreted it as not having indexed. The search results were empty as well.

Von: Tomas Norre Mikkelsen ***@***.***>
Gesendet: Freitag, 28. Oktober 2022 08:27
An: tomasnorre/crawler ***@***.***>
Cc: heuchri56 ***@***.***>; Mention ***@***.***>
Betreff: Re: [tomasnorre/crawler] Crawler Configuration: No Proc

[2022-10-28 09:59] tomasnorre commented on #960
@heuchri56 @ArchonSlime would you mind testing the PR and give me some response.

[2022-10-28 10:24] tomasnorre opened #962 "Back port pull/961 for v11.x"
This PR should be back portered to v11.x branch, probably with adjustments.
https://github.com/tomasnorre/crawler/pull/961

Create a new 11.x release afterwards.

[2022-10-28 13:15] ArchonSlime commented on #960
On my side, it fixed the issue, the Processing instruction filter is now showing like it was on my older typo3 (8.7 and 9.5).
For me, adding it manualy in the database or selecting it with this new fix produced the same results. The crawler is able to crawl and it indexes pages. The search engine is also working.

[2022-10-28 13:26] tomasnorre commented on #960
Thanks for confirming.

[2022-10-28 15:33] heuchri56 commented on #960
Works well in my installation – observed the same as ArchonSlime.

Many thanks!

Von: ArchonSlime ***@***.***>
Gesendet: Freitag, 28. Oktober 2022 15:16
An: tomasnorre/crawler ***@***.***>
Cc: heuchri56 ***@***.***>; Mention ***@***.***>
Betreff: Re: [tomasnorre/crawler] Crawler Configuration: No Processing instruction filter shown (Issue #960)

On my side, it fixed the issue, the Processing instr

[2022-10-29 07:35] tomasnorre commented on #960
Thanks, will have this merged, and back ported to the 11.x branch and create a new release.

[2022-10-29 07:35] #960 closed

[2022-11-03 15:14] Alagts opened #965 "Undefined array key "log_resultLog""
## Bug Report

**Current Behavior**
When we click "Queue id" in the "Info" module in the TYPO3 backend when the function "Crawler log" is selected then the following error message appears: Core: Error handler (BE): PHP Warning: Undefined array key "log_resultLog" in .../public/typo3conf/ext/crawler/Classes/Backend/RequestForm/LogRequestForm.php line 159

**Expected behavior/output**
I expect that

[2022-11-04 10:41] tomasnorre opened #969 "Check if ProcessCleanupHook can be cleaned up"
Output from PHPStan

------ ------------------------------------------------------------------------------------------------
  Line   Classes/Hooks/ProcessCleanUpHook.php
 ------ ------------------------------------------------------------------------------------------------
  36     Property AOE\Crawler\Hooks\ProcessCleanUpHook::$extensionSettings is never read, only written.
         💡 See: http

[2022-11-04 10:45] tomasnorre opened #970 "Check if Classes/Hooks/IndexedSearchCrawlerFilesHook.php can be removed"

[2022-11-04 14:42] #970 closed

[2022-11-04 16:18] #969 closed

[2022-11-10 09:20] tomasnorre opened #974 "Check possibility for using FeSubRequests"
From slack talk with Christian Kuhn.

This might enable us to get rid of the direct requests and the cli-bootstrapping in crawler.

[2022-11-10 13:34] tomasnorre commented on #965
Closed with #966.

Will create a new 11.0.5 release tomorrow.

[2022-11-10 13:34] #965 closed

[2022-11-10 13:35] tomasnorre commented on #962
Fixed with #961

[2022-11-10 13:35] #962 closed

[2022-11-10 14:12] tomasnorre commented on #894
Is finalized in following commit https://github.com/tomasnorre/crawler/commit/f71ba9dfaa1e6455788ee105fb46f026afd8f606

[2022-11-10 14:12] #894 closed

[2022-11-10 20:14] tomasnorre opened #976 "Configure CI to run with TYPO3 12.0 too"

[2022-11-11 06:20] tomasnorre opened #978 "[CI] Switch deployment to tomasnorre/typo3-upload-ter@v2"
- [x] dev-main (Done in commit: https://github.com/tomasnorre/crawler/commit/a286a3dd167bb3bceb6d2b60764f3e3abecc716d)
- [x] v11.x (Done in commit: https://github.com/tomasnorre/crawler/commit/d2629f1b2650761bc8858615fe0382ecb1692be0)

[2022-11-11 06:58] tomasnorre opened #979 "Reminders for when dropping TYPO3 11 Support"
- [x] Cleanup ItemProviderTest (version compare)
- [x] Remove Condition in GuzzleExecutionStrategyTest (version compare)
- [x] Remove all usages of Object Manager e.g. In Repositories
- [ ] Remove Tests/Functional/Fixtures/Resources/Templates/Standard-folder
- [x] Remove BackendUtility
- [x] Remove BackendModule->init()

[2022-11-11 08:12] tomasnorre opened #980 "Remove all usage of ObjectManager"

[2022-11-11 22:21] tomasnorre opened #981 "[DEVBOX] Remove usage of typo3/cms-introduction + bootstrap_package"
As the devbox isn't really a matter of design and backend-layouts. The devbox should be configured with as few dependencies as possible.

Creating a simple site for testing without the introduction package and the bootstrap package should be doable.

[2022-11-12 19:51] #981 closed

[2022-11-17 11:54] hacksch opened #984 "crawler:buildQueue failed by warning under PHP 8.1"
## Bug Report

**Current Behavior**
When i execute crawler:buildQueue via console i get the following message and the process stops

"[ TYPO3\CMS\Core\Error\Exception ]
  Warning: Undefined array key "log" in /var/www/aoeweb/htdocs/typo3conf/ext/crawler/Classes/Command/BuildQueueComman
  d.php line 187"

**Expected behavior/output**
Command should be executed successful

**Environment**
- Crawler

[2022-11-17 12:01] tomasnorre commented on #984
Thanks for the report. I'll make sure it gets correct, and included in the next release.

[2022-11-18 08:55] tomasnorre opened #985 "[FEATURE] Create a new Backend Module"
Switch from 3rd Level Backend module, to a regular backend module like Indexed Search and News.
https://docs.typo3.org/c/typo3/cms-core/main/en-us/Changelog/12.0/Feature-96733-NewBackendModuleRegistrationAPI.html

This will also give more visibility to the Crawler extension.

[2022-11-18 09:52] tomasnorre commented on #984
@hacksch Can you please verify that the PR is solving your problem?
I could not reproduce it locally, but the check has no harm, and is safer to check like this.

So I'm OK with the change.
If you verify that it works, I'll create a new 11.0.7 release.

[2022-11-18 15:18] hacksch commented on #984
@tomasnorre Works perfect. Thanks Tomas

[2022-11-18 15:43] tomasnorre commented on #984
Then I'll have it merged and create a new release.

[2022-11-18 15:59] tomasnorre commented on #984
Fix with the 11.0.7 release

https://extensions.typo3.org/extension/crawler
https://packagist.org/packages/tomasnorre/crawler#11.0.7

#HappyCrawling

[2022-11-18 15:59] #984 closed

[2022-11-25 12:34] #978 closed

[2022-11-29 13:31] DenisMir opened #989 "ConfigurationService PHP 8.1 warning is getting thrown when no transOrigPointer field is defined"
## Bug Report

**Current Behavior**
In the `ConfigurationService` a warning is getting thrown when the tables TCA doesn't contain a `transOrigPointerField` in line 285:

`$transOrigPointerField = $GLOBALS['TCA'][$subpartParams['_TABLE']]['ctrl']['transOrigPointerField'];`

This is due to no check if the array key exists.

This can be the case when no real translations are used.

**Expected behavio