[2015-06-16 14:11] eyecatchup opened #1 "Fix CLI: incorrect start index / high memory consumption."
Two [related](https://forge.typo3.org/issues/64493) [issues](https://forge.typo3.org/issues/64491) were posted to the forge bug tracker:

- currently in CLI mode the startpage argument is used with wrong index. This leads to the problem that the crawler will alsways start crawling from id 0.
- currently the crawler eats lots of memory and is running in timeouts even in CLI context.

A patch to add

[2015-06-16 14:15] #1 closed

[2015-06-16 14:17] eyecatchup commented on #1
Incorporated Johannes Feustel's patch from https://review.typo3.org/#/c/36623/

[2015-09-01 16:50] tomasnorre opened #2 "config.absRefPrefix not respected by tx_crawler_lib::getFrontendBasePath()"
GIVEN the frontendBasePath extension setting is empty
AND config.absRefPrefix is set
THEN frontendBasePath should use the value from config.absRefPrefix

It seems $GLOBALS['TSFE'] is empty.

Migrated from: https://forge.typo3.org/issues/68950

[2015-09-01 16:51] tomasnorre opened #3 "Incompatible with Indexed_search"
From the last release of 4.0.0, we got this error reported:

https://forge.typo3.org/issues/55106#note-17

Hi all,
I've installed and tried today the crawler latest dev version https://git.typo3.org/TYPO3CMS/Extensions/crawler.git/snapshot/20bfb07561b5e15f2324fd84751c633cb049dacd.zip on Typo3 6.2.7, PHP 5.5.9.
Unfortunately it doesn't seem to want to queue anything.

This is my process (following

[2015-09-01 16:53] tomasnorre opened #4 "Update Documentation"
Proof read the documentation, and update accordingly.

+ Add the AOE Way
See text here: https://docs.typo3.org/typo3cms/extensions/restler/Pages/Aoe.html
+ Add links section https://docs.typo3.org/typo3cms/extensions/cloudflare/Links.html

[2015-09-01 16:55] tomasnorre opened #5 "reduce CLI memory consumption"
Currently the crawler eats lots of memory and is running in timeouts even in CLI context

IMPORTANT:
See https://forge.typo3.org/issues/64491 for more info, future dicussion etc. will take here at github.

[2015-09-01 16:58] tomasnorre opened #6 "Something went wrong: process did not appear within 10 seconds."
Hi,

Just upgraded the crawler from 3.2.0 (TYPO3 4.5.22) to the latest 3.5.0 and it seems it does not work anymore.
When trying to add a process the error:

"Something went wrong: process did not appear within 10 seconds."

appears.

I have tried this on my local Windows dev machine and on the Linux server itself, and both seem to fail.

PHP version 5.3.15 on Windows and 5.3.3 on Linux.

IMPORTANT

[2015-09-01 17:00] tomasnorre opened #7 "tx_crawler_lib::flushQueue() may unnecessarily eat tons of memory"
Here is the relevant code from that function:

[code]

Imagine what happens if observer does not need any row but exec_SELECTgetRows() returns 90000 rows. Would that be efficient? Let's count at least data: 32 bits = 4 bytes \* 90000 = 360K of data. Add here PHP internal array structures and you'll get the idea how much memory this code needs. It is well beyond a typical 128K value that most serve

[2015-09-01 17:01] tomasnorre opened #8 "Deleting old tx_crawler_processes entries ends up in slow query"
This update query uses a lot of performance. Is there any way to improve this action?
To use UPDATE and set the process to deleted=1 leaves the table with a lot of old deleted entries.

$GLOBALS['TYPO3_DB']->exec_UPDATEquery(
'tx_crawler_process',
'active=0
AND NOT EXISTS (
SELECT * FROM tx_crawler_queue
WHERE tx_crawler_queue.process_id = tx_crawler_process.process_id
AND tx_crawler_queue.exec_ti

[2015-09-01 17:04] tomasnorre opened #9 "Setting up Travis-CI and Scrutinizer"
This is practically finished, it might have small adjustments, but in general it should be ready:

Travis: https://travis-ci.org/tomasnorre/crawler/builds/73626092
Branch: https://github.com/tomasnorre/crawler/tree/Feature/Travis-Scrutinizer
Commit: https://github.com/tomasnorre/crawler/commit/9646a7fa08be0463f32d66433a21ff393b1b3dff

Migrated from: https://forge.typo3.org/issues/68951

[2015-09-01 17:07] tomasnorre opened #10 "Re-add type hint to tx_crawler_hooks_staticFileCacheCreateUri::initialize"
The type hint for $parent has been removed as a bugfix with #66545. With switching to namespaces, we should add it again:

@public function initialize(array $parameters, SFC\NcStaticfilecache\StaticFileCache $parent) {

Migrated from: https://forge.typo3.org/issues/68727

[2015-09-01 17:08] tomasnorre opened #11 "Replace deprecated function calls"
Migrated from: https://forge.typo3.org/issues/68502

[2015-09-01 17:09] tomasnorre opened #12 "Namespaces for classes"
Migrated from: https://forge.typo3.org/issues/68501

[2015-09-01 17:10] tomasnorre opened #13 "Namespaces for tests"
Migrated from: https://forge.typo3.org/issues/68500

[2015-09-01 17:10] tomasnorre opened #14 "Convert to PSR-2"
Migrated from: https://forge.typo3.org/issues/68499

[2015-09-01 17:13] tomasnorre opened #15 "MultiCrawler Output"
Yesterday I tested and accepted #69331 but i'm not sure it's the right approach.

The setting processDebug is one thing and processVerbose is different, so i'm considering changing the $this->verbose setting to be used from processVerbose, which is a new setting that has to be introduced then.

Feedback appreciated.

IMPORTANT: Please see dicussion/questions here: https://forge.typo3.org/issues/69

[2015-09-01 17:14] tomasnorre opened #16 "Splitting Extension configuration into tabs"
To have a better overview of the configurations options it would be nice to split the extension configuration into tabs.

When this is done, please update the documentation with new screenshots.

Migrated from: https://forge.typo3.org/issues/69003

[2015-09-01 17:15] tomasnorre opened #17 "Update BE Icon to work with TYPO3 v7.x"
There was a similar update in ext:phpunit, inspiration can be found here:
https://forge.typo3.org/issues/64645

Migrated from: https://forge.typo3.org/issues/68993

[2015-09-01 17:16] tomasnorre opened #18 "[BE Module] SelectBox - Menu call to 'index.php?id='"
I'm trying to reindex my Webpage after the upgrade frpm 4.5 to 6.2. My actually version of Typo3 is 6.2.6 and crawler 3.6.2.

My problem is when I select in the SiteCrawler-Menu another option that the already select, it redirect me to the backend.php section of typo3. I don't know why another people don't have the same problem like me.

I haved the same problem with another extensions, and I solv

[2015-09-01 17:17] tomasnorre opened #19 "Warning generated in IconUtility"
I've set up crawler for indexing through the CLI and am now getting the following warning whenever it runs:

PHP Warning:  in_array() expects parameter 2 to be array, null given in /var/www/typo3/typo3_src-6.1.1/typo3/sysext/backend/Classes/Utility/IconUtility.php on line 594
PHP Stack trace:
PHP   1. {main}() /var/www/typo3/typo3_src-6.1.1/typo3/cli_dispatch.phpsh:0
PHP   2. include() /var/www/ty

[2015-09-01 17:19] tomasnorre opened #20 "HTTP Authentication support"
It would be very nice to have a HTTP Authentication support for the crawler, so websites (intranet mainly) that are protected by a htaccess authentication could be crawled too, especially if it's not possible to exclude the server itself from the authentication procedure.

Migrated from: https://forge.typo3.org/issues/47595

[2015-09-01 17:20] tomasnorre opened #21 "No php binary found in '/usr/bin/php/' -> Linuxserver"
I have an error with the side-crawler 3.5.0 in TYPO3 4.5.10 :

No php binary found in '/usr/bin/php/'. Please update value for 'phpPath' in crawler extension setup.

the php binary is there.

Downgrade to 3.2.0 fixed the problem.

MIgrated from: https://forge.typo3.org/issues/47100

[2015-09-01 17:21] tomasnorre opened #22 "Hidden records should be ignored"
I have a page where I display data records that are organized in a sysfolder. I'm using the following configuration to crawl the different contents (page uid is 13, sysfolder uid is 15):

tx_crawler.crawlerCfg.paramSets {
    items = &tx_myext[items]=[_TABLE:tt_myext_items;_PID:15]
    items {
        pidsOnly = 13
        cHash = 1
        procInstrFilter = tx_indexedsearch_reindex
    }
}
The pr

[2015-09-01 17:38] #9 closed

[2015-09-02 04:15] tomasnorre opened #25 "Split functional and unit testing"
Split testing into Functional and Unit + Add the Functional to the Travis-CI testing..

Related to #13

[2015-09-04 06:08] t3easy opened #26 "TYPO3 4.5 scheduler namespace fatal error"
The extension is defined as compatible with TYPO3 4.5, but if I try to open the scheduler I get

*PHP Fatal error: Class 'TYPO3\CMS\Scheduler\Task\AbstractTask' not found in /.../typo3conf/ext/crawler/scheduler/class.tx_crawler_scheduler_im.php on line 32*

because you used the TYPO3 6.2+ namespace classes.

Environment TYPO3 4.5.41
PHP 5.5.9

[2015-09-04 16:42] tomasnorre opened #27 "Add code-coverage upload to travis"

[2015-09-04 16:55] #27 closed

[2015-09-04 21:38] #15 closed

[2015-09-22 15:09] rsatwork commented on #26
I can confirm this problem.

[2015-10-13 15:59] ArminVieweg commented on #20
This is already possible. Just configure as base url something like that `http://user:pass@www.mydomain.com/`

[2015-10-13 19:35] tomasnorre commented on #20
Thanks for your input, then we perhaps just needs to update the manual, to make users aware of this option..

[2015-10-27 13:24] tomasnorre commented on #14
The also includes making PSR-2 compliant.

[2015-10-27 13:28] tomasnorre opened #30 "Enable Workspace"
The Workspace is currently disabled, due to a bug in the core.

The bug is solved in master.
https://forge.typo3.org/issues/70052

[2015-10-27 13:28] tomasnorre opened #31 "Removed Commented lines with require"

[2015-10-27 13:29] tomasnorre opened #32 "Removed Version comparisons for 4.x"

[2015-10-27 13:29] tomasnorre opened #33 "Refactor cli_* classes to one class with several options"

[2015-10-27 13:30] tomasnorre opened #34 "Check addNotice function"
This function looks like its not used/needed anymore. Please check.

[2015-11-02 14:44] fabtho commented on #22
This is not  bug. Its just undocumented. just add this ```[_TABLE:tt_myext_items;_PID:15, _WHERE: and hidden = 0]```

Just tested this for tt_news and its working. Read the source here:

https://github.com/TYPO3-extensions/crawler/blob/master/class.tx_crawler_lib.php#L752

[2015-11-16 08:26] pvanhemmen opened #35 "AJAX Call in CE Content Menu throws PHP Fatal Error"
TYPO3 7.6
crawler 5.0

With the crawler extension installed the CE context menu stops working and throws a PHP Fatal Error each time it is clicked. From the log:

```Core: Exception handler (WEB): Uncaught TYPO3 Exception: #1: PHP Catchable Fatal Error: Argument 1 passed to tx_crawler_contextMenu::main() must be an instance of clickMenu, instance of TYPO3\CMS\Backend\ClickMenu\ClickMenu given, cal

[2015-11-16 10:15] tomasnorre commented on #35
From Slack: https://typo3.slack.com/archives/cig-crawler/p1447668840000009

PHP Catchable Fatal Error: Argument 1 passed to tx_crawler_contextMenu::main() must be an instance of clickMenu, instance of TYPO3\CMS\Backend\ClickMenu\ClickMenu given, called in /Applications/XAMPP/xamppfiles/htdocs/wat/typo3_src/typo3/sysext/backend/Classes/ClickMenu/ClickMenu.php on line 488 and defined in /Application

[2015-11-16 10:15] tomasnorre commented on #35
Please also check this..
From Slack: https://typo3.slack.com/archives/cig-crawler/p1447668559000003

[2015-11-18 09:15] julianstefanov opened #37 "Crawling Processes Page information getting into failure url when you click on any of the buttons there (Typo3 7.6.0)"
When you get to the Backend Info page, then select the Site Crawler information page and then select the "Crawling Processes" from the Page information select box you got 3 buttons:
"Refresh", "Enable crawling" and "Show finished and terminated processes".
If you click on any of them, the right typo3 backend iframe window loading the index of the typo3 backend.
Look at the screenshots:
1 screen: t

[2015-11-18 13:24] tomasnorre commented on #37
Thanks for letting us know, I'll take a look.

[2015-11-18 13:26] #35 closed

[2015-11-18 17:56] tomasnorre commented on #37
I can confirm this issue.. I'll dig more into it.
Thanks for reporting.

[2015-11-27 23:56] tomasnorre opened #39 "Include additional linting from tomasnorre/t3ee_example"

[2015-12-02 15:34] SventB opened #40 "Not working with TYPO3 7.6 / usage of invalid functions"
The crawler ext. uses function \TYPO3\CMS\Core\Utility\GeneralUtility::loadTCA but this function is not available in TYPO3 version 7.6

[2015-12-07 14:04] tomasnorre commented on #40
Thanks. We will update

[2015-12-08 12:46] #40 closed

[2015-12-08 13:09] #37 closed

[2015-12-23 10:22] lukastaferner opened #43 "FEUser GroupList not resolved recursively when crawling"
Unfortunately the list of groups a FE-User is member of is not resovled recursively.

It works with one level of subgroups, but if the subgroup has subgroups (and so on) different grlist entries are made the indexed_search pHash Tab (see Screenshot -> 1st entry made by manually opening the page in the browser, second row by crawler extension with same FE-Group entry).

Maybe setting the group-list

[2015-12-23 10:23] lukastaferner commented on #43
![image](https://cloud.githubusercontent.com/assets/16412576/11974777/96d4926e-a967-11e5-8f68-57633975871f.png)

[2015-12-28 22:43] tomasnorre commented on #43
Thanks we will have a look after the holidays..

[2016-01-20 16:00] vdespa commented on #6
https://forge.typo3.org/issues/44875 is not public available.

Steps to reproduce in crawler version 5.0.1:

1. Add pages to the crawler queue.
2. Manually start crawling processes (Add process)
3. Click reload
4. When the processes are finished and die, you will start seeing the error:

![screen shot 2016-01-20 at 16 54 42](https://cloud.githubusercontent.com/assets/1197635/12454196/c46ef184-bf96

[2016-01-20 16:57] vdespa opened #45 "Crawling Processes Page Information - Refresh button does not work as expected in TYPO3 6.2"
This is related to the change made in relation to this issue #37 (52c7b2d99d6d9e29b32506c19c3652cdd1ebb961).

The commit introduces a regression.

Steps to reproduce in crawler version 5.0.1, TYPO3 6.2 or 7.6.2:

1. Add pages to the crawler queue (5-10 pages)
2. Manually start crawling processes (Add process)
3. Click reload (maybe multiple times).
4. When the processes are finished and exit, you

[2016-01-20 21:16] tomasnorre commented on #45
Hmm.. Will have a look, just updated today in another project. Will have to check tomorrow..

Thanks for reporting.

[2016-01-22 08:27] vdespa opened #47 "Regression - Crawler cannot create new processes"
It seems that the commit 656cd90 introduced a regression. Occurs in TYPO3 6 & 7 LTS.

**Steps to reproduce:**

1. Add pages to the crawler queue
2. In BE, go to the Process Overview and add try to start a new process
3. The process will not start and an error will appear.

![screen shot 2016-01-22 at 09 21 02](https://cloud.githubusercontent.com/assets/1197635/12505710/988c391a-c0e9-11e5-8c97-f379

[2016-01-22 09:44] #45 closed

[2016-01-22 10:05] vdespa opened #48 "Refresh icon (refresh_n.gif) not showed in TYPO3 7 LTS"
The file `/typo3/gfx/refresh_n.gif` seems no longer to be present in TYPO3 7 LTS.

![screen shot 2016-01-22 at 11 02 43](https://cloud.githubusercontent.com/assets/1197635/12507738/e79f2bbc-c0f7-11e5-912e-36a912cc6d01.png)

![screen shot 2016-01-22 at 11 03 03](https://cloud.githubusercontent.com/assets/1197635/12507733/e18e6b98-c0f7-11e5-861c-efd0709d48c9.png)

[2016-01-26 13:19] tomasnorre commented on #47
Hi @vdespa

I cannot reproduce this with current master either on 6.2.15 or on 7.6.2

Can you please check again?

[2016-01-26 13:32] srotsch commented on #34
It is still used in tx_crawler_modfunc1::1098

[2016-01-26 13:32] #34 closed

[2016-01-26 13:47] #32 closed

[2016-01-26 13:48] #31 closed

[2016-01-26 13:51] #48 closed

[2016-01-26 13:53] #21 closed

[2016-01-26 14:16] #47 closed

[2016-01-27 12:51] tomasnorre opened #54 "Remove "Add Process"-button when no more queue-item can be assigned"
UX Fix:

When the Pending Entries (assigned / overall ): 30 / 30 (equal each other) then the "add process" button should not be visible, as it will return and error that the process cannot be added.

We don't need this visible as it don't make sense to click it as no entries can be assigned anyway.

![2016-01-27_crawler](https://cloud.githubusercontent.com/assets/1212481/12613935/09f88402-c4fd-11e

[2016-01-27 18:03] tomasnorre commented on #6
Closed as the referred release is quite old.. If you still experience the problem with latest release 5.0.2 please create new ticket.

[2016-01-27 18:03] #6 closed

[2016-01-27 18:04] tomasnorre commented on #4
The issues #20 and #22 will both be included in this issue, but will be kept as reference until done.

[2016-01-28 18:08] christianfutterlieb opened #56 "Links on refresh icon/queue id do not work in TYPO3 7.6"
The links on the refresh icon/queue id in the crawler log list do not contain all needed parameters:
`index.php?id=1&qid_read=1&setID=0`
should be:
`/typo3/index.php?M=web_info&moduleToken={token}&qid_read=1&setID=0&id=1`

I hope I'm in the right place here on github, I'll sumbit a pull request with a fix. If you prefer, I can submit the patch to gerrit, just let me know.

[2016-01-29 10:36] tomasnorre commented on #56
This is the right place..

Thanks for you contribution.

[2016-01-29 10:38] #56 closed

[2016-02-04 09:56] srotsch opened #59 "Add scheduler task for process cleanup hook"

[2016-02-04 09:57] srotsch opened #60 "Remove assignment of queue items to process if process gets killed by cleanup hook"

[2016-02-12 15:07] tomasnorre opened #62 "Add Travis Config for both TYPO3 6 and 7LTS"

[2016-02-12 15:13] #4 closed

[2016-02-12 15:15] tomasnorre commented on #22
Fixed with PR #61

[2016-02-12 15:15] #22 closed

[2016-02-12 15:15] tomasnorre commented on #20
Fixed with PR #61

[2016-02-12 15:15] #20 closed

[2016-03-10 09:38] #25 closed

[2016-03-10 11:50] tomasnorre commented on #43
Hi @lukastaferner

I cannot reproduce this with TYPO3 6.2.19 and Crawler (Master).

Can you please check again and keep me posted if this is still an issue..

I have tested with 4 Levels of Subgroups. Everything behaved as expected to me.

[2016-03-10 12:25] #26 closed

[2016-03-10 12:46] tomasnorre commented on #19
I cannot reproduce this, I have tried to rollback to previous versions too.

I have tried with following 3 commands

`
$ php typo3/cli_dispatch.phpsh crawler_flush 23 -o finished
$ php typo3/cli_dispatch.phpsh crawler
$ typo3/cli_dispatch.phpsh crawler_im 23 -d 5 -conf crawler-conf -o queue
`

[2016-03-10 12:46] #19 closed

[2016-03-10 13:06] tomasnorre commented on #18
I cannot reproduce..

@srotsch can you verify the problem ? If now please close the ticket.

[2016-03-14 13:43] srotsch opened #67 "Remove deprecated call of GeneralUtility::loadTCA()"
Related: #11

[2016-03-15 12:33] #67 closed

[2016-03-15 13:51] #62 closed

[2016-03-16 19:35] #2 closed

[2016-03-17 08:10] #30 closed

[2016-03-17 08:52] tmotyl commented on #3
I'm using crawler 5.0.3 with TYPO3 6.2.19, and it's working fine.

[2016-03-17 10:08] srotsch opened #74 "Replace deprecated parameter in ExtensionManagementUtility::insertModuleFunction call"

[2016-03-17 17:35] tomasnorre commented on #3
Thanks @tmotyl  for the information, it's an old ticket back from forge, so more for verification.. I close the ticket as you have confirmed it's not an issue anymore..

[2016-03-17 17:35] #3 closed

[2016-03-18 21:43] #74 closed

[2016-03-21 11:25] tmotyl opened #78 "It's not possible to mass-edit "Base url" field in the crawler configuration"
Steps to reproduce:
1. Go to the list view
2. Click on the "Crawler Configuration" table header
3. Add "Base url" column to the table

Actual: base url column is empty
Expected: base url column is filled with data
1. Click on the pencil icon to mass edit

Actual: base url selectors will not appear
Expected: base url selectors will be visible

TYPO3 6.2.19

[2016-03-21 14:48] tomasnorre commented on #78
Thanks @tmotyl

Will add it to the list of next fixes..

[2016-03-21 17:01] tmotyl opened #79 ""crawl" context menu doesn't work - fatal error on TYPO3 6.2.19"
Steps:
1. Go to a page where you have crawler configuration record
2. open a context (right click) menu on the crawler record
3. choose "crawler" from the menu

Result:
Fatal error: Class 'TYPO3\CMS\Core\Utility\GeneralUtility' not found in typo3/sysext/info/mod1/index.php on line 21

[2016-03-21 17:05] tmotyl opened #80 "Missing "hide"/"disable" field in the configuration record form"
The crawler configuration record page misses the "hide" checkbox. The only way to disable the record is to do it from list module.

[2016-03-22 07:19] tomasnorre commented on #79
Thanks @tmotyl ,

Will look into this.

[2016-03-22 07:20] tomasnorre commented on #80
Thanks @tmotyl,

We will look into this.

[2016-03-23 21:06] tomasnorre commented on #78
HI @tmotyl

This is due to the displayCond ( 'displayCond' => 'FIELD:sys_domain_base_url:=:0',) in the TCA for base_url-field.. If there is already set a domain from sys_domains the base_url will not be rendered with the mass-edit.

Can you please confirm this?

I don't consider this a bug, but i'm for sure up for discussion what would be best behaviour to optimise the user experience for the exte

[2016-03-23 21:08] #80 closed

[2016-03-24 13:55] tmotyl commented on #78
What is the purpose of this display condition?

[2016-03-24 14:46] tomasnorre commented on #78
haha, that's actually a good point, i'm not sure i know the answer, perhaps @srotsch can answer that. :)

To me it looks like it has no point of being there, and therefor should be removed, and they the mass-edit will work again too :)

[2016-03-24 15:22] bernhardberger opened #82 "Core Bug #70052 isn't as resolved as you might think"
See my comment on this commit: https://github.com/AOEpeople/crawler/commit/9d9fe409a856f7559d1c943bd98c3b8e57832f28

This 'bug' hasn't been resolved, the EXT: display condition has just been marked as deprecated and then they called it a day. So in 7.6.4 you still get an uncaught TYPO3 exception in the backend when the column sys_worspace_uid is defined and the EXT:versions is not installed..

I s

[2016-03-24 15:28] bernhardberger opened #84 "TCA field 'base_url' displayCond is broken"
The display condition in the 'base_url' column in TCA is broken. While it seems this isn't a big deal as you could potentially use the base url from the domain record - it is when you're trying to crawl via https:// as 'base_url' is the only way to achieve this...

Pull request follows shortly..

[2016-03-24 18:09] #84 closed

[2016-04-01 17:35] inceddy opened #86 "Fatal error: Class 'tx_crawler_auth' not found (Typo3 6.2.14)"
Some times the whole system crashes due to class 'tx_crawler_auth' can not be found by typo3/sysext/core/Classes/Utility/GeneralUtility.php on line 4434.

Deleting the typo3conf folder solves the randomly occuring problem.

[2016-04-04 07:22] tomasnorre commented on #86
Hi @inceddy

Which version of the Crawler extension are you using?

[2016-04-04 08:15] inceddy commented on #86
5.0.4 - Which I was only able to install after setting the Composer dependency to "typo3/cms-core": "~6.2".

[2016-04-04 11:46] tomasnorre commented on #86
Hi @inceddy Thanks for your feedback, we will take a look.

[2016-04-12 12:51] #54 closed

[2016-04-13 20:14] dklimpel opened #87 "Fatal error: Class 'tx_realurl' not found (TYPO3 7.6.5, realurl 2.0.11)"
Execute the crawler in BE module "info" crashes:
Fatal error: Class 'tx_realurl' not found in /home/www/nordwest/typo3_src-7.6.5/typo3/sysext/core/Classes/Utility/GeneralUtility.php on line 4533

TYPO3 7.6.5
realurl 2.0.11
crawler  5.0.4

[2016-04-15 13:14] tomasnorre commented on #87
Thanks for reporting @dklimpel.
Will take a look as soon as possible.

[2016-04-19 20:09] tomasnorre commented on #87
@dklimpel  I bet this is because the realUrl extension have been namespaced?

I'll talk to one of the other maintainer on how to deal with this, which version should be supported.

[2016-04-19 21:07] dklimpel commented on #87
I think that is the problem. The class 'tx_realurl' does not exist anymore in realurl 2.
In my opinion everybody should uses namespaces. TYPO3 4.5 is end of life. The newer versions of TYPO3 support namespaces. The old version (1.x) of realurl is no longer supported, too.

https://typo3.org/extensions/repository/view/realurl

Supports TYPO3 version 4.5.40 - 7.9.999

[2016-04-26 12:16] tomasnorre commented on #78
Hi @tmotyl

After looking into this it make perfectly sense to us that the display condition is there, as you don't want to set a base_url manually if sys_domain is set.

Therefore the field is also no displayed in mass edit.

Please give us some examples of you use case so that we can understand why the problem lies in this behaviour.

[2016-04-26 12:19] tomasnorre commented on #87
Hi @dklimpel

We understand your problem, but currently the Crawler is not supporting RealURL 2.0, we will set the RealURL dependencies for the extensions, so you would get aware of this earlier.

Then we will come up with a way to support both 1.x and 2.x as to many projects still depends on RealURL 1.x

[2016-04-26 12:20] tomasnorre opened #88 "Figure out how to keep compatibility for both 1.x and 2.x (RealURL)"

[2016-04-28 07:26] rreichen opened #89 "split screen instead of second page by process states"
When process states exceed the first page choosing the second one shows a split screen instead of the processes in second page.

My Versions are:
php: 5.5.14
TYPO3: 7.6.6
crawler: 5.0.4

[2016-05-03 11:54] tomasnorre commented on #89
Hi @rreichen

Can you add a screenshot of what you mean?

[2016-05-04 07:53] npostnik opened #90 "Cannot create crawler config if workspaces are not enabled"
It is not possible to create a 'crawler configuration' if the extension workspaces is deactivated. It would be great, if this dependancy was configurable.

[2016-05-04 10:53] tomasnorre commented on #90
Hi @npostnik

It should be possible, but i will of course check this and get back to you.

If it's not possible it for sure make sense to add the functionality for that.

[2016-05-04 13:46] rreichen commented on #89
There are two screenshots - one before and one after selection the second page.

![crawler_01](https://cloud.githubusercontent.com/assets/18324572/15015947/0186a934-120f-11e6-82ca-f6f9b9a0866d.jpg)
![crawler_02](https://cloud.githubusercontent.com/assets/18324572/15015964/179f4adc-120f-11e6-8f03-d9a732ab46c1.jpg)

[2016-05-04 20:38] tomasnorre commented on #89
Thanks, we will have a look.

[2016-05-09 11:29] hartundweich opened #91 "set_id in indexed search not resetted"
When using crawler to index a fluid based extension there is a problem in indexing configuration setting field "set_id" back to 0 after crawling has finished.
set is holding the last ID and ist not resetted to 0 after crawling, therfore no additional crawling is happening after 24 hours.
Just noticed: field set_id is also not being resetted if crawling page tree.

Just noticed: field set_id is bei

[2016-05-09 14:42] tomasnorre commented on #91
Hi @hartundweich Thanks for reporting we will have a look.

[2016-05-23 12:10] Idleworks opened #92 "URL scheme 'http' is hardcoded"
In some cases it is necessary to call pages with https instead of http, especially on secured sites where port 80 is blocked.

URL scheme could be fetched from page's url_scheme property, baseUrl or newly created setting in extension manager.

[2016-05-24 13:35] tomasnorre commented on #92
Hi @Idleworks

Thanks for your suggestion it makes perfectly sense to adapt this.

[2016-06-03 10:11] ses opened #93 "Error sys_workspace_uid of table tx_crawler_configuration"
the error in the BE TYPO3 7.6.9

[2016-06-07 07:37] tomasnorre commented on #93
Hi @ses

Thanks for reporting. Will have a look soonish.

[2016-06-13 11:27] ses commented on #90
i have the same problem :(

[2016-06-17 08:52] Sampaguita commented on #86
I have a similar issue on TYPO3 v7.6.9: Directly after installing the crawler extension the whole system breaks _class 'tx_crawler_auth' can not be found by typo3/sysext/core/Classes/Utility/GeneralUtility.php on line 4533_. Only removing the extensioncompletely from typo3conf/ext/ and inside typo3conf/LocalConfiguration.php will get the system up again.

[2016-06-17 18:23] tomasnorre commented on #86
Thanks we will look into this asap, we need to release a new version soonish.

[2016-06-18 17:27] #8 closed

[2016-06-19 16:09] tomasnorre commented on #93
This is related to forge ticket: https://forge.typo3.org/issues/70052

Was suppose to be solved, but we encountered some issue earlier ehen trying to enabled it again, we would need to look into this again.

From TCA configuration.
 // displayCond's are broken with 7.5, so disable workspace support for now (#70052)
        /*'sys_workspace_uid' => Array (
            'exclude' => 1,
            'l

[2016-06-21 11:39] tomasnorre commented on #90
Related if not duplicate of #93

[2016-06-21 11:40] tomasnorre commented on #93
Related if not duplicate of #90

[2016-06-21 11:41] tomasnorre commented on #93
Related #82

[2016-06-21 11:42] tomasnorre commented on #90
Related #82

[2016-07-19 11:49] #79 closed

[2016-07-19 12:50] #82 closed

[2016-07-19 12:51] #93 closed

[2016-07-19 12:51] #90 closed

[2016-07-19 13:57] srotsch opened #98 "Remove obsolete validator class"

[2016-07-19 13:57] srotsch opened #99 "Clean up ext_tables.php"

[2016-07-19 13:58] srotsch opened #100 "Clean up ext_localconf.php"

[2016-07-19 19:19] #98 closed

[2016-07-20 13:42] tomasnorre opened #103 "Update visuals for TYPO3 7.6.x and above"
The UI doesn't look that great for the buttons for the Crawler in TYPO3 7.6.x

![crawler_buttons](https://cloud.githubusercontent.com/assets/1212481/16988361/812bfe92-4e90-11e6-99f7-48f2ad7b205b.png)

**UPDATE:**

Besides updating the visuals, the templating should also be considered refactored to Fluid-templates.

[2016-07-20 13:53] tomasnorre commented on #86
@inceddy @Sampaguita

Can you provide some information on how to reproduce this..

I cannot trigger the error, in any case I have tried out till now.

[2016-07-20 13:56] tomasnorre commented on #103
FYI: The button on the "Crawler Log" dropdown is already updated.

[2016-07-20 13:57] tomasnorre commented on #103
The dropdowns could looks nicer though :)

[2016-07-21 07:43] #99 closed

[2016-07-21 20:11] #100 closed

[2016-07-25 21:02] tomasnorre commented on #59
[WIP]

[2016-08-11 07:03] helmut-winkelbach opened #106 "Detected Fatal Error Class 'AOE\Crawler\Utility\BackendUtility' not found"
Hi, what can i do to use Crawler on 7.6.10?

Detected Fatal Error Class 'AOE\Crawler\Utility\BackendUtility' not found in /kunden/174878_70794/rp-hosting/5712/6712/typo3cms/7test/typo3conf/ext/crawler/ext_tables.php on line 8

[2016-08-11 14:01] maechler opened #107 "Deprecated Notices"
Some cli classes throw a deprecation notice using PHP 7 because they are not using __construct as constructor method name.

Core: Error handler (BE): PHP Runtime Deprecation Notice: Methods with the same name as their class will not be constructors in a future version of PHP; tx_crawler_cli_im has a deprecated constructor in typo3conf/ext/crawler/cli/class.tx_crawler_cli_im.php line 38

[2016-08-12 14:05] ogrosko commented on #92
Hey
Has this feature something in common with my problem:
When I run Crawler queue task from typo3 BE scheduler module my queued url is
`https://mydomain.com/index.php?id=1` and url is crawled correctly

but wehn I run crawler queue task from cli `./typo3/cli_dispatch.phpsh scheduler -i 3 -f
` (3 is the id of crawler task in scheduler) queued url is `http://./index.php?id=1` and after crawling url

[2016-08-12 14:33] ogrosko commented on #92
Ok I make some investigation:

1. `displayCond` config for `base_url` field in `/typo3conf/ext/crawler/Configuration/TCA/tx_crawler_configuration.php` doesn't work. I have to change it from
` 'displayCond' => 'FIELD:sys_domain_base_url:=:0',`
to
` 'displayCond' => 'FIELD:sys_domain_base_url:<=:0',`
now it works and when I use this field and set my domain to `https://mydomain.com/`

But it still no

[2016-08-12 15:02] ogrosko opened #109 "[BUG] Workspaces not installed"
If Workspaces management extension is not installed in typo3
Crawler configuration page throws an error:

`Field sys_workspace_uid of table tx_crawler_configuration reference to foreign table sys_workspace, but this table is not defined in TCA`

[2016-08-14 17:34] tomasnorre commented on #106
hi @helmut-winkelbach

The Crawler should already be supported in 7.6.x but let me check if i can reproduce your problem.

[2016-08-14 17:36] tomasnorre commented on #92
Hi @ogrosko

Thanks for your elaboration we will take a look at it.

[2016-08-14 17:38] tomasnorre commented on #109
Hi,

This is fixed with follow commit:
https://github.com/AOEpeople/crawler/commit/dacb06df29a8df424fe1dba2cdd859c24181a821

we didn't release a new version to TER yet, but it's fixed.

[2016-08-14 17:38] #109 closed

[2016-08-14 21:28] ogrosko commented on #109
When you are planing release new version to TER?
Thanks

[2016-08-15 07:23] tomasnorre commented on #109
I can check the code-base and do it somewhen this week.

[2016-08-15 09:24] tomasnorre commented on #109
@ogrosko I just release a new version 5.0.5 which contains this fix.
https://typo3.org/extensions/repository/view/crawler

[2016-08-16 09:31] thommyhh opened #110 "Crawling causes "trustedHostsPattern" exception"
Crawling does not work anymore with 5.0.5, as you removed (break change!!!) the fsockopen which make a more real http request than the direct requests.

The direct requests fake the environment. First the fake is incomplete, e.g. the SERVER_PORT is missing which leads to the "trustedHostsPattern" exception. Even with this fixed, the fake does not handle the case, the frontend returns a 30x redirec

[2016-08-16 11:15] maechler commented on #107
Closing here because pull request has been merged: https://github.com/AOEpeople/crawler/pull/108

Thanks!

[2016-08-16 11:15] #107 closed

[2016-08-16 13:32] ogrosko opened #111 "[BUG] No TypoScript template found! error"
Updating crawler extension to v5.0.5
I'm getting error: `No TypoScript template found!` in BE module WEB -> Info -> Some page

With wersion 5.0.4 it works with no problems

[2016-08-16 13:51] tomasnorre commented on #110
@thommyhh
Thanks for your bug-report.. Will look into this asap.

[2016-08-16 13:52] tomasnorre commented on #107
Thanks for your contribution.

[2016-08-16 13:53] tomasnorre commented on #111
Thanks for reporting @ogrosko, we got some other major problems reported too.

#110

[2016-08-16 14:17] Gorli commented on #106
I got this error also. I can confirm this error with TYPO3 7.6.10.

Goarli

[2016-08-16 14:19] tomasnorre commented on #106
Thanks for reporting.

[2016-08-16 14:26] tomasnorre commented on #110
Is related to followup PR #104

[2016-08-17 14:53] maechler commented on #111
You have to edit the crawler configuration in the extension manager and set the variable:
basic.PageUidRootTypoScript

That solved that problem for me. However #110 is a real problem for us too.

[2016-08-17 15:14] tomasnorre commented on #111
@maechler That's true i forgot about that change..

Better get the documentation up to date..

Thanks for helping each other.

[2016-08-17 15:22] ogrosko commented on #111
@maechler thanks for the hint it solve my problem

As mentioned I have problem with #110

[2016-08-22 11:06] tomasnorre commented on #110
@thommyhh

We have made a reverse commit and released a new version 5.0.6, we have cherry-picked this in to a development branch that will be used for 6.0.0.

Thanks for reporting, we will close this issue now.

[2016-08-22 11:06] #110 closed

[2016-08-22 11:10] tomasnorre commented on #111
This was already introduced in 5.0.4 so no reverse commit will be created , we will update the documentation though.

We have added this information to the wiki page:
https://github.com/AOEpeople/crawler/wiki/Known-issues

[2016-08-22 11:10] #111 closed

[2016-08-22 11:12] tomasnorre opened #113 "Update exception for "no typoscript template found""
Please make the exception more helpful so that the problem is easily solved.

[2016-08-22 13:33] tomasnorre commented on #106
It's related to following:

[2016-08-26 06:00] tomasnorre commented on #106
This is for sure a bug, it's introduced with #102

Will fix asap

[2016-08-26 06:33] tomasnorre commented on #106
@helmut-winkelbach & @Gorli

This is not reproduce able to me if the extension is installed with composer ? How did you install the extension? Just to clarify ?

[2016-08-26 06:48] tomasnorre commented on #106
@helmut-winkelbach @Gorli
How do you install the extension ? I have found out why it failed while being installed with composer, but if you install the extension differently, I would like to verify that approach too before releasing a fix.

[2016-08-26 07:19] helmut-winkelbach commented on #106
via FTP i did copy it into ../typo3conf/ext/

On 26.08.2016 08:48, Tomas Norre Mikkelsen wrote:

---
This email has been checked for viruses by Avast antivirus software.
https://www.avast.com/antivirus

[2016-08-26 07:25] tomasnorre commented on #106
Thanks, then we still have some issues before we can release a fix..

Will keep you informed.

[2016-08-26 11:16] vixe76 opened #115 "Extension Manager"
After each install or uninstall of extensions the folllowing exception will be thrown ...

Could not scan for classes inside "/var/www/html/typo3conf/ext/crawler/.Build/vendor/typo3/cms/typo3/sysext/core/Tests/" which does not appear to be a file nor a folder

crawler 5.0.6
TYPO3 7.6.10

[2016-08-26 11:41] tomasnorre commented on #115
Thanks @vixe76 we will have a look..

Do you install the extension with composer ?

[2016-08-26 12:11] tomasnorre commented on #115
This is fixed with latest master.

[2016-08-26 12:11] #115 closed

[2016-08-29 07:26] tomasnorre opened #116 "Add version check for depricated call"
See #112 add version check to this PR to allow users to disallow icons until it get deprecated in TYPO3 8.x

[2016-08-29 11:20] #116 closed

[2016-09-01 14:21] srotsch commented on #106
We hopefully sorted this out now, @helmut-winkelbach could you please try the version in the issue/106 branch: https://github.com/AOEpeople/crawler/archive/issue/106.zip

As a side note, the "upload via FTP" method will not work if your TYPO3 installation is in "composer mode" with TYPO3 > 7. The package manager will only handle class loading information in "classic mode", otherwise TYPO3 relies o

[2016-09-02 04:33] l-u-k-a-s commented on #106
I had the same error message after installing cralwer via the extension manager.
After deleting all file from typo3temp/autoload/ the error was gone.
The problem seems to be related to the one of issue #86, because I got also the error "Class 'tx_crawler_auth' not found" instead of "Class 'AOE\Crawler\Utility\BackendUtility' not found" sometimes.
I use Typo3 7.6.10 and installed crawler 5.0.6.

[2016-09-02 05:31] helmut-winkelbach commented on #106
Dear Stefan,

sorry that i can't send you a  success message. :(

Whiching you success.

Greetings from Erfurt
Helmut

i did delete the old crawler folder and copied by FTP (as always on this
installation) the new crawler version 5.07 trying to activate it gives
the following error.

After trying to clean cache i got this error.

On 01.09.2016 16:21, Stefan Rotsch wrote:

---
This email has been c

[2016-09-02 07:51] tomasnorre commented on #106
@l-u-k-a-s Can you try with the same packages as we asked Helmut to test with, see comment from yesterday: https://github.com/AOEpeople/crawler/issues/106#issuecomment-244094095

Both issues should be fixed in this version. You might need to clear the cache afterwards.

[2016-09-04 05:55] l-u-k-a-s commented on #106
My test to install crawler via extension manager was successful with the dev version.

[2016-09-06 11:12] tomasnorre commented on #106
This also solves #86

[2016-09-06 11:45] #113 closed

[2016-09-06 11:51] #86 closed

[2016-09-06 11:51] #106 closed

[2016-09-06 11:53] tomasnorre opened #118 "Auto detect TypoScript Template"
Implement logic that auto detects root TypoScript template for the for the page being crawled

[2016-09-08 09:58] hartundweich opened #120 "Updating to 5.0.7"
When updating crawler extension via extension manager to V 5.0.7 after the update process the following line appears on top of the extension manager:

Could not scan for classes inside "/home/.sites/97/site6275980/web/typo3conf/ext/crawler/.Build/vendor/typo3/cms/typo3/sysext/core/Tests/" which does not appear to be a file nor a folder

I think that could be a bug, because the directory ".Build" d

[2016-09-08 15:22] tomasnorre commented on #120
@hartundweich

This should not be a problem anymore, are you sure the cache is properly cleared..?

The "TYPO3\\CMS\\Core\\Tests\\": ".Build/vendor/typo3/cms/typo3/sysext/core/Tests/" is moved from the autoload to the autoload-dev and therefor this shouldn't be a problem anymore.

[2016-09-08 18:56] tomasnorre opened #121 "Move "scheduler"-classes into Classes/Task"
Move the respective classes from "scheduler" into Classes/Task
- namespace
- psr-2

[2016-09-08 18:57] tomasnorre opened #122 "Move "hooks" into "Classes/Hooks""
- add namespace
- psr-2

[2016-09-08 20:30] tomasnorre opened #124 "Cleanup ext_localconf.php"
Create Utilies to registre Hooks and SchedulerTasks
- HookUtility
- SchedulerTaskUtility

[2016-09-09 05:46] hartundweich commented on #120
@tomasnorre
It happens direct after the upgrade where we should see a green message of success on top of the extension manager, instead the red one is shown - so no chance to clear the cache to avoid this message.
Tetsted with Typo3 7.6.10 PHP 5.6 and PHP 7.0 upgrade from 5.0.6 --> 5.0.7

[2016-09-09 06:53] tomasnorre commented on #120
Thanks for the information @hartundweich,

I'll look into this.

[2016-09-09 07:37] tomasnorre commented on #120
@hartundweich

Was the extension installed with composer or with file-upload at first ? before you did the update through the extension manager ?

[2016-09-09 08:36] hartundweich commented on #120
The extension was first installed the classical way with the extension manager - as this site is hosted on a webserver with no possibility to use composer installation

[2016-09-09 09:31] tomasnorre commented on #120
@hartundweich

Thanks for the clarification.. Will have a look.

[2016-09-13 12:04] #59 closed

[2016-09-13 12:31] srotsch opened #125 "Evaluate usage of tx_crawler_domain_reason"
It seems the constants defined in tx_crawler_domain_reason are only used twice (once wrongly).

As we don't see the need to distinguish between queue items submitted via CLI, GUI or scheduler we might consider removing this entire domain model.

We will have to evaluate the usage of tx_crawler_domain_reason, what (if any) portions are useful and refactor accordingly.

[2016-09-16 08:10] srotsch opened #126 "[FEATURE] Emit signals before/after a queue item is processed"

[2016-09-16 08:39] #126 closed

[2016-09-16 18:26] srotsch opened #128 "Fix PHP 5.3 compatibility in pre/post process signals"
For PHP 5.3 compatibility, we must use array() instead of []

[2016-09-16 18:53] #128 closed

[2016-09-21 18:01] tomasnorre commented on #39
@srotsch I've closed this issue for now there is:
* Not xml/xlf besides the two locallang*.xml files
* No Javascripts files
* No TypoScripts files beside ./ext_conf_template.txt

So in my opinion it doesn't make sense currently. Feel free to reopen is you disagree.

[2016-09-21 18:01] #39 closed

[2016-10-10 12:32] motordigital commented on #87
I fixed this issues based on version 5.0.9. You can see it here within my fork https://github.com/motordigital/crawler/commit/04ab00cc8fadf0452e0860b84c1f434923692197

Attention: due to a lot of changes on your develop branch, the fix cannot be merged to develop without conflicts. And the develop branch made problems on my project, so I kept on version 5.0.9 with that fix.

[class.tx_crawler_lib.p

[2016-11-01 13:22] #121 closed

[2016-11-01 20:50] dklimpel commented on #87
The fix works for me!

[2016-11-02 15:42] tomasnorre opened #132 "Fix EventDispatcherTest.php after refactoring"
Please fix EXT:crawler/Tests/Unit/Domain/Model/EventDispatcherTest.php after refactoring of  EXT:crawler/Tests/Unit/Domain/Model/EventsHelper.php

Breaks for TYPO3 7.6.x regardless of PHP Version.

[2016-11-04 08:14] tomasnorre opened #134 "Convert locallang_db.xml to xlf"
* Convert locallang_db.xml to xlf
* Move it to Resources/Private/Language
* Update all references to the file

[2016-11-08 13:26] #122 closed

[2016-11-08 13:34] #118 closed

[2016-11-08 13:55] tomasnorre opened #136 "Add test for TypoScript Utility if exception is thrown"

[2016-11-08 13:56] #134 closed

[2016-11-08 14:10] srotsch opened #137 "Adjust namespace of ProcessCleanupTask"

[2016-11-13 18:03] #137 closed

[2016-11-13 18:23] tomasnorre opened #139 "Add support for TYPO3 v.8"
* Bump version constrains
* Adjust code to be supported by TYPO3 v8
* Adjust .travis.yml to run v8 with php v7

[2016-11-15 14:10] #60 closed

[2016-11-15 15:25] #136 closed

[2016-11-15 15:26] tomasnorre opened #141 "[FEATURE] Write tests for the Domain Model"

[2016-11-16 13:25] srotsch opened #142 "Scheduler Tasks broken after upgrade to 5.1.0"
After upgrading to 5.1.0, already existing scheduler tasks are broken as the class names have changed due to namespacing.

<img width="1369" alt="task_class" src="https://cloud.githubusercontent.com/assets/1445999/20348960/72d8aacc-ac08-11e6-8494-d4b880d3ca96.png">

[2016-11-16 13:26] srotsch opened #143 "Missing labels on scheduler tasks with 5.1.0"
After adding a scheduler task with crawler 5.1.0, the task label is missing:

<img width="553" alt="task_label" src="https://cloud.githubusercontent.com/assets/1445999/20349003/9c0a1c28-ac08-11e6-9332-7a8f62a0492c.png">

[2016-11-16 15:19] tomasnorre opened #144 "[BUG] Not possible to add new scheduler tasks (not only Crawler tasks) after upgrade to 5.1.0"
After upgrading it's not possible at all to add new tasks. Think it's highly related to #142

[2016-11-16 16:06] tomasnorre opened #145 "[BUG] It's not possible to "add process" after upgrade to 5.1.0"
It's not possible to "add process" in the "info"->"Site Crawler"-module

When clicking the "add process" the process is not added and the "Pending Entries (assigned / overall): 	0 / 1250" stays the same.

Confirmed in following versions:
* 6.2.x
* 7.6.12

[2016-11-16 16:44] tomasnorre commented on #144
This happend between 5.0.9 and commit-id: 8c1cced4f3250636169c50b28a317873d959da12

[2016-11-16 18:34] tomasnorre commented on #143
Resolved in PR #146

[2016-11-16 19:05] tomasnorre commented on #142
This should be solvable with same technique as in the EXT:news for the 6x branch.
https://github.com/georgringer/news/tree/6x/Migrations/Code

[2016-11-16 20:18] tomasnorre opened #148 "[BUG] #1442236317: MenuItem "" is not valid (More information)"
* TYPO3 7.6.12 (Perhaps lower versions as well, but not 6.2.x)

When clicking at the Info-Module, the exception is thrown
#1442236317: MenuItem "" is not valid (More information)
![exceptionthrown](https://cloud.githubusercontent.com/assets/1212481/20364105/35175b2c-ac42-11e6-8966-7ea75f000800.png)

[2016-11-18 10:07] #148 closed

[2016-11-18 10:08] #144 closed

[2016-11-18 10:08] #143 closed

[2016-11-18 11:11] tomasnorre commented on #145
Problem happens between following two commits:

47d0820b994ddb8c6e854ce6f56537831733034d <-- Working
1fdce03e6833f1d449277f32478cf96ea947ccf3 <-- Not working

[2016-11-19 18:47] tomasnorre commented on #145
Found another issue: When crawler is running the Status results in "Error: + html-source" of the page visit..

This break between following two commits:
8c1cced4f3250636169c50b28a317873d959da12 <-- Working
47d0820b994ddb8c6e854ce6f56537831733034d <-- Not working

[2016-11-21 10:52] #145 closed

[2016-11-23 09:25] rvock commented on #142
This issue still exists with Crawler 5.1.1, if crawler is installed via composer.
`Migrations/Code/ClassAliasMap.php` is not loaded in composer-mode.

I think, you need to add keys to your `composer.json` to fix this:
https://github.com/TYPO3/class-alias-loader#user-content-configuration-in-composerjson

[2016-11-23 17:45] tomasnorre opened #154 "Scheduler Tasks broken after upgrade to 5.1.1 (composer)"
This is open to separate concerns from issue #142

[2016-11-23 17:46] tomasnorre commented on #142
Closed as new issue is opened #154, makes the tracking easier.

[2016-11-23 17:46] #142 closed

[2016-11-23 17:53] tomasnorre commented on #154
@rvock can I ask you to test this branch?

branch: issue/154

[2016-11-24 07:52] rvock commented on #154
Thanks, this branch works when installed via composer :)

[2016-11-24 09:11] tomasnorre commented on #154
Super. Thanks for confirming and reporting @rvock

[2016-11-24 10:16] #154 closed

[2016-11-24 10:45] tomasnorre commented on #154
There is a new release ready @rvock 5.1.2

[2016-11-24 13:02] rvock commented on #154
Thanks, this release works :)

But, there's a "but": I need to install the release with the composer name `aoepeople/crawler` instead of `typo3-ter/crawler`.

The package.json for `typo3-ter/crawler` does not contain the extra-field:
https://composer.typo3.org/p/typo3-ter/crawler$da861fbb8e946f89b492a2ee282ef5cae369cef982942fbec9898f5e224c0e35.json

`aoepeople/crawler` does contain it:
https://com

[2016-11-24 15:42] tomasnorre commented on #154
Thanks @rvock for the information, I happen to be in the TYPO3.org team as well, so gives me opportunity to investigate on both sites ;)

Thanks for you feedback

[2016-11-26 13:29] dklimpel commented on #87
Since #130 `$this->initTSFE` is in function _readUrl_ not in ___construct_ anymore. This is to late. Realurl needs TSFE in function _urlListFromUrlArray_.

[2016-11-26 18:14] tomasnorre commented on #87
@dklimpel for reporting this.

We will dig into this when we get to it.

[2016-11-30 19:28] tomasnorre opened #156 "[FEATURE] Write tests for Hooks"

[2016-12-01 10:36] tomasnorre commented on #120
@hartundweich Can you check if this still is a problem with latest release https://github.com/AOEpeople/crawler/releases/tag/5.1.2

[2016-12-01 11:33] hartundweich commented on #120
Update yesterday from 5.1.1 to 5.1.2 was successful without any problems - so I think this task can be closed.

[2016-12-01 13:49] tomasnorre commented on #120
Thanks a lot for your update @hartundweich and thanks for your contribution.

[2016-12-01 13:49] #120 closed

[2016-12-06 14:32] #141 closed

[2016-12-06 15:01] #156 closed

[2016-12-06 15:49] srotsch opened #159 "[CLEANUP] Namespaceing for tx_crawler_tcaFunc"

[2016-12-06 17:00] tomasnorre commented on #139
* Bump version constrains
* Adjust .travis.yml to run v8 with php v7

Are both handled in #ad3f3467e362a4005de311799b5ca7c14b70d9cc

[2016-12-06 22:21] tomasnorre opened #162 "[FEATURE] Switch to PHP 7 for Functional test"

[2016-12-07 12:53] tomasnorre opened #163 "[CLEANUP] Move tx_crawler_tcaFunc + Test and namespace"
tx_crawler_api  => Classes/Api/CrawlerApi.php
tx_crawler_api_testcase => Fuctional/Api/CrawlerApiTest.php

+ Update .travis.yml to only search for *Test.php files

[2016-12-07 14:35] #159 closed

[2016-12-07 23:24] tomasnorre opened #166 "[CLEANUP] Replace functions with MathUtility"
* forceIntegerInRange()
* canBeInterpretedAsInteger()

[2016-12-08 00:22] #163 closed

[2016-12-08 06:44] #166 closed

[2016-12-08 07:56] tomasnorre commented on #162
Resolved with commit: https://github.com/AOEpeople/crawler/commit/73657a937428b1d1ac1d1fc61b0faecb08a9995b

[2016-12-08 07:56] #162 closed

[2016-12-08 12:35] #132 closed

[2016-12-08 15:45] tomasnorre opened #169 "[TASK] Move tx_crawler_auth to Classes/Service/AuthenticationService.php"
* Move class
* Namespace class
* Test class.

[2016-12-08 21:22] tomasnorre opened #171 "[TASK] Write Tests for domain_queue_repository"

[2016-12-09 05:17] #169 closed

[2016-12-09 16:26] #171 closed

[2016-12-09 17:06] tomasnorre opened #173 "[TASK] Write Tests for process_repository"

[2016-12-09 18:47] tomasnorre opened #174 "[CLEANUP] Check and adopt Scrutinizer Code suggestions"

[2016-12-09 18:55] tomasnorre opened #175 "[CLEANUP] move tx_crawler_domain_lib_abstract_repository"

[2016-12-09 19:59] #175 closed

[2016-12-09 21:18] #173 closed

[2016-12-09 22:43] tomasnorre opened #178 "[TASK] Write tests for tx_crawler_lib - Part I"

[2016-12-10 22:53] #178 closed

[2016-12-12 11:54] tomasnorre opened #182 "[TASK] Write tests for tx_crawler_lib - Part II"

[2016-12-13 07:11] tomasnorre commented on #182
Closed as #183 is merged.

[2016-12-13 07:11] #182 closed

[2016-12-13 18:05] tomasnorre opened #184 "[TASK] Write tests for tx_crawler_lib - Part III"

[2016-12-14 09:38] tomasnorre opened #185 "[FEATURE] Possibility to add priority to pages when adding to the queue"
It would be cool if there would be a way to add priority to pages when adding them to the queue, so that one would not need to wait for the queue to finish, if important pages like home-pages, landing-pages etc has to be crawled quickly.

[2016-12-20 13:30] StefanTau opened #186 "[FEATURE] configuration_hash for carwler_queue"
Hi,
the configuration_hash is built out of an array with 'Information about URLs from pageRow to crawl'. This array gets serialized and a md5 is generated out of this.

Look at the following example:

1.) We have a crawler configuration for news records where the configuration looks something like
&tx_news_pi1[controller]=News&tx_news_pi1[action]=detail&tx_news_pi1[news]=[_TABLE:tx_news_domain_mod

[2016-12-22 15:26] michadu opened #187 "Language labels are missing on TYPO3 8.5"
In https://forge.typo3.org/issues/78647 the language files of sys ext:lang are moved to new directories.
The crawler extension has to be fixed for TYPO3 8.5 (and newer) according to the documentation of the TYPO3 core: "Deprecation: #78647 - Move language files from EXT:lang/locallang_* to Resources/Private/Language"

[2016-12-25 11:51] tomasnorre commented on #187
Thanks for you input, we will look into this.

EXT:Crawler is not officially supported, but we will take care.

[2017-01-12 13:34] tomasnorre opened #188 "[CLEANUP] Remove not needed sql-index"
[code]

-- Simply remove the first key in ext_tables.sql

[2017-01-12 20:36] #188 closed

[2017-01-25 13:44] #12 closed

[2017-01-25 13:44] #13 closed

[2017-01-25 13:44] #14 closed

[2017-01-25 13:48] #5 closed

[2017-01-25 13:48] #7 closed

[2017-01-25 13:48] #16 closed

[2017-01-25 13:48] #33 closed

[2017-01-25 13:48] #125 closed

[2017-01-30 10:16] cweiske opened #190 "Crawler queue scheduler task loses settings on configuration error"
I wanted to create a new scheduler task of type "crawler queue", set "start page: 1" and the depth but failed to select a configuration records.

After saving, an error message was shown - and the previously made settings for start page and depth were lost:

----
This is with crawler version 5.1.2 on TYPO3 7.6.15.

[2017-01-30 11:38] tomasnorre commented on #190
Can you paste the error message that might help reproducing.

[2017-01-30 11:41] cweiske commented on #190
"There is no configuration record selected, please choose at least one or more!"

[2017-01-30 11:45] tomasnorre commented on #190
Sorry, didn't see that in your first comment.

[2017-01-30 11:45] tomasnorre commented on #190
I've never seen this before, but will try to reproduce.

[2017-01-30 12:00] cweiske opened #191 "Info > Site Crawler > Start Crawling: Warn when no configuration selected"
When visiting Info > Site Crawler > Start Crawling, simply clicking "Crawl URLs" does nothing - it only tells you

It took a while until I found that you have to select a crawler configuration before clicking on "Crawl URLs".

There should be a warning that no configuration has been selected, or the "Crawl URLs" button should be disabled when no configuration is selected.

----

Happened with TYPO

[2017-01-30 12:15] tomasnorre commented on #191
Thanks for your input.

[2017-01-31 08:42] #184 closed

[2017-01-31 10:56] tomasnorre commented on #190
@cweiske I cannot reproduce what you are reporting. I might get it wrong.

Any chance you can do a screencast recording the problem?

I get the "Warnings i expect" and correct the errors in my scheduler config, and save.. Then everything is fine.

[2017-01-31 12:14] cweiske commented on #190
screencast: http://hidden.cweiske.de/scheduler-crawler-queue.ogv

[2017-01-31 13:25] tomasnorre commented on #190
Thanks, the problem is that you don't have a crawler configuration and therefore you cannot select one.  You have to create a Crawler Configuration. At least one on the your root/start page.
https://docs.typo3.org/typo3cms/extensions/crawler/ExtCrawler/Configuration/ConfigurationRecords/Index.html

[2017-01-31 13:26] tomasnorre commented on #190
This is not a bug/problem, i'll close this issue.

[2017-01-31 13:27] cweiske commented on #190
sigh.

This problem still happens if I have a crawler configuration but do not select one. The values in the other fields are lost then.

[2017-01-31 13:40] tomasnorre commented on #190
Yeah. That's true, but that is not a crawler issue it's a scheduler issue as i get it..

But i'll check.

[2017-01-31 13:44] cweiske commented on #190
"Normal" scheduler fields like the interval are pre-filled again when I have an error.

So I think that it's a problem with the custom fields that crawler adds to the scheduler form.

[2017-02-01 16:03] tomasnorre opened #194 "[BUGFIX] Pages with force ssl should be added with ssl to queue."
Please check commit:
https://github.com/AOEpeople/crawler/commit/1b951117269f3f431c4131e3352a2ae419d38c56

[2017-02-03 08:34] cweiske commented on #190
please reopen.

[2017-02-13 07:23] cweiske commented on #191
1. I did not recognize the text in the table as error message, especially since it has been there even before I clicked "crawl URLs".
2. There is only one configuration here, and it's not easily recognizable in that size-1-select field that it is not selected at all.
3. I thought the table below the buttons are some kind of statistics and have no direct relation with the form above.

[2017-02-13 08:59] tomasnorre commented on #191
Thanks for you input. We will take it into consideration, so that we can improve the UX/UI.

[2017-02-16 08:51] lochmueller commented on #194
Note: The field 'url_scheme' is dropped in the last TYPO3 release

[2017-02-16 09:55] tomasnorre commented on #194
Thanks for the update @lochmueller.

[2017-02-23 11:02] CDRO commented on #148
I'd like to reopen this issue since it seems to have reappeared in 5.1.2, can anybody else confirm this?

[2017-02-23 19:48] tomasnorre commented on #148
Let us know if you have other issues.

[2017-03-17 19:41] tomasnorre opened #197 "Add Cache for TypoScript Utility"
Consider using the RoolineUtility + Caching the result based on rootline.

With big page trees, this will mean to many SQL queries.

[2017-03-27 12:29] cweiske opened #198 "Crawling process "Refresh" button loses page ID"
In Web > Info > Site Crawler > Crawling process, pressing the "Refresh" button loses information about the page selected in the page tree.

When trying to switch back to the crawler log, I get a "Please select a page in the pagetree" message instead of the previous crawl log.

Before pressing "Refresh":
![2017-03-27 crawler refresh 1](https://cloud.githubusercontent.com/assets/59036/24356265/945cf

[2017-03-27 12:43] tomasnorre commented on #198
@cweiske Thanks for reporting, we will have a look.

[2017-06-14 06:24] hacksch opened #201 "Logic "Use realurl urls ""
I'm not sure if we need the functionality "Use realurl urls".
The field was hidden for a long time in the crawler configuration. Was enabled again because of a displayCond error in TYPO3 8 (https://github.com/AOEpeople/crawler/commit/e4283786b3d0526d578e3a19c88c78404f94f28e).

When the functionality is not necessary we should remove the complete logic

[2017-06-30 07:53] tomasnorre opened #203 "Fix Travis Jobs (HHVM)"

[2017-07-10 11:53] #203 closed

[2017-08-06 19:30] dklimpel opened #206 "BE Info Module in TYPO3 8 LTS"
Call to undefined method TYPO3\CMS\Backend\Template\DocumentTemplate::spacer
[Deprecation: #71153 -  #DocumentTemplate->spacer()](https://docs.typo3.org/typo3cms/extensions/core/7.6/Changelog/7.6/Deprecation-71153-DocumentTemplateSpacer.html)

In: crawler/modfunc1/class.tx_crawler_modfunc1.php on line 225

[2017-08-07 06:31] tomasnorre commented on #206
Hi @dklimpel

did you try the TYPO3_8 branch ?
https://github.com/AOEpeople/crawler/tree/TYPO3_8

[2017-08-07 17:50] dklimpel commented on #206
Hi @tomasnorre,

no. With TYPO3_8 branch it is better.
Thx.

[2017-08-08 06:55] tomasnorre commented on #206
Super.. Thanks for letting us now. I'll close this issue.

[2017-08-08 06:55] #206 closed

[2017-08-12 09:12] MatthiasGwiozda opened #207 "TYPO3 Crawler is loading till internal server error 500 comes up"
I configured the crawler (Version 5.1.3) on multiple TYPO3 instances (the Configuration and the TYPO3 Version [7.6.20] are always the same). I am using PHP 7.0.15.

Sometimes its working and sometimes I have this problem: After all the [Configurations ](http://xavier.perseguers.ch/en/tutorials/typo3/articles/indexed-search-crawler.html) are made I want to start crawling in Web --> Info --> Site Cr

[2017-08-14 07:44] tomasnorre commented on #207
ok.. We will have to look into that..

Thanks for reporting.

[2017-08-15 13:09] featdd opened #208 "This results in an error on TYPO3 8.7"
https://github.com/AOEpeople/crawler/blob/bee13f75982e339069ba346d5bc12c0f9e8f397a/Configuration/TCA/tx_crawler_configuration.php#L145

Creating a new configuration results in:
`#1481381950: Unknown condition rule type "FALSE" with display condition "FALSE"".`

[2017-08-16 05:31] tomasnorre commented on #208
@featdd can you please try the TYPO3_8 Branch?

[2017-08-16 06:28] featdd commented on #208
didn't saw it, will try it out next time, thx

[2017-08-16 07:09] tomasnorre commented on #208
No Problem, let me know if it doesn't work.

We are working on a rewrite, but it's not always going as fast as one want to.

[2017-08-16 07:26] featdd commented on #208
I know dat feel bro, I helped myself with a wget spider yesterday, and will work on it next friday again.

[2017-08-21 06:44] samowitsch opened #209 "ProcessCleanUpHook.php::isOsWindows() wrong condition"
Hi. In ProcessCleanUpHook.php::isOsWindows() is a wrong condition.
I think there should be
`        if (TYPO3_OS === 'WIN') {
            return true;
        }`
instead of
`        if (TYPO3_OS === '') {
            return true;
        }`
See also TYPO3 core SystemEnvironmentBuilder::getTypo3Os()

regards

[2017-08-21 08:23] tomasnorre commented on #209
Thanks. Will take a look.

[2017-08-21 09:15] tomasnorre commented on #209
Can you perhaps make a pull request ?

[2017-08-21 10:27] samowitsch commented on #209
https://github.com/AOEpeople/crawler/pull/210

[2017-08-21 10:46] #209 closed

[2017-08-21 10:46] tomasnorre commented on #209
Thanks a lot.

[2017-08-29 12:17] joka123 commented on #208
i got the same issue.
branch_typo3_8 works for me.

[2017-08-30 09:02] MatthiasGwiozda commented on #207
Finally I found the solution. I have to use the CGI Version of PHP (In this case 7.0.20)

[2017-08-30 09:02] #207 closed

[2017-09-08 13:11] #197 closed

[2017-09-13 06:54] tomasnorre commented on #124
Closed with #133

[2017-09-13 06:54] #124 closed

[2017-09-25 14:12] maechler commented on #139
@tomasnorre Is there a rough timeline for a release that supports TYPO3 v8?

[2017-09-26 09:08] ses commented on #208
for the TYPO3 8.7.7 we use the "master" or the "TYPO3_8" Branch?

[2017-09-26 10:46] tomasnorre commented on #139
@maechler The is already a TYPO3_8 branch, but no official release..

We currently don't have any timeline for the official release. (Read limited time for maintainance atm. :( )

[2017-09-26 10:47] tomasnorre commented on #208
@ses the TYPO3_8 branch.

[2017-09-27 07:12] ingeniumdesign commented on #208
okay, thanks!

[2017-10-18 06:49] samowitsch commented on #88
I would drop support for v1.x of realurl. People still use realurl v1 should use a compatible version of crawler.

[2017-10-18 10:49] tomasnorre commented on #88
@samowitsch I see, that would be a breaking change, so we would need to consider how to deal with this.

I'll talk to @srotsch about this, thanks for you input.

[2017-10-26 15:40] eisbehr- commented on #139
Just to ask, can we assume the projects is dead in the future then? I mean, we're in the halftime of v8 LTS, with now one year left of full support. Even a year after this issue is open, there is no release of an v8 version planed. So it seems pretty insecure to relay on this project in the future, am I right? I mean, if you possible release a version for v8 sometime, we're possible on v9 already.

[2017-10-26 18:25] tomasnorre commented on #139
HI @eisbehr-

We are for sure trying to keep support for this, and we will be happy to do this. The question is as always the time that needs to be invested.

We are planning to do a full rewrite of the extension, which will be 8 compatible, and not backwards compatible. Our plan is to have this as a new start.

We are still considering how we can do this, to get it does and correct and soon as po

[2017-11-02 10:33] felixsemmler opened #217 "Missing CSS class form-control for AdditionalFieldProviders (TYPO3 >= 7.6.x)"
See https://docs.typo3.org/typo3cms/extensions/scheduler/DevelopersGuide/CreatingTasks/Index.html

[2017-11-02 12:43] tomasnorre commented on #217
Fix is in #218

[2017-11-03 20:36] tomasnorre opened #219 "No Configurations available in Scheduler"
Copied from slack: https://typo3.slack.com/archives/C087NGBKM/p1509112982000349

Hello, I,m looking for information to get the crawler-Extension working in typo3 8.7.7.  I have installed it, set up 2 Configuration records, but there are no Configuration Records available in the Scheduler. |  crawler 5.2.0-dev

Branch: TYPO3_8

[2017-11-03 20:40] tomasnorre commented on #219
I cannot reproduce the problem.
TYPO3: 8.7.8
PHP: 7.0.24

![screen shot 2017-11-03 at 21 39 00](https://user-images.githubusercontent.com/1212481/32394991-7eb3918a-c0df-11e7-9470-29accd1671dd.png)

Can you please elaborate how to reproduce..

[2017-11-03 20:44] tomasnorre commented on #217
Have been merge into master and 5_1.. Closing the issue.

[2017-11-24 08:07] medarob opened #221 "Can't install extension with php 7.1"
Hi,

I wanted to install the crawler extension but I got an dependency error because I use php 7.1:
Your PHP version is higher than allowed. You can use PHP versions 5.3.0 - 7.0.99

Can I ignore this?

Thank you :)

[2017-11-25 18:51] tomasnorre commented on #221
I cannot promise that this will work.. But i think it should. (Haven't tested this)

Installing by composer ? you can use --ignore-platform-reqs
https://getcomposer.org/doc/03-cli.md

[2017-11-30 19:02] tomasnorre commented on #198
I can reproduce this with:

TYPO3 8.7.8
Crawler: TYPO3_8 Branch, so most likely still a problem in the master as well.

[2017-11-30 19:08] #11 closed

[2017-11-30 20:31] #198 closed

[2017-12-01 09:04] #208 closed

[2017-12-01 09:05] tomasnorre commented on #208
I've closed this Issue as it looks like it's working with the TYPO3_8 branch.

[2017-12-01 09:35] tomasnorre commented on #78
Ping @tmotyl

[2017-12-01 09:36] tomasnorre commented on #43
As no feedback received and I cannot reproduce, I'm closing this issue.

If it's still an issue please reopen.

[2017-12-01 09:36] #43 closed

[2017-12-01 10:03] tomasnorre commented on #219
No feedback on slack nor here, I'll close the ticket.

[2017-12-01 10:03] #219 closed

[2017-12-01 10:06] tomasnorre commented on #187
This is solved within the TYPO3_8 branch, so I'll close this ticket.

[2017-12-01 10:15] tomasnorre commented on #17
Doesn't seem to be a problem anymore.. Closing the issue.

[2017-12-01 10:15] #17 closed

[2017-12-01 10:38] tmotyl commented on #187
AFIAK it was deprecated in v8, so the old labels will still work, the only thing to do is to change from xml to xlf:
EXT:lang/locallang_general.xml => EXT:lang/locallang_general.xlf

[2017-12-01 11:30] tomasnorre commented on #187
Thanks for letting us know @tmotyl, I'll check it.

It's already done in the TYPO3_8 branch. I'll reopen till I have confirmed it's done.

[2017-12-01 13:54] tomasnorre commented on #221
@medarob The problem comes from ext_emconf.php and not from composer as i expected, so my suggestion will not help..

I'll address this issue asap as i have proven that the crawler still works with other PHP versions.

Thanks for reporting.

[2017-12-01 14:42] tomasnorre opened #224 "Drop Support for TYPO3 6.2"
Remove versiom_compare() conditions

[2017-12-01 14:43] tomasnorre opened #225 "Remove Support for PHP < 5.6"
Cleanup class:: notation
Cleanup array syntax []

Apply PSR-2 code-formatting

Switch PHPUnit Functionals tests to be PHP 7.1 (Travis)

[2017-12-01 14:43] tomasnorre opened #226 "Namespaces"
Update extension to be fully namespaced
- No refactoring, only namespacing

[2017-12-01 14:44] tomasnorre opened #227 "Make master master again..."
Merge development branches into master again.

Please add an Issue template

[2017-12-01 15:13] tomasnorre commented on #221
Issue fixed with #228

[2017-12-01 15:13] #221 closed

[2017-12-01 15:59] tomasnorre commented on #174
The changes here in the old branch, is pretty small. I would like into this after the PSR-2 formatting change in #225 @srotsch

[2017-12-01 18:09] tomasnorre commented on #225
Should we do it like Georg in ext:news and validate php on travis build ?

https://github.com/georgringer/news/blob/master/.travis.yml#L58
require-dev: "friendsofphp/php-cs-fixer": "^2.0",

[2017-12-01 18:28] tomasnorre commented on #103
Example from the Form backend module:

Original: (Blue button)
<a class="btn btn-primary" data-identifier="newForm" href="#">Create a new form</a>
![btn-primary](https://user-images.githubusercontent.com/1212481/33497314-ce3ff91a-d6cd-11e7-8b70-6b0ff960fc18.png)

Modified: (Grey button)
<a class="btn btn-default" data-identifier="newForm" href="#">Create a new form</a>
![btn-default](https://user-

[2017-12-01 20:49] tomasnorre commented on #224
Pull Request can be created when 6.0.x branch is created.

[2017-12-01 21:52] srotsch opened #229 "[CLEANUP] Remove superfluous PHPDoc annotations"

[2017-12-02 18:38] tomasnorre commented on #103
I've started this, and updated the Visuals for "Crawler Processes".

[2017-12-02 19:57] tomasnorre opened #233 "[BUG] No php binary found in ''"
TYPO3: 8.7.8
Crawler: TYPO3_8

- Im not ware if this is also a problem in TYPO3 7.6.x with the same crawler version. I'll need to confirm.

**Actual:**
No php binary found in ''. Please update value for 'phpPath' in crawler extension setup.

The $extensionSettings['phpPath'] and the $extensionSettings in general are empty

**Expected:**

When the phpPath is configured in the Extension Manager Conf

[2017-12-03 16:42] tomasnorre opened #235 "[CLEANUP] Move icon_tx-crawler_configuration inside Resources/Private/Icons"

[2017-12-03 17:17] tomasnorre commented on #89
This most likely have to do with the way the link is generated in:
crawler/template/pagination.php

[2017-12-03 18:44] tomasnorre commented on #224
As we can switch to fully composer based, should we drop the autoloading file as part of this issue to @srotsch ?

https://github.com/AOEpeople/crawler/blob/master/ext_autoload.php

[2017-12-04 13:46] #225 closed

[2017-12-04 20:36] tomasnorre commented on #233
I've tried to verify this on other installations, like the Crawler devbox running TYPO3 8.7.8 and here it is not a problem.

I've furthermore tested this with TYPO3 7.6.23, here it's working as well, so i'll be closing the issue for now.

[2017-12-04 20:36] #233 closed

[2017-12-05 08:51] srotsch opened #237 "Add initial defaults for php-cs-fixer"

[2017-12-05 10:16] #237 closed

[2017-12-05 14:06] #224 closed

[2017-12-05 14:06] #235 closed

[2017-12-05 14:17] #103 closed

[2017-12-05 14:18] #229 closed

[2017-12-05 15:51] tomasnorre commented on #194
This should already be resolved. But not in official release yet.

[2017-12-05 15:51] #194 closed

[2017-12-05 16:17] tomasnorre commented on #187
It will be covered in #139, so we will close this issue.

[2017-12-05 16:17] #187 closed

[2017-12-08 10:59] tomasnorre opened #242 "[BUG] TSConfig Crawler configurations not working correctly"
When adding the Crawler configurations via TSConfig, the crawler says no entries, when trying to "Update URLs". This means the crawler queue is empty.

If the same configuration is added via Crawler Configuration Record it works like expected.

Versions:
TYPO3 7.6 + Crawler: 5.2.0
TYPO3 8.7 + Crawler: 6.0.0

[code]

![screen shot 2017-12-08 at 11 58 53](https://user-images.githubusercontent.com/12

[2017-12-11 14:16] #139 closed

[2017-12-11 14:51] #227 closed

[2017-12-15 09:07] srotsch opened #243 "[CLEANUP] Remove legacy Xclass registrations"

[2017-12-20 16:47] tomasnorre opened #244 "Add Process failed"
Due to heavy cleanup the "Add process" failed.

[2017-12-21 05:49] #243 closed

[2017-12-21 08:02] #244 closed

[2017-12-21 08:04] #89 closed

[2017-12-21 08:13] tomasnorre opened #248 "[CLEANUP] Adjust Backend Module links"
E.g.

`'window.location=\'' . BackendUtility::getModuleUrl('web_info') . '&SET[crawlaction]=multiprocess&id=' . $this->pageId . '\';'`

[2017-12-21 12:19] #226 closed

[2017-12-21 13:19] srotsch opened #250 "[CLEANUP] Adjust variable names to reflect renamed Classes"
E.g. $crawlerLib should be $crawlerController

[2017-12-21 13:22] srotsch opened #251 "[TASK] Fix broken Scrutinizer integration"

[2017-12-21 14:03] srotsch opened #252 "[TASK] Deprecate custom event dispatcher"
* add signals and use in parallel
* deprecate the custom event dispatcher
* fix stupid typo in existing signals

[2017-12-21 16:29] tomasnorre opened #253 "[CLEANUP] Remove deprecated functions"
Remove deprecated functions from #252

[2017-12-21 16:54] tomasnorre commented on #251
@srotsch I think scrutinizer is working again, lets confirm after next commits.

[2017-12-22 09:57] tomasnorre commented on #248
@srotsch  Please review:
https://github.com/AOEpeople/crawler/commit/108d9f48a6ba1675aaa9e1d4e890967f07329e14
I by mistake pushed to master.

Please close the ticket, if implementation is acceptable to you.

[2017-12-22 16:36] tomasnorre opened #254 "[CLEANUP] getAdditionalFields() false PHPDoc"

[2017-12-22 16:58] #254 closed

[2018-01-03 13:14] SylviaMoschner opened #261 "[BUG] Crawler only crawls first level"
Hello,
I have updated to TYPO3 v.8.7.8 and crawler version 6.0.0.

I had the problem that crawler never crawled pages no matter which depth I used in my configuration.
I debugged through the code and found out that it was missing the argument to expand the whole tree.

I changed the following file crawler/Classes/Controller/CrawlerController and added the following line beneath line 736 and 1737 (

[2018-01-03 15:29] dahaupt commented on #261
Hey there, I am experiencing the same issue and your fix is working fine. 👍

Hoping for a fast bugfix as I really need the crawler :/

[2018-01-03 15:53] tomasnorre commented on #261
Thanks for reporting @SylviaMoschner and for comfirming @dahaupt.

We will be looking into this asap, we are still on christmas holiday, so cannot promise when a bugfix release will be available.

[2018-01-03 16:06] tomasnorre commented on #261
@SylviaMoschner @dahaupt I can confirm the problem, but not sure about the solution yet, will have to look into potential side effects.

So far, no one jump to my attention.

Thanks for reporting.

[2018-01-03 16:28] tomasnorre commented on #261
I can also confirm that this happened between the TYPO3_8 branch and the 6.0.0 release.

[2018-01-04 14:22] ulrikkold commented on #261
I'm experiencing the same problem on a TYPO3 v7.6.23 - that is, if I'm reading this correctly. I have not confirmed the proposed solution.

[2018-01-04 16:29] tomasnorre commented on #261
Thanks for confirming..
Also the version 6.0.0 @ulrikkold ? Or which crawler version ?

[2018-01-04 19:02] ulrikkold commented on #261
Yep, that's crawler v6.0.0

[2018-01-07 19:53] stweil opened #262 "[BUG] Release 6.0.0 not compatible with TYPO3 7.6.23"
After upgrading to release 6.0.0, we get runtime errors (about 300 today):

    [07-Jan-2018 20:35:07 Europe/Berlin] PHP Fatal error:  require_once(): Failed opening required '/var/www/html/typo3conf/ext/crawler/class.tx_crawler_lib.php' (include_path='/var/www/typo3_src-7.6.23/vendor/pear/pear_exception:/var/www/typo3_src-7.6.23/vendor/pear/http_request2:.:/usr/share/php') in /var/www/typo3_src-7

[2018-01-08 07:52] tomasnorre commented on #262
Thanks for reporting @stweil.

The problem is not that it's not compatible with TYPO3 7.6.23, the problem is that it's not compatible with indexed_search.

Which version of indexed_search are you using?

[2018-01-08 10:21] tomasnorre opened #263 "[CLEANUP] Update Documentation"
From Slack: https://typo3.slack.com/archives/C087NGBKM/p1515405892000454

I'm missing any explanations and/or recommendations for setting up the Scheduler tasks:

Crawler Queue Flush (crawler)
- Frequency
- Flush mode

Crawler queue (crawler)
- Frequency
- Start page
- Depth

Crawler Run (crawler)
- Frequency
- Allow Parallel Execution ?
- Sleep time
- Sleep after finish
- Count in a run

Settings

[2018-01-08 14:02] stweil commented on #262
It's `indexed_search 7.6.23`.

[2018-01-08 14:25] #251 closed

[2018-01-08 14:33] #174 closed

[2018-01-08 14:38] #186 closed

[2018-01-08 14:39] tomasnorre commented on #262
True.. My bad, was sleepy... Thanks.

[2018-01-08 14:42] #250 closed

[2018-01-08 14:43] #191 closed

[2018-01-08 15:32] #248 closed

[2018-01-08 15:53] #261 closed

[2018-01-08 15:58] tomasnorre commented on #262
@stweil Do you use composer or TER ?

Think it's related to autoloading..

[2018-01-08 16:14] stweil commented on #262
We are using TER.

[2018-01-08 17:49] tomasnorre commented on #262
Thanks, then I know what the problem is.. I'll look into this.

[2018-01-15 07:15] kuhschnappel opened #265 "_WHERE: seems to be ignored typo3 8.7.9 / crawler 6.0.1"
This Configuration

`&tx_news_pi1[news]=[_TABLE:tx_news_domain_model_news;_PID:57, _WHERE: and hidden = 0]`

seems to be Ignored. As Result News Entrys which are hidden would be crawled.

[2018-01-17 17:34] tomasnorre commented on #265
@kuhschnappel I have been able to reproduce the issue:

TYPO3: 8.7.9
Crawler: 6.1.0

Will dig into this.

[2018-01-17 18:07] #265 closed

[2018-01-17 18:49] tomasnorre commented on #18
As this issue is really old, and I couldn't reproduce, I decided to close it.
FYI @srotsch

[2018-01-17 18:49] #18 closed

[2018-01-17 19:59] tomasnorre commented on #262
I've added a core-fix for this as well.
https://review.typo3.org/#/c/55387/
https://forge.typo3.org/issues/83603?next_issue_id=83602

There will be a fix within the crawler itself as well asap.

[2018-01-24 16:55] stucki commented on #262
@tomasnorre You are suggesting to define a `class_alias` in https://review.typo3.org/#/c/55387/. This seems to work for me, I'm not sure why it's breaking on your side. Maybe because the class_alias is only used with composer?

Anyway, one problem remains that needs to be fixed:
[code]
Should we update the TYPO3_7-6 branch for TYPO3.CMS like this or do you prefer to add the file as a fallback in E

[2018-01-24 19:25] tomasnorre commented on #262
Will you push a patch-set to the core @stucki ? I think this is a fine approach, but don't need to be for 7.6 as well.. But 8.7 and dev-master would be super.

We want to fix it within the crawler as well though.

[2018-01-25 14:39] stucki commented on #262
@tomasnorre Like I already wrote on Slack, I think that the fix is needed _only_ for 7.6 but not for the newer releases.

[2018-01-31 22:53] dahaupt opened #271 "[FEATURE] Crawl only new or modified pages"
**Feature request:**
It would be awesome if we would be able to **crawl only new or modified pages** in dependency to the `SYS_LASTCHANGED` value of the `pages` table and the last successful crawling run-time of a page. So the indexing configuration should get an option to get this behavior.

**Current behavior:**
In my researches, I wasn't able to find a way archiving this behavior. Probably the

[2018-02-01 11:31] tomasnorre commented on #271
@dahaupt Thanks for your input, and thanks for your appreciation.

What we usually do is we use a hook, cannot remember from the top of my head which, to automatically add the page to the crawler queue on edit.

This would also be the implementation I would suggest at first here.

I like your idea and will discuss it with @srotsch.

[2018-02-16 08:28] rvock opened #272 "[BUG] Refresh Icon not visible"
When using the crawler Backend-Module in TYPO3 8.7, the refresh icon is not visible.

This happens because the code tries to use an icon from TYPO3-core, which is not available any more:
[BackendModule.php#L759](https://github.com/AOEpeople/crawler/blob/ad4c9a707a2a1b6c7594abc51e667a0b490b4171/Classes/Backend/BackendModule.php#L759)

You could use `sysext/core/Resources/Public/Icons/T3Icons/action

[2018-02-19 09:30] tomasnorre commented on #272
Thanks for reporting @rvock

It would be great if you could send us a Pull Request, thanks.

[2018-02-19 18:05] tomasnorre commented on #272
@rvock

Can you provide me with a screenshot? I agree from the line you pointed out the icon is not supposed to work, but I cannot reproduce locally.. So might be unused code that needs some cleanup.

So screenshot would be helpful. Thanks.

[2018-02-19 18:14] tomasnorre opened #273 "[BUG] When creating new crawler configuration record error is served"
When creating a new crawler configuration record, the field "process_instruction_filter" doesn't have the default value.

I'm pretty sure this is due to mysql strict-mode

TYPO3: 8.7.x
PHP: 7.0.27

**Steps to reproduce:**

1. Create new crawler configuration record
2. Fill out "name" and "Page Id of TypoScript root template" the only 2 required fields.
3. Press save (and you will see the error lik

[2018-02-21 17:29] tomasnorre opened #274 "[FEATURE] Implement ExtensionsSettingService"
The loadExtensionSettings() function in the BackendModule returns array, as the `$GLOBALS['TYPO3_CONF_VARS']['EXT']['extConf']['crawler']` is not set at the point where it's needed here.

TYPO3: 8.7.x
PHP: 7.0.x

[2018-02-22 06:30] medarob commented on #262
Not sure if it's related to this problem but I'm getting the following error when the scheduled task for the Crawler runs:

Core: Error handler (FE): PHP Warning: require_once(/var/www/typo3/typo3conf/ext/crawler/class.tx_crawler_lib.php): failed to open stream: No such file or directory in /var/www/typo3/typo3_src-7.6.23/typo3/sysext/core/Classes/Utility/GeneralUtility.php line 4862

I use Typo3

[2018-02-22 06:44] tomasnorre commented on #262
Hi @medarob
Looks like it's the same issue.

[2018-02-22 07:11] medarob commented on #262
Thank you @tomasnorre  for the answer.

Yes, I use the TER mode. Would you recommend to downgrade to the Crawler Extensions v5.2.1 as long as no fix is available?

[2018-02-22 07:16] stweil commented on #262
There is a new TYPO3 7.6.24 available, but no hint in the release notes that this issue was fixed, so I assume it is still there. :-(

[2018-02-22 07:49] tomasnorre commented on #262
@stweil Correct.. This will be fixed within the Crawler and not the Core as far as I know.
https://forge.typo3.org/issues/83603

[2018-02-22 13:25] stucki commented on #262
I created a pull request for this. Does that qualify for a crawler v6.1.2 release?

[2018-02-22 13:28] tomasnorre commented on #262
@stucki I don't see how this will solve the problem.
https://github.com/AOEpeople/crawler/pull/275

The File been present, but empty. What will that change.. There functionality of the file will still be missing. Or ist that the reason for you reference to the hook implementation needed.

If this fixes the problem, it's for sure qualifies for a release. :)
cc: @srotsch

[2018-02-22 13:34] stucki commented on #262
@tomasnorre It will prevent that the indexer fails at this code in TYPO3_7-6: https://github.com/TYPO3/TYPO3.CMS/blob/TYPO3_7-6/typo3/sysext/indexed_search/Classes/Indexer.php#L1924-L1932

The functionality is in fact not missing for me as long as I use composer.
However, I forgot about those users who don't use composer, so this is indeed not complete yet.
On the other hand, it would already fix

[2018-02-22 13:39] tomasnorre commented on #262
I see..

The non-composer usages is the biggest problem right now.. But year, will resolve the require part.. But as the entire problem is not solved, I would not qualify for a release alone.

[2018-02-22 13:42] stucki commented on #262
Just updated the PR. This is completely untested so far. Can someone who is not using composer please check if it works?

[2018-02-23 07:35] tomasnorre commented on #262
@stweil Can you please tell me when you get this exception ? I have non-composer version of TYPO3 running now..

But cannot reproduce the error.

[2018-02-23 09:30] stweil commented on #262
Initially I was made aware of the problem by e-mails from a cron job (`/usr/bin/php /var/www/html/typo3/cli_dispatch.phpsh crawler`). Many more of those exceptions can be found in `/var/www/html/typo3conf/php_error.log`. @stucki, I now added a `/var/www/html/typo3conf/ext/crawler/class.tx_crawler_lib.php` from your PR and will report whether that fixes the exceptions.

[2018-02-23 11:06] stweil commented on #262
The exception is fixed, but I now get new errors in `php_error.log`:

    [23-Feb-2018 11:55:03 Europe/Berlin] PHP Fatal error:  Cannot declare class tx_crawler_hooks_tsfe, because the name is already in use in /var/www/html/typo3conf/ext/crawler/Migrations/Code/LegacyClassesForIde.php on line 0

[2018-02-23 14:12] tomasnorre commented on #262
Suggestion from: @t3easy https://twitter.com/t3easy_de/status/966992047256342529
https://docs.typo3.org/typo3cms/CoreApiReference/ExtensionArchitecture/DeclarationFile/Index.html

Can this also take care of the
[code]

Which is added to `composer.json` ? Otherwise we are not much closer to the solution.

[2018-03-07 07:44] medarob commented on #262
I also noticed that the file indexing (pdf, jpg,.. ) has stopped working. Maybe this is related to the error?

So, I rolled back to version 5.2.1 and now the Crawler works again but I assume that is only a temporary fix...

[2018-03-07 08:24] medarob opened #277 "[DOCUMENTATION] tutorial, how to set up a crawler configuration for the "news" extensions"
Hi,

I use the indexedsearch 7.6.23 with the crawler extensions 5.2.1 and so far, the indexing is working. I also use the news extension by Georg Ringer and I would like to create a crawler configuration, which can crawl the news entries so that I can find my news (which are displayed on a news detail page) via the indexedsearch extension. This is not possible with the standard crawler configurati

[2018-03-07 15:32] tomasnorre commented on #262
@medarob Are you using composer mode ? If you are, this cannot be related.

[2018-03-07 15:37] tomasnorre commented on #277
Hi @medarob

Please check this section in the documentation,
https://docs.typo3.org/typo3cms/extensions/crawler/ExtCrawler/Configuration/PageTsconfigReference(txCrawlercrawlercfg)/Index.html#page-tsconfig-reference-tx-crawler-crawlercfg

It can be done like that. If you have access to slack here is a NEWS example.
https://typo3.slack.com/archives/C087NGBKM/p1515747656000044
[code]

[2018-03-07 15:37] #277 closed

[2018-03-08 09:02] CDRO commented on #92
Hey people of AOE,

thanks for taking care of the TYPO3 crawler :-)

But it seems that in the latest release, it's impossible again to work with websites using https? Or am I missing something in my config?

Best Regards
Tizian

[2018-03-08 18:05] tomasnorre commented on #92
Hi @CDRO

It should be possible.
Can you please elaborate a little more ?

We are doing it in other project, our configuration is using direct_requests.

[2018-03-09 07:43] CDRO commented on #92
My setup is are as follows:
- PHP 7
- TYPO3 7.6
- Linux Ubuntu with Apache 2.4 or Windows with Apache 2.4/IIS 7-8

The extension is configured to not make direct requests since in the past, this led to some major issues  (and also doesn't seem to work on Windows systems) and for the sake of keeping it all homogenous we usually go with the non-direct request approach. Now since we want to force HTT

[2018-03-09 08:46] tomasnorre commented on #92
@CDRO I don't get why this is not working. We are using https for crawler with directRequests..
But it's not windows.

I would have to dig more into this..

[2018-03-12 15:47] blueamerican opened #278 "crawler 6.1.1 - pdf indexing doesn't work"
TYPO3 8.7.10
ind. search 8.7.10

maybe reltated issue #262
medarob:
"I also noticed that the file indexing (pdf, jpg,.. ) has stopped working. Maybe this is related to the error?"

[2018-03-12 17:56] tomasnorre commented on #278
Hi @blueamerican

PDF Indexing? Sounds more like a indexed search problem than crawler?
Can you elaborate a little more on how you experience the problem and how to reproduce?

[2018-03-12 18:24] blueamerican commented on #278
after deleting the indexed results and reindexing, it worked.

[2018-03-12 18:24] #278 closed

[2018-03-12 18:27] tomasnorre commented on #278
ok. Thanks for following up on this. Let us know if you find other issues.

[2018-03-19 17:52] tomasnorre commented on #274
I found the reason for this.. bad configured AdditionalConfiguration.php at my system.

I'll continue with the pull-request through as there will be some improvements, and use core functionality instead.

[2018-04-05 13:15] mgrundkoetter commented on #92
As far as I can see, those lines in the `CrawlerController` are the problem:
[code]
You set `protected function getUrlsForPageId($id, $forceSsl = false)` and it only becomes true if `https` is set on the very page record. So if the whole site uses SSL and it is not set on every single page row, it will be false by default in the crawler. My suggestion is to add a new checkbox to `tx_crawler_config

[2018-04-05 13:28] r3h6 opened #279 "[BUG] Can not create schedular tasks after installing crawler"
After clicking on the plus-button for creating a new schedular task no backend form is displayed.
TYPO3 8.7 with composer.

[2018-04-06 07:19] nimayneb opened #280 "Wrong development requirement with "typo3/cms""
Why is the dependency of TYPO3 mentioned in the "require-dev" section and also as a complete TYPO3 package (deprecated)? This breaks the composer installation with a root dependency of "typo3/cms-core" (TYPO3-9-compliance), because composer installs "typo3/cms" as complete package dependency (not desired) and that leads to:
[code]
[code]

**Solution:**
Please remove the dependency of "typo3/cms" i

[2018-04-06 10:26] nimayneb commented on #280
Currently, I'm trying to create a minimal example to narrow down the problem.

But maybe that helps:
https://github.com/symfony/symfony/issues/26757

[2018-04-06 10:48] tomasnorre commented on #280
Thanks @nimayneb will have a look into that.

[2018-04-06 11:32] nimayneb commented on #280
A minimal setup has shown that it is not subject to definition "require-dev" in this extension.

My modest suggestion is to include a conflict section with "symfony/finder" version "4.0.7"...

[2018-04-06 12:03] nimayneb commented on #280
Better approach:
[code]

[2018-04-06 12:28] tomasnorre commented on #280
Sorry I don't get that ? What would that fix in the Crawler extension?

[2018-04-06 13:08] nimayneb commented on #280
Then you can close the issue because it was a wrong assumption, that it was due to the "typo3/cms" in the "require-dev" section.

The error message was misleading:
```The package "crawler" depends on "core" which is not present in the system.```

[2018-04-06 13:13] #280 closed

[2018-04-06 13:51] tomasnorre commented on #280
ok. Thanks for investigating. Please let us know if you have other issues.

Have a nice weekend.

[2018-04-18 11:40] medarob commented on #262
Sorry, for the late reply. I use the classic mode and not the composer mode.

[2018-04-19 12:11] r3h6 commented on #279
After clicking on the "Add task" Button...
![a](https://user-images.githubusercontent.com/4550541/38990575-22aa1aec-43db-11e8-9bc5-ca6219ba40ce.png)

... I expect to get the form for creating a new task.
![b](https://user-images.githubusercontent.com/4550541/38990576-22dba3a0-43db-11e8-90f1-0a13ebf4a3e3.png)

... but after installing the "crawler" extension, I get this (note that there is a "Save"

[2018-04-19 13:32] tomasnorre commented on #279
Sorry but the screenshots doesn't help me a lot, I knew the steps, they don't bring me more information..

Do you get other errors than "no tasks defined yet" ?

[2018-04-20 13:09] r3h6 commented on #279
The problem is in CrawlerQueueTaskAdditionalFieldProvider::getSelectedState (Line 149):
`$arraySize = count($configurationArray);`

$configurationArray is NULL...

[2018-04-23 05:03] tomasnorre commented on #279
@r3h6 Thanks for your PR.. Will have a look tomorrow.

As I cannot reproduce the Problem, I'll have to dig into it, before I merge the PR.

I'll get back to you if I have any questions.

[2018-04-23 13:47] anujaunds opened #282 "When i click on select real url option for crawl then i start the clrawling show Class 'tx_realurl' not found error could you let me how to resolve."

[2018-04-24 05:01] tomasnorre commented on #282
Which RealURL version are you using.. RealURL 2 is not supported yet.

[2018-04-24 08:46] anujaunds commented on #282
I used RealUrl 2.3.2 version and latest version of typo3

[2018-04-24 10:06] tomasnorre commented on #282
Then that's the problem. I'll close this issue, and refer to #88 as it's a duplet then.

[2018-04-24 10:06] #282 closed

[2018-04-24 10:09] r3h6 opened #283 "[BUG] CrawlerController::getUrlsForPageRow Argument is NULL"
Oops, an error occurred: Argument 1 passed to AOE\Crawler\Controller\CrawlerController::getUrlsForPageRow() must be of the type array, null given, called in /var/www/vendor/typo3/cms/typo3/sysex

Got once this error when executing the scheduler, but could nor reproduce it.

[2018-04-24 10:17] tomasnorre commented on #283
Thanks for reporting @r3h6.

As it's not reproducible it's difficult for us to proceed.. In case you find a way to reproduce, please let us know.

Can you as minimum provide us with:

TYPO3 Version
Crawler Version
PHP Version

Thanks

[2018-04-24 12:26] anujaunds commented on #87
i didn't understand could you sent me proper step what i can do for resolve this issue.

[2018-04-24 12:29] tomasnorre commented on #87
@anujaunds There is no proper step yet, as RealURL 2.x still isn't supported.

Sorry.

[2018-04-25 07:01] tomasnorre commented on #87
Sounds like caching, if RealURL isn't installed at all it should not try to locate the class.

[2018-04-26 06:00] tomasnorre commented on #190
@cweiske I now have a Pull Request ready, could you do me a favor and test the branch for me?
https://github.com/AOEpeople/crawler/tree/issue/190

Thanks.

[2018-04-26 11:01] tomasnorre commented on #273
I cannot reproduce this inside the Crawler Devbox, will try with a different installation later.

[2018-04-26 11:51] r3h6 commented on #283
TYPO3: 8.7
PHP: 7.2.3-1+ubuntu14.04.1
crawler: 6.1.1

[2018-04-26 19:05] tomasnorre commented on #273
I've tried on a different system tonight, and cannot reproduce..

I'll close this issue as it's reported by me and I cannot reproduce it anymore.

[2018-04-27 19:08] tomasnorre commented on #279
@r3h6 Can you please test if #284 fixes your problem.

From the code, the $configurationArray cannot be empty anymore as I read it..
If it's working for you we have to fixes within one PR.

If it is not working I'll look into to your PR again.

[2018-04-28 10:45] Asfga opened #286 "Backend Call Add Scheduler Task & Web > Info Create Error"
Hope I am right here if not then I am sorry. I'm new to TYPO3 and wanted to try out indexed search & crawler extension but for whatever reason it doesn't work. I'm using TYPO3 Version 9.1.0, Crawler 6.1.1, Indexed Search 9.1.0 and Scheduler 9.1.0.

If I click on the scheduler icon in the backend and then click on add task, the following error message is shown:

`Call to a member function exec_SELE

[2018-04-30 06:36] tomasnorre commented on #286
The Crawler extension is not TYPO3 compatible yet.

As far as I know is the exec_SELECTquery() etc. migrated to Doctrine, and therefor it's not compatible.

We don't have a schedule for the 9.x compatible version yet. Sorry.

[2018-05-01 12:00] r3h6 commented on #279
Issue "issue/190" doesn't solve the problem.

[2018-05-01 17:03] tomasnorre commented on #279
ok.. Thanks for letting us know. I'll take a look at your PR once again.

[2018-05-02 12:33] Asfga commented on #286
Thanks that was the thing I overlooked.

[2018-05-02 12:33] #286 closed

[2018-05-02 18:05] tomasnorre commented on #242
Thanks for testing @KaffDaddy

[2018-05-03 12:11] tomasnorre commented on #242
Is merged with PR #285

[2018-05-03 12:11] #242 closed

[2018-05-03 12:15] tomasnorre commented on #190
Resolved with PR #284

[2018-05-03 12:15] #190 closed

[2018-05-03 12:26] tomasnorre commented on #262
Resolved with PR #275

[2018-05-03 13:18] tomasnorre commented on #279
@r3h6 Can you please test with current master, we have added some fixes that should solve the problem.

[2018-05-04 14:36] stucki commented on #262
@tomasnorre Thank you!

[2018-05-04 18:13] tomasnorre commented on #262
No thank you @stucki !

[2018-05-07 11:59] r3h6 commented on #279
With current master I get following exception:

Argument 1 passed to AOE\Crawler\Task\CrawlerQueueTaskAdditionalFieldProvider::getSelectedState() must be of the type array, null given, called in /var/www/web/typo3conf/ext/crawler/Classes/Task/CrawlerQueueTaskAdditionalFieldProvider.php on line 105

[TYPO3 Exception.pdf](https://github.com/AOEpeople/crawler/files/1979738/TYPO3.Exception.pdf)

[2018-05-07 18:45] tomasnorre commented on #279
@r3h6 Can you please check master with this commit cherry-picked.
https://github.com/AOEpeople/crawler/commit/c2524b0cceaeb013b79a17dd3ddd7ad198c5c8e5

This at least solves your latest problem as described in
https://github.com/AOEpeople/crawler/issues/279#issuecomment-387042798

[2018-05-08 14:28] r3h6 commented on #279
Master with cherry-picked c2524b0 solves the problems described here. This issue can be closed when commit c2524b0 is applied.

[2018-05-08 15:17] tomhatzer commented on #92
Hi @tomasnorre !

Do you possibly have any news on this? Is there anything we can help you with?

Thank you very much!

[2018-05-08 16:49] tomasnorre commented on #92
@tomhatzer Sorry, didn't have the time for it yet.
A work around would be to set the "url_scheme" to ssl for every page, direct in the Database.

The easiest way for us to continue is with a pull request, I have seen the suggestion from @mgrundkoetter, but didn't get to the implementation yet.

[2018-05-08 16:49] tomasnorre commented on #279
Thanks for getting back to us. Will make sure we get a release done asap.

[2018-05-08 19:44] tomasnorre commented on #92
@tomhatzer Please check https://github.com/AOEpeople/crawler/pull/299 It's not perfekt. But I think it solves your problem.

[2018-05-09 04:55] tomasnorre commented on #283
@r3h6 I expect this to be related to the issue #279 ? Cann this be closed as well ?

[2018-05-09 04:56] tomasnorre commented on #279
Resolved with #296

[2018-05-09 04:56] #279 closed

[2018-05-09 04:59] medarob commented on #277
Thank you. That worked, however, might it be possible to expand it a little bit.. for example I have a multidomain setup in typo3 with different websites and one folder for news. Each news is assigned one or more categories, depending on which website the news are displayed on.

If I use the instruction above, the indexedsearch plugin finds every news article, even news which are assigned to other

[2018-05-09 05:13] tomasnorre commented on #277
This should do the trick for you:
&tx_news_pi1[news]=[_TABLE:tx_news_domain_model_news;_PID:57,_WHERE: and hidden = 0 and categories = <categori_id>]

I don't know the News extension from the top of my head, but categories is plural, but and integer field in DB, so cannot say how categories are map. My suggestion might not work. But you can dig into this.

I also think you would need a crawler-con

[2018-05-09 14:41] r3h6 commented on #283
I close this issue because so far it was not reproducable.

[2018-05-09 14:41] #283 closed

[2018-05-10 11:16] tomasnorre commented on #283
Thanks.

[2018-05-11 04:48] medarob opened #301 "[Bug] error in log updating from 5.2.1 -> 6.1.2"
Hi,

I got an error in my log file after I updated the crawler extension from 5.2.1 to the newest version 6.1.2.
I use Typo3 7.6.27 and PHP 7.1.

That was the error message:

Not sure if this will have any effect on the system but I thought I let you know...

[2018-05-11 05:05] tomasnorre commented on #301
@medarob Are you using compose mode?

[2018-05-11 05:07] medarob commented on #301
No, I updated the extension via TER.

[2018-05-11 05:11] tomasnorre commented on #301
I sounds like a caching issue to me.

The registerIcons was implemented just before the 6.0.0 was releases. Can you please try clear the PHP-Caches? Usually I uninstall the about-extension and reinstall it to have the cache "really"-cleared.

[2018-05-11 05:34] medarob commented on #301
So, you mean I should roll back to 5.2.1, deactivate and activate the "Help > About" extension and update to 6.2.1 again?

So far, the error occured only once. Indexing of the sites seems to work with the scheduler task.

However, I noticed that the PDF (and image) file indexing has stopped working again... It worked with 5.2.1 (that was the reason I was still using it) but now, PDFs and images ar

[2018-05-11 05:41] tomasnorre commented on #301
Keep your updated version, and uninstall and install the about module. Then the Icons should be back as expected.

[2018-05-15 06:07] tomasnorre commented on #301
@medarob Do you have an update on this ?

[2018-05-16 05:42] medarob commented on #301
The icons seems to work but indexing of PDF files and images doesn't work anymore.
They are not shown in the Indexing module.

[2018-05-16 05:48] tomasnorre commented on #301
We haven't changed anything in regards to indexing. I'll close this issue, can you please open a new one with a describtion on how to reproduce this Problems with PDF and Images?
And please let us know which index you mean, is it indexed_search ?

[2018-05-16 05:48] #301 closed

[2018-05-16 06:13] medarob opened #302 "PDF, Image indexing does not work anymore"
After updating from Crawler 5.2.1 to the newest Crawler version 6.1.2 the indexing of pdf and image files has stopped again. I had the same problem after updating to version 6.0.0. If I roll back to the previous crawler version 5.2.1 all works fine (however, I had to start the crawler two times in order to get the pdf files indexed).

I use the indexed_search 7.6.27 which comes with Typo3 7.6.27 (

[2018-05-16 06:28] tomasnorre commented on #302
@medarob
Thanks for creating the issue on a clean slate.

Can you add some screenshots on how it was before and after the update. I'm not that experienced in indexed_search, and need to see what you mean to be able to check.

There is nothing in the git log that proves to me that the behaviour should have changed in this regards. So please provide as much information as you can, otherwise it will

[2018-05-16 06:30] tomasnorre commented on #302
@medarob Just came to my mind.. Please check the Crawler configuration, we added a new required field that tells the crawler were the TypoScript Root template is located.

Can you please verify if that is set, if not, please try to set it and crawl again.

[2018-05-16 06:54] medarob commented on #302
My indexedconfig looks like this:
![screen-indexconf](https://user-images.githubusercontent.com/33951787/40100776-7ae60800-58e5-11e8-8508-a1868fb2d742.jpg)

Is that correct?

The crawler extensions is included in the root page with the id = 88. Is it important if it's included on the top or bottom of the template list? It's included near the bottom here.

![screen-indexconf-template](https://user-

[2018-05-16 06:56] tomasnorre commented on #302
Haha just saw that too. Will change immediately.
The configuration looks correct to me. Will try to reproduce.

[2018-05-16 06:58] tomasnorre commented on #302
@medarob The Your Description is not comming from the crawler.
https://github.com/AOEpeople/crawler/search?utf8=%E2%9C%93&q=Your+description&type=

[2018-05-16 07:30] medarob commented on #302
You can find this list in the Indexing Backend Module.
Select the root page and then choose the option 'detailed statistics' in the dropdown menu at the top of the page.

I had to start the crawler scheduler task a 2nd time in order to get the pdfs and images indexed. On the first run only the pages were indexed. But I read somewhere that this is the normal behaviour... But this doesn't work with

[2018-05-16 07:37] tomasnorre commented on #302
Thanks. Will have a look.

I have configured the indexed_search in my devbox now, and will dig into this.

[2018-05-16 07:38] tomasnorre commented on #302
@medarob Is the jpgs and pdfs inserted on the pages or how do you handle them ?

[2018-05-16 07:42] tomasnorre commented on #302
@medarob If you have a slack account feel free to reach out to me there.

[2018-05-16 07:45] medarob commented on #302
Ok, I will do that. :)

[2018-05-16 16:46] tomasnorre opened #304 "[FEATURE] Split extension configuration into tabs"
As we are getting more and more settings in the extension manager, I would like to start grouping them into tabs for better usability.

[2018-05-18 16:05] #304 closed

[2018-06-04 09:57] anujaunds opened #306 "indexing issue with crawler extension"
HI,
 Could you help me for indexing page url with crawler extension. I have faced some problem with indexed_search in typo3 (8.7.10). It is only indexing the default language page. Currently i have selected three language on my website like English, German and Chinense. I already installed the crawl extension but faced same issue. Could you please let me the solution

[2018-06-05 06:46] tomasnorre commented on #306
Hi @anujaunds

You need to be more specific otherwise we will not be able to help you.

What are your problems and how to reproduce them ?

[2018-06-05 08:56] anujaunds commented on #306
Hi Tomasnoree,

i am creating a new website in typo3 with three language like: English, German and chinense. I will try to reindex my all page with the help of crawler. but i am unable to reindex my all page with different language id. I create Crawler with crawle option with root page and then i run crawler function from typo3>info. but after complete the process i  check in indexing option then

[2018-06-07 07:36] tomasnorre commented on #306
@anujaunds

You have to configure the languages in the Crawler config.
https://docs.typo3.org/typo3cms/extensions/crawler/ExtCrawler/Configuration/ConfigurationRecords/Index.html

[2018-06-07 09:10] anujaunds commented on #306
![screen](https://user-images.githubusercontent.com/38660798/41089890-33941126-6a43-11e8-99ee-a9d7bbdb99ee.png)
I already follow these step to configure my crawler extenstion

[2018-06-07 15:57] tomasnorre commented on #306
@anujaunds Which errors do you get and when ?

A need more information to be able to help.. I still don't know what the error is.

Please add steps to reproduce.

[2018-06-11 08:38] echavaillaz opened #307 "PHP Warning in CrawlerController in CLI mode"
Hi,

When trying to run a Crawler task (For example "Crawler queue"), I got an  error :

`Execution of task "Crawler queue (crawler)" failed with the following message: PHP Warning: explode() expects parameter 2 to be string, array given in /var/www/www.domain.tld/httpsdocs/typo3conf/ext/crawler/Classes/Controller/CrawlerController.php line 821`

The problem comes from the line 618 `$res[$key]['pa

[2018-06-11 12:53] tomasnorre commented on #307
Thanks for the information @echavaillaz

I'll have a look at it.

Please let me know which TYPO3 version and Crawler version.

[2018-06-11 12:55] echavaillaz commented on #307
Last TER version for Crawler and TYPO3 7.6.28.
Thanks!

[2018-06-11 14:54] anujaunds commented on #306
it's working properly When i Start the crawling. but it doesn't  indexded all pages. Please see the screenshot
![index](https://user-images.githubusercontent.com/38660798/41239149-02ca5732-6d98-11e8-8113-52a319deec40.png)

[2018-06-11 15:18] anujaunds commented on #306
First i was setup index crawl with the help of documentation and then start crawling and selected index  . After select index then click on crawl url  then visible two button Continue and Continue and Show Log then click on Continue and Show Log button After that i click on Add Process button for start the process. After some Crawling process complete then i check the  page index but here maximum

[2018-06-11 19:33] tomasnorre commented on #306
Thanks for the additional information @anujaunds. I'll look into this, please be patient, I will leave for holiday in a few days, so cannot promise any answer right away.

[2018-06-11 19:34] tomasnorre commented on #307
Thanks for the additional information @echavaillaz , will look into this, please be patient, I'll leave for holidays soon, so I cannot promise a response right away.

[2018-06-12 04:36] echavaillaz commented on #307
No problem, I have found a way to bypass the warning yet. But I think it is a real bug you have to resolve here.

Nice holidays!

[2018-06-12 04:57] tomasnorre commented on #307
You're more than welcome to provide a bugfix for this. Pull request are happily reviewed :)

[2018-06-12 04:59] tomasnorre commented on #307
@echavaillaz Can you please paste me the exact command you are running from CLI?

[2018-06-12 05:36] echavaillaz commented on #307
My solution is naive so I don't think a pull request is the right way now. But I could investigate a little more if you need my help.

For the command, there is several way to have the warning, for example, simply when running the task from the backend module or with A CRON command on the server.

Thanks

[2018-06-12 06:10] tomasnorre commented on #307
ok. You wrote CLI mode in the title, so expected it to be from CLI.

[2018-06-12 06:20] tomasnorre commented on #307
It's logic that we have a conflict here:

`
 if (is_array($values)) {
                        ....
                        code-removed
                        ....
                            $res[$key]['paramParsed'] = $this->parseParams($values);
`

`
/**
     * Parse GET vars of input Query into array with key=>value pairs
     *
     * @param string $inputQuery Input query string
     * @retu

[2018-06-12 06:32] tomasnorre commented on #307
@echavaillaz Can you provide me with you crawler-configuration.. Would like to see how you have configured the crawler.

[2018-06-12 07:39] echavaillaz commented on #307
What do you want to see exactly?
And indeed there is a logical issue here.

[2018-06-12 07:59] tomasnorre commented on #307
I don't need it, found a way to reproduce :)

[2018-06-25 13:36] tjeske2017 opened #308 "Task "Crawler Run Multi Process" not compatible with composer Installation"
The task "Crawler Run Multi Process" is not compatible with an composer installation. I think the reason is, the line `$cliPart = '/typo3/cli_dispatch.phpsh crawler';` in public/typo3conf/ext/crawler/Classes/Service/ProcessService.php

In a newer composer installation is no cli_dispatch.phpsh available. Recommended is to use the typo3 console.

[2018-06-25 15:57] tomasnorre commented on #308
@tjeske2017 We will look into this, this sounds like a mistake. But we haven't seen any problems our self with compose mode.. We have been using it in composer mode since "forever".

Can you please provide us with TYPO3 Version and Crawler version? Thanks.

[2018-06-26 07:14] tjeske2017 commented on #308
Yes sorry. TYPO3 Version 8.7.16 and Crawler Version 6.1.2.
As I mentioned above, I think the problem is, that the file typo3/cli_dispatch.phpsh is needed, which is not present in this config, because here are only a few core extensions and not the whole core.

To test it I create a simple crawler configuration, a queue task and a multi process task. If I execute the multi process task in the backe

[2018-06-26 17:55] tomasnorre commented on #308
Thanks for your update @tjeske2017, I'll look into this when I'm back from vacation.

But looks like you have found an "edge case", with the typo3/cms-* packages that we are not covering atm. Which we of course need to as this is most likely going to be the new standard. :)

[2018-07-02 16:56] tomasnorre commented on #308
@tjeske2017

I have been looking into this again, and it looks too me like it first will be a problem in TYPO3 v9.

This is the info in the `CliRequestHandler`

[code]

So it should still be valid in TYPO3 8.7.x.

I've tried to reproduce with the composer.json you pasted, and here I still have the typo3/cli_dispatch.phpsh available, and I can run the "Crawler Run Multi Process" from backend direct

[2018-07-06 06:48] nicodh commented on #307
I tapped into the same issue when trying to configure the parameters for the news extension.
The provided parameter are not expanded:

`tx_crawler.crawlerCfg.paramSets {
   news = &tx_news_pi1[news]=[_TABLE:tx_news_domain_model_news;_PID:103;_WHERE: AND hidden = 0 ]

   news {
             procInstrFilter = tx_indexedsearch_reindex
   }
}`

When I analyzed the Controller I found that expandParamet

[2018-07-06 07:16] tomasnorre commented on #307
Thanks for the detailed information @nicodh, I think you are right.. I'll look into this.

[2018-07-19 14:04] martens-web-netz-de commented on #308
Hi,
we are seeing the same issue using an "typo3/cms-base-distribution" (8.7.13): The `public/typo3/cli_dispatch.phpsh` is not present. So maybe this might be a problem with the base distribution?

Is it possible to bypass this using crawler scheduler tasks via `vendor/helhum/typo3-console/typo3cms`?

[2018-07-20 05:32] tomasnorre commented on #308
I haven't tested if it works with the typo3cms, but we can check it.

[2018-08-02 11:33] stuartmcfarlane opened #311 "[BUG] TSConfig Crawler configurations still not working correctly"
`getUrlsForPageId()` incorrectly calls `parseParams()` with the `key.` array instead of the `key`'s value causing `parseParams()` to do nothing

[2018-08-03 12:19] tomasnorre commented on #311
Closed as fixed in PR #312

[2018-08-03 12:19] #311 closed

[2018-08-04 17:02] tomasnorre commented on #78
@tmotyl Is this still an issue for you, if it's please reopen the issue. I want to clean up the issue-tracker..

[2018-08-04 17:02] #78 closed

[2018-08-04 17:15] tomasnorre commented on #91
Sorry that this is talking so long, I'm trying to cleanup the issue tracker.

@hartundweich Can you please provide me with a way to reproduce the steps, please include the extension that is causing you problem.

Then I'll look into this asap.

[2018-08-06 07:59] hartundweich commented on #91
@tomasnorre
It is not simple an issue with my extension, it also concers standard typo3 content. I think it is an issue not indexing all necessary documents when the indexer is first called - so I have to start the indexer again and again and again until all documents are indexed.
Even if I configure indexer to index eg. 1000 documents in one run, it does not, it stops without error and the task h

[2018-08-06 10:39] tomasnorre commented on #91
That's fair @hartundweich,

But can you please tell me step by step what to do to reproduce the problem.  I'm not sure i fully get it, from the description I have so far.

[2018-08-21 11:54] aschmutt commented on #273
I can confirm this error, had it with a fresh composer installation today.
It is a SQL configuration error:
There are some fields in tx_crawler_configuration that are "NOT NULL" but without default value (like 0 or '').
Solution: remove "NOT NULL" or add DEFAULT "" to ext_tables.sql

[2018-08-21 12:34] tomasnorre commented on #273
@aschmutt Thanks for your feedback, can you please provide me with a way to reproduce this.

Then I'll look into this asap.

[2018-08-21 12:55] aschmutt commented on #273
I am not sure what is the problem, but it could be STRICT mode. This is what I get for my database:
`
SHOW VARIABLES LIKE 'sql_mode'

ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
`
2 ways to reproduce:
- Install extension, try to add first configuration entry in TYPO3 Backend -> same SQL error as in first

[2018-08-21 13:07] tomasnorre commented on #273
@aschmutt Thanks for the Update, think it's strict mode related to..

Will have a look.

[2018-09-07 11:19] ic1011 commented on #302
Hello, guys! I think my installation is affected by the same issue. Did you made any progress?

Here are some additional details that might help:

Typo3 version: 8.7.13
Site Crawler version: 6.1.2

The installation was recently upgraded from Typo3 6.2. The pages appear to be indexed properly. I also get a dozen of the following warning messages from the scheduler:

`crawler: Page with (XXXX) could

[2018-09-07 12:06] tomasnorre commented on #302
Thanks for the additional information..

I didn't make any progress yet. Will try to find some time soonish..

[2018-09-23 09:50] grimmcreative opened #313 "[BUG] tx_realurl not found"
crawler 6.1.2
realurl 2.4.0

[2018-09-24 12:06] samowitsch commented on #273
Same problem here after upgrading/migrating an instance to newer versions. MySql before was v5.6.37.

TYPO3: 8.7.19
Crawler: 6.1.2
MySql: 5.7.23

[2018-09-24 12:37] samowitsch commented on #273
I tested this solution https://serverpilot.io/docs/how-to-disable-strict-mode-in-mysql-5-7 and this worked for me but i would prefer another solution if possible 😆

[2018-09-25 05:28] tomasnorre commented on #313
I'll close this as it's a duplicate/related to this #88

[2018-09-25 05:28] #313 closed

[2018-09-25 10:36] tomasnorre commented on #273
@samowitsch Shouldn't this fix the language-label problem ?
https://github.com/AOEpeople/crawler/commit/c0822de43943e1bd4f8d145b554f97cf95f19054

Or is this something else.

Which version on TYPO3 are you on.

[2018-09-25 10:39] tomasnorre commented on #273
According to TYPO3 7.6 this path for the label is correct.

[2018-09-25 14:37] samowitsch commented on #273
I am working in 8.7

[2018-09-26 08:21] tomasnorre opened #314 "TCA Label ofr hidden checkbox needs to be changed"
TCA has a missing label for hidden checkbox, has to be changed to:
'label' => 'LLL:EXT:lang/Resources/Private/Language/locallang_general.xlf:LGL.hidden',

TYPO3: 8.7

[2018-09-26 09:35] samowitsch commented on #273
But we are loosing main topic 😆 What to do with the SQL error? Is my solution https://github.com/AOEpeople/crawler/issues/273#issuecomment-424269132 suitable? Or is it better to change the definition in ext_tables.sql to avoid this error?

[2018-09-26 13:16] tomasnorre commented on #273
I was not trying to move around the main topic, was trying to separating them as they are not the same.

I don't like approach of disabling the MySQL Strict mode, think the ext_tables.sql would be a better fix.

[2018-10-02 10:57] pniederlag opened #317 "BackendModule reports error from crawling"
Hi,
the backend module always reports an error from the crawling. Diving in the code I think headers as well as the content reflect a correct crawling action.

However in  getResStatus($vv) of the Backend Module there is a call ` if (is_array($requestResult))` to determine the status of the request. Unfortunatly $requestResult is not an array so I end up with an 'Error:' in the `else` part.

https

[2018-10-03 11:19] tomasnorre commented on #317
Hi @pniederlag

Which TYPO3 version, and can you provide me with steps to reproduce ?

[2018-10-03 14:58] pniederlag commented on #317
TYPO3 8.7.13

Unfortunatly I even can't reproduce it myself.

Things that might have changed in between and could have been part of the problem:

- baseUrl was still pointing to a different installation (local clone was not properly reconfigured)
- indexing configuration record for indexed_search used a "database" type for table pages instead of the "pagetree" type record

I'll keep an eye on it b

[2018-10-03 15:27] pniederlag commented on #317
The reverse-proxy is likely to "choke" unexpected http headers... Do we have a list of headers that are required for the crawler to work correctly?

Funny enough, the content is availble as I can see in the $resStatus which is populated from $requestContent['content'] (which yields the correct html of our frontend).  Just for some reason somewhere something is taking the wrong route ...

[2018-10-03 15:32] tomasnorre commented on #317
These are the headers set by the crawler:
https://github.com/AOEpeople/crawler/blob/189014e6d5cf6da510f0ef74c5b48391de2fc708/Classes/Controller/CrawlerController.php#L1638

[2018-11-02 11:52] pixelbrackets opened #319 "Compatibility with TYPO3 9.5"
Are there plans to make this extension compatible with TYPO3 9.5?

[2018-11-03 09:56] tomasnorre commented on #319
Yes, We are planning on this, but we didn't get that far yet..
And unfortunately we don't have a time plan yet.

[2018-11-12 18:35] tomasnorre opened #322 "[FEATURE] Using CommandController instead of CommandLineController"
As part of making the Crawler extension TYPO3 9LTS compatible, we need to switch to the CommandController instead of CommandLineController.

We are currently having 3 Classes with have to be converted:
* CrawlerCommandLineController.php
* FlushCommandLineController.php
* QueueCommandLineController.php

I would suggest to mark the tree classes als deprecated:
[code]
And implement new classes.

*The

[2018-11-12 18:50] tomasnorre commented on #319
I'm closing this issue as there are no concrete todo in it.

I'll create issue for the Upgrade, when I have it all on my Radar, what needs to be done.

[2018-11-12 18:50] #319 closed

[2018-11-12 19:12] tomasnorre opened #323 "[FEATURE] Convert Domain/Model + Repositories to TYPO3 AbstractEntity & Repository"
We are currently having a Domain Model + Repositories based on an older approach to Model and Repository. We would like to have this converted into Domain/Model that extends the AbstractEntity and the Domain/Repository extending the Persistence/Repository, so that we can benefit from the functionalities that comes build-in with TYPO3.

This will enables us to remove quite an amount of code.

We ar

[2018-11-20 07:48] tomasnorre commented on #308
This is related to #322  and we are working on this.

I'll close this issue. Thanks for reporting it, I should have addresses this earlier and provided a fix.

[2018-11-20 07:48] #308 closed

[2018-11-20 07:54] tomasnorre commented on #274
I'll close this issue as there is a better implementation for this in TYPO3 9LTS

[2018-11-20 07:54] #274 closed

[2018-11-20 07:55] tomasnorre commented on #317
I haven't been able to reproduce this yet @pniederlag .

Is this still a problem for you ?

[2018-11-20 08:08] pniederlag commented on #317
@tomasnorre thx for getting back on this, highly appreciated.

It seems it was really a problem on our side with the reverse proxy not passing the proper headers to the backend. As we now bypass the reverse-proxy for crawling everything works fine.

[2018-11-20 08:08] #317 closed

[2018-11-20 08:49] tomasnorre commented on #317
Super.. Happy to hear.

[2018-11-20 08:54] tomasnorre commented on #201
We will not spent time on this as the Pretty Url concept is build-in in TYPO3 9LTS.

[2018-11-20 08:54] #201 closed

[2018-11-20 13:15] #273 closed

[2018-11-20 13:23] tomasnorre opened #326 "[FEATURE] Crawling Service"
We need to refactor the code around the CommandController and the Scheduler Tasks.

Currently they are calling old code from the CrawlerController. This code would we like to refactor and extract to a crawling service that can be used from both CommandController and Scheduler Tasks.

[2018-11-21 07:42] sypets opened #327 "[DOCS] Add howto / best practices for specific use cases (e.g. indexing, cache warmup)"
I'm missing some common usecases / howtos / best practices for effectively using crawler. It is often mentioned that crawler is commonly used in combination with indexed_search to index pages or for cache warmup. What's a good setup for those usecases? May be a little beyond the scope of docs for crawler, but I'd much rather see this documented here, where it can be maintained by the community tha

[2018-11-21 08:49] tomasnorre commented on #327
Related to #263.

I'll add this comment to the related issue, and close this issue.

[2018-11-21 08:49] #327 closed

[2018-11-21 08:50] tomasnorre commented on #263
Comment from @sypets in issue #327

I'm missing some common usecases / howtos / best practices for effectively using crawler. It is often mentioned that crawler is commonly used in combination with indexed_search to index pages or for cache warmup. What's a good setup for those usecases? May be a little beyond the scope of docs for crawler, but I'd much rather see this documented here, where it ca

[2018-12-03 15:41] WebsiteDeveloper opened #330 "[FEATURE] Use GuzzleHttp insted of custom fsockopen code"
Was there ever a diskussion about using GuzzleHttp for the Frontend Requests to make the code cleaner and use libraries already included in typo3 core?

[2018-12-03 15:43] WebsiteDeveloper commented on #330
I would be more than happy to contribute if needed :)

[2018-12-04 06:13] tomasnorre commented on #330
Hi,

I don't recall that discussion about using the GuzzleHttp instead, but we have been discussing using only direkt requests instead, and also planning to do it somewhen when we get so far.

I would be happy to evaluate the GuzzleHttp implementation, so if you have the time it would be cool with a Pull Request covering that.

[2018-12-04 09:07] WebsiteDeveloper commented on #330
Alright i think i'll put up a PR
As to compatibility i would say i'll implement the current request solution as a fallback für 7.6 because GuzzleHttp got included in 8.1

[2018-12-10 16:42] sdesign6 opened #331 "Fatal error: Class 'tx_realurl' not found (TYPO3 8.7.20, realurl 2.4.0)"
I read some of the releated issues #87 #131 to the bug.
Is there a realistic chance or some progress to bring the crawling features of realurls back to TYPO3 8.7.x?

Thx
Sven

[2018-12-10 17:10] tomasnorre commented on #331
Hi,

There are always options. Can you please post your comment in the #87 as it's a duplicate to that, the only difference is the TYPO3 version.

Feel free to submit a Pull Request, if you want to help us getting forward with this topic.

[2018-12-10 17:10] #331 closed

[2018-12-10 17:12] #10 closed

[2018-12-10 17:36] sdesign6 commented on #87
I've read the releated issues #87 #131 to the bug.
Is there a realistic chance or some progress to bring the crawling features of realurls back to TYPO3 8.7.x?

Thx
Sven

[2018-12-11 05:29] tomasnorre commented on #91
@hartundweich

Can you please provide us with steps to reproduce please, other wise I will close issue.

[2018-12-11 05:32] tomasnorre commented on #92
@tomhatzer @Idleworks
As a fix is merged into master (#299), I will close this issue.

Please reopen it, if it did not solve your problem.

[2018-12-11 05:32] #92 closed

[2018-12-13 10:22] dahaupt commented on #271
@tomasnorre Sounds great to add this feature right into the crawler! I'm available to help with occurring troubles.

[2018-12-13 19:30] tomasnorre commented on #87
@motordigital Would it be possible that you make your commit version independent, So that you make an version that is compatible with RealURL 1.x and 2.x

You suggestion looks simple and straightforward.
Perhaps introducing a RealURL Service/Utility that wrap this functionality to abstract the RealUrl functionality.

Please let me know. Otherwise I'll look into this myself.

[2018-12-13 20:01] tomasnorre commented on #87
@motordigital I've started a WIP on this topic. Feel free to comment.

#88

[2019-01-04 08:18] crizzdeeann commented on #302
I’m having the same issue.
Typo3 version: 7.6.29
crawler version: 6.1.2

additionally i found out that some documents will not be indexed even after the second „crawler run“.
By trying to index one of these documents manually, i get the following error message:
#1: PHP Warning: array_unique() expects parameter 1 to be array, null given in /html/develop/releases/20181031101953/vendor/typo3/cms/typo

[2019-01-04 16:18] crizzdeeann commented on #302
I found out that this only happens if the document is password protected for editing.
Unfortunately, this means that the remaining documents in the queue will not be indexed.
Is there a possibility to skip such _password protected for editing_ documents?

[2019-01-04 17:18] tomasnorre commented on #302
"Password Protected for editing" ? never heard of that?

If it's a database field, you can adjust your crawler configuration, similar to what you can do for the news extension. https://docs.typo3.org/typo3cms/extensions/crawler/ExtCrawler/Configuration/PageTsconfigReference(txCrawlercrawlercfg)/Index.html

[2019-01-05 21:03] tomasnorre commented on #302
Oh ? the PDF document? not a TYPO3 element?

[2019-01-05 22:00] crizzdeeann commented on #302
Jepp! the PDF document is password protected. So if you want to change the content in such kind of documents, you have to type in the password.

[2019-01-21 04:44] sangantnk8 opened #333 "[Bug] Potential SQL injection vulnerability"
Hi,

I found the function countEntriesInQueueForPageByScheduleTime does not filter the input (pageuid and schedule_timestamp) before prepare the SQL query. it means this function has a SQL injection Vulnerability.

Link: https://github.com/AOEpeople/crawler/blob/master/Classes/Api/CrawlerApi.php#L201

[2019-01-21 08:07] tomasnorre commented on #333
Thanks,

Will have a look.

[2019-01-23 13:11] #333 closed

[2019-01-31 09:19] ohader commented on #333
### Security Assessment

Scope: Method `countEntriesInQueueForPageByScheduletime`

That's really just a "potential" issue. The method in question was not used anymore like this in recent versions - thus the vulnerability affects custom derived extensions XCLASSing the class in question and calling the protected method.

The protected method has been introduced in this commit:

https://github.com/A

[2019-03-08 05:40] #322 closed

[2019-03-08 09:58] s-diez opened #336 "pollSuccess"
Hi,

I had some problems to work with "pollSuccess".

Is the following code in \AOE\Crawler\Hooks\TsfeHook::fe_eofe correct? You check for `$params['pObj']->applicationData['tx_crawler']['content']['parameters']['procInstructions']` but the information about active procInstructions normally resides in `$params['pObj']->applicationData['tx_crawler']['parameters']['procInstructions']`.

https://gith

[2019-03-08 11:21] tomasnorre commented on #336
Can you please provide us with:
Crawler Version, TYPO3 Version and PHP Version.

Thanks

[2019-03-08 11:28] s-diez commented on #336
Sure. And thanks for the fast reply.

Crawler: 6.2.0
Typo3: 8.7.24
PHP: 7.1.6

[2019-03-08 13:04] tomasnorre commented on #336
I think you are right, but will have to dig into this.

I'll see if I can provide tests for the code, it's one of the parts not covered by tests :(

FYI: I lead me to another mistake - Folder/Namespace was wrong for the Classes/Task tests.
Thanks

[2019-03-08 13:11] tomasnorre commented on #336
@s-diez Can you very if it works with your suggested change? That would help my verification process.

Thanks

[2019-03-08 13:20] s-diez commented on #336
Yes changing the if statement in Line 126 to

[code]

Triggers an error as expected if I do not set the success flag for my procInstruction.

[2019-03-08 13:31] tomasnorre commented on #336
Thanks, Then it for sure sounds like you are right.

As mentioned will see if I can prove this with unit/functional tests as well.

[2019-03-12 15:23] medarob opened #339 "[BUG] categories in indexer are not correct handled"
Hi,

I use crawler 6.2 and TYPO3 8.7.24.

I think I found an issue if you want to use categories. For example:
Index only news with certain categories.

I have a multisite setup with news in one sysfolder (id=58). Depending on the website, different news are distributed. News with the 'categorie A' are shown only on website A, news with the categorie AB are shown on website A and B...

If I use th

[2019-03-12 17:57] tomasnorre commented on #339
Looking into the code, it doesn't look like this feature is support at this moment.

I'll be happy to convert your Bug to a feature request and see how it can be implemented. Will also happy to test a Pull Request if you provide one.

Currently the focus is more on the rewrite to support the TYPO3 v9, but if you can provide me with a solution I will be happy to check and review it.

[2019-03-15 08:41] tomasnorre commented on #336
I've started writing Tests for this class, hopefully I'll be done in the near future so this can be adjusted and merged.

[2019-03-22 10:30] rreichen opened #341 "trim() expects parameter 1 to be string"
starting the crawler I get the folowing error message:
"Core: Error handler (BE): PHP Warning: trim() expects parameter 1 to be string, object given in /srv/www/vhosts/typo3/cms/typo3conf/ext/crawler/Classes/Controller/CrawlerController.php line 2223"
I tried the following workaround:
   if (gettype($conf) == "string") {$parameter = trim($conf);} else {$parameter = $conf;	}
instead of:
   $paramet

[2019-03-22 10:32] rreichen commented on #341
add on to #341
I forgot telling my versions: They are:
TYPO3 version 8.7.24
crawler Version: 6.3.0

[2019-03-22 10:53] adrienjacob commented on #341
Same here with 8.7.24 and crawler 6.3.0... no problem with 6.2.0

[2019-03-22 12:37] rreichen commented on #341
At my Installation there is also no problem with 6.2.0.
Now I changed my Workaround at line 2223:
if (gettype($conf) == "string") {
  $parameter = trim($conf);
  return ($parameter != '' ? GeneralUtility::trimExplode(',', $parameter) : []);
}
without knowing about any consequences I think it works fine.
I hope to get a professional feedback!

[2019-03-25 10:32] chris246 commented on #341
Same issue here.
Same versions as @adrienjacob

[2019-03-25 10:47] tomasnorre commented on #341
Thanks for your input.. Would be happy to review a Pull Request.

[2019-03-25 16:20] tomasnorre commented on #341
This is a regression introduced in 6.3.0 I'll fix this asap.

Thanks for reporting

[2019-03-25 16:22] tomasnorre commented on #341
The function call is deprecated..

Did you already switch to the new commandController ? Are are you still using the "old" way?

It's for sure a bug, that I introduced, but will check how to fix this at best and asap.

[2019-03-25 16:27] tomasnorre commented on #341
@rreichen

Can you please test this fix?

[code]

This was a change that should never have been made.

Appreciate your feedback.

[2019-03-27 11:14] rreichen commented on #341
@tomasnorre

Oh yes. I tested it and I didn't see any errors. So I think your fix is successful.

You wrote, this fix would be removed in nexed version v7.0.0. On the supposition that  the function "getConfigurationKeys" in v6.3.0 is the new one, I ask me what to change on my configuration for using it in future without having the described problems again? Are there any Informations?

[2019-03-27 12:23] tomasnorre commented on #341
@rreichen Thanks for testing.

The Documentation isn't adjusted yet..

But you would need to run it with the CommandController (typo3-console) instead.

I'll update the documentation.

[2019-03-27 12:24] tomasnorre opened #343 "Update Documentation to fit CommandController usage"
Update the Documentation to let the users know how to switch to the CommandControllers instead of CommandLineController.

Related #322  #341

[2019-03-29 06:33] #341 closed

[2019-03-29 06:35] tomasnorre commented on #341
The will be a new crawler version release later this morning with the fix.

Thanks for all who participated in fixing, testing, reviewing etc.

[2019-04-02 07:43] Raemy92 opened #344 "Branch typo3v9 already functional?"
Hi

I just wanted to ask if your branch "typo3v9" is already working on Typo3 9.5? Since it doesn't seem that indexed_search works well without crawler.

[2019-04-02 09:02] tomasnorre commented on #344
@Raemy92 Unfortunately not.. It's a work in progress branch.

The Index search should work without the crawler, but you need to accept indexing over frontend calls. Don't remember exactly how the setting is called.

But as I recall it, it's in the extension settings for indexed_search.

[2019-04-02 09:02] #344 closed

[2019-04-02 09:11] Raemy92 commented on #344
@tomasnorre thanks for your reply. We  had to disable indexing in frontend because of this error: https://forge.typo3.org/issues/84541

[2019-04-02 11:01] tomasnorre commented on #344
Sorry to hear that it's not working out for you.

I cannot promise anything about the development of a TYPO3 V9 compatible version. I working on it in my spare time only.

[2019-04-23 13:19] CDRO opened #347 "Make backend module compatible with TYPO3 9"
The crawler backend module heavily relies on old backend API for document formatting.

I'll try to work on this and make an appropriate PR asap.

[2019-04-23 15:20] CDRO opened #349 "Make commands and tasks compatible with TYPO3 9"
#The TYPO3 `CommandLineController` is deprecated, instead it is proposed to use the Symfony commands or use Extbase Command Controllers, which are already depreacated in TYPO3 9.

My proposal would be to update the commands to use Symfony.

Subsequently, the Scheduler Task Classes have to be updated too (of course) to use the new classes.

Everything can be started in cli as Symfony commands so th

[2019-04-24 05:00] tomasnorre commented on #349
This is already changed to use the CommandController from the TYPO3 Console:
https://github.com/AOEpeople/crawler/commit/fb7f1a4705f4bf3dbe08707c8fe92d493140542e

But Perhaps some of your todos are still valid. Can you please check against master, what still open.. Create new issues, and refer to this issue. Thanks.

[2019-04-24 05:00] #349 closed

[2019-04-24 09:07] CDRO commented on #349
I merged the changes and put up a PR for it.

[2019-05-02 16:23] tomasnorre commented on #252
Resolved in #332

[2019-05-02 16:23] #252 closed

[2019-05-08 06:59] t3easy opened #352 "Error since update to 6.4.0"
Since the update from 6.3.2 with PHP 5.6 to 6.4.0 with PHP 7.2 we receive the following error:
[code]

Environment:
- crawler 6.4.0
- TYPO3 7.6
- PHP 7.2
- scheduler
- TYPO3 Console 4.9.6

[2019-05-08 09:53] tomasnorre commented on #352
@t3easy

How to reproduce this? When does this happen?

[2019-05-08 10:09] t3easy commented on #352
This happens during the "Crawler Run (crawler)" scheduler job.

[2019-05-08 10:10] t3easy commented on #352
Even if I start the job in the scheduler backend.

[2019-05-08 10:12] tomasnorre commented on #352
Thanks.. Will check it right away..

[2019-05-08 10:30] t3easy commented on #352
you are not building $GLOBALS['TT']; anymore

[2019-05-08 10:30] t3easy commented on #352
https://github.com/AOEpeople/crawler/compare/6.3.2...6.4.0#diff-481209dc0ee6be420867b4ac30992471R2702

[2019-05-08 10:34] tomasnorre commented on #352
True.. Cannot open your link.

The $GLOBALS['TT'] is deprecated for TYPO3 v8, so we dropped it, and thought it would be enough as we do it here.

https://github.com/AOEpeople/crawler/blob/master/Classes/Controller/CrawlerController.php#L2701

[2019-05-08 13:17] CDRO opened #353 "[BUGFIX] Change visibility of repository functions"
Since the visibility changes from some commits ago the tests would always fail and make look new and valid commits bad, since they would fail on some insignificant test.

I'm working on a patch and will provide it asap.

[2019-05-08 16:45] tomasnorre commented on #352
Resolved in:
https://github.com/AOEpeople/crawler/commit/dc738f984067e6c34ac90cc04e7884c296c3c9a7

Released 6.4.1

[2019-05-08 16:45] #352 closed

[2019-05-09 10:20] t3easy opened #355 "[BUG] CLI-Path in info module is wrong"
The path to the CLI command in the module `Info` is wrong.
Example:
`/usr/local/bin/php_cli /html/releases/current/publictypo3cms crawler:crawlqueue`

1. The slash between the folder and `typo3cms` is missing
2. The binary is `/html/releases/current/vendor/bin/typo3cms` in composer mode by default not in the public path

I would use the path vendor/bin in composer mode and  typo3conf/ext/ in not.

[2019-05-10 10:14] tomasnorre opened #356 "[FEATURE] Setup TER Upload on tags via Travis, instead of Jenkins job."

[2019-05-13 22:10] tomasnorre commented on #314
Resolved with https://github.com/AOEpeople/crawler/commit/6115106de62b1e0af6462b9602194447bb3ced47

[2019-05-13 22:10] #314 closed

[2019-05-14 21:14] tomasnorre commented on #302
@crizzdeeann @medarob can one of you perhaps test this with the newest version of the crawler 6.4.1?

I've currently testing with TYPO3 8.7.25 and don't have the problem anymore, but if you could test with TYPO3 7.6, that would be great.

Please give feedback.

[2019-05-14 21:18] tomasnorre commented on #91
Ping @hartundweich

[2019-05-22 12:54] CDRO opened #358 "Report: Remove DLOG Checks"
The DLOG checks have to be removed as this is a hard breaking change in TYPO3 9.

In the same step the logging should be switched to the standard Logging as well.

[2019-05-22 17:30] tomasnorre commented on #358
I'll update the description.. Have prepared some "backlog" for the update. Will do it tomorrow or Friday.

[2019-05-22 17:40] CDRO commented on #358
I've already done some of it, but I screwed up the commit...

Find attached the patch:
[358.patch.gz](https://github.com/AOEpeople/crawler/files/3208610/358.patch.gz)

[2019-05-23 16:45] tomasnorre opened #362 "[DEPRECATION] Access to array key "extConf""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.0/Deprecation-82254-DeprecateGLOBALSTYPO3_CONF_VARSEXTextConf.html

See:
https://report.typo3-crawler.com/

*Files*
Classes/Controller/CrawlerController.php
Classes/Command/CrawlerCommandController.php
Tests/Unit/Controller/CrawlerControllerTest

[2019-05-23 16:50] tomasnorre opened #363 "[DEPRECATIONS] Fetch of property "MOD_SETTINGS""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.4/Deprecation-85196-ProtectSetupModuleController.html

See:
https://report.typo3-crawler.com/

*Files*
Classes/Backend/BackendModule.php

PS: We would like to thank anyone helping out with the TYPO3V9 Compatibility, please add your name to CONTR

[2019-05-23 16:52] tomasnorre opened #364 "[DEPRECATION] Fetch of property "content""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.2/Deprecation-84195-ProtectedMethodsAndPropertiesInEditDocumentController.html

See:
https://report.typo3-crawler.com/

*Files*
Classes/Backend/BackendModule.php

PS: We would like to thank anyone helping out with the TYPO3V9 Compatibility, plea

[2019-05-23 16:53] tomasnorre opened #365 "[DEPRECATION] Fetch of property "MOD_MENU""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.4/Deprecation-85196-ProtectSetupModuleController.html

See:
https://report.typo3-crawler.com/

*Files*
Classes/Backend/BackendModule.php

PS: We would like to thank anyone helping out with the TYPO3V9 Compatibility, please add your name to CONTR

[2019-05-23 16:54] tomasnorre opened #366 "[DEPRECATION] Fetch of property "pageinfo""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.2/Deprecation-84195-ProtectedMethodsAndPropertiesInEditDocumentController.html

See:
https://report.typo3-crawler.com/

*Files*
Classes/Backend/BackendModule.php

PS: We would like to thank anyone helping out with the TYPO3V9 Compatibility, plea

[2019-05-23 16:55] tomasnorre opened #367 "[BREAKING] Access to global array "TYPO3_DB""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.0/Breaking-80929-TYPO3_DBMovedToExtension.html

Please migration to doctrine.

See:
https://report.typo3-crawler.com/

*Files*
Classes/Command/CrawlerCommandController.php
Classes/Domain/Repository/AbstractRepository.php
Classes/Domain/Repositor

[2019-05-23 16:56] tomasnorre opened #368 "[DEPRECATION] Call to class constant "TYPO3\CMS\Core\Utility\GeneralUtility::SYSLOG_SEVERITY_WARNING""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.0/Deprecation-52694-DeprecatedGeneralUtilitydevLog.html

See:
https://report.typo3-crawler.com/

*Files*
Classes/Controller/CrawlerController.php

PS: We would like to thank anyone helping out with the TYPO3V9 Compatibility, please add your name

[2019-05-23 16:58] tomasnorre opened #369 "[DEPRECATION] Use of static class method call "TYPO3\CMS\Backend\Utility\BackendUtility::deleteClause()""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.0/Deprecation-83118-DeleteClauseMethods.html

See:
https://report.typo3-crawler.com/

*Files*
Classes/Controller/CrawlerController.php

PS: We would like to thank anyone helping out with the TYPO3V9 Compatibility, please add your name to CONTRIB

[2019-05-23 16:59] tomasnorre opened #370 "[DEPRECATION] Usage of class "TYPO3\CMS\Core\Controller\CommandLineController""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

Remove functionality around the CommandLineController marked with:

[code]

See:
https://report.typo3-crawler.com/

*Files*
Classes/Command/FlushCommandLineController.php
Classes/Command/CrawlerCommandLineController.php
Classes/Command/QueueCommandLineController.php

PS: We would like to thank anyone hel

[2019-05-23 17:00] tomasnorre opened #371 "[BREAKING] Access to array key "cliKeys""
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

https://docs.typo3.org/typo3cms/extensions/core/Changelog/9.0/Breaking-80700-DeprecatedFunctionalityRemoved.html
https://docs.typo3.org/typo3cms/extensions/core/Changelog/8.7/Deprecation-80468-CommandLineInterfaceCliKeysAndCli_dispatchphpsh.html

See:
https://report.typo3-crawler.com/

*Files*
ext_localc

[2019-05-23 17:01] tomasnorre opened #372 "Remove Support for RealURL"
**Please based a PR on the typo3v9 branch**
https://github.com/AOEpeople/crawler/tree/typo3v9

As of TYPO3 V9 we don't need RealURL anymore, this feature can be removed

PS: We would like to thank anyone helping out with the TYPO3V9 Compatibility, please add your name to CONTRIBUTERS.md, as some of the merges can harm the history and your credits can be lost.

[2019-05-24 05:02] tomasnorre commented on #368
Resolved with #373

Thanks @ayacoo

[2019-05-24 05:02] #368 closed

[2019-05-24 05:54] tomasnorre opened #374 "Fix Tests for TYPO3v9"

[2019-05-24 06:17] tomasnorre commented on #358
Resolved

[2019-05-24 06:17] #358 closed

[2019-05-24 06:18] #347 closed

[2019-05-25 13:58] tomasnorre opened #376 "[REFACTOR] getDuplicateRowsIfExist() in CrawlerController"
The logic around getDuplicateRowsIfExist() should be simplified.

The tests are currently skipped, but only for the TYPO3V9 branch.

I would suggest splitting this into to PR, so make the merges easier as they would not be compatible with both versions anyway.

[2019-05-28 04:03] tomasnorre opened #378 "[REFACTOR] findAll()"
*Files*
BackendModule.php
ProcessService.php

[2019-05-28 04:04] #374 closed

[2019-05-29 08:47] tomasnorre commented on #378
Resolved with #379

[2019-05-29 08:47] #378 closed

[2019-06-12 14:25] TheJotob commented on #273
This doesn't resolve the issue for me. Since now pidsonly doesn't make any problems anymore but the original mentioned field `processing_instruction_filter` still does.
I could fix it in the same way as for `pidsonly` though (see PR #381 )

[2019-06-13 10:43] tomasnorre commented on #273
I've merged it.

[2019-07-05 08:22] #323 closed

[2019-07-17 12:06] pixelbrackets opened #384 "[BUG] Requirement for PHP extension posix fails on Windows"
Hey,

the package requires the PHP extension posix `"ext-posix": "*"`. However if the package is installed on Windows then Composer will fail due to a missing PHP extension "posix".

The problem is, that it is not possible to install »posix« on Windows, as stated on https://www.php.net/manual/en/intro.posix.php

Is it possible to remove this as a dependency, and only use it in the package if the s

[2019-07-17 13:38] tomasnorre commented on #384
That sounds reasonable.

Would you be able to provide a Pull Request, then I would be happy to review and merge.

Thanks in advance.

[2019-07-17 14:49] tomasnorre commented on #384
I think is code-wise already ok, it's just a matter of moving the composer requirement to suggestion instead. Then we should be good to go.

That's at least how I read it.

[2019-07-18 10:46] tomasnorre commented on #384
Closed with #386

[2019-07-18 10:46] #384 closed

[2019-07-19 14:02] tomasnorre opened #388 "[FEATURE] Update Documentation to match new requirements from docs.typo3.org"
See https://docs.typo3.org/m/typo3/docs-how-to-document/master/en-us/WritingDocForExtension/Index.html

[2019-07-22 10:10] #388 closed

[2019-08-04 18:20] #355 closed

[2019-08-04 18:22] #367 closed

[2019-08-05 06:26] #370 closed

[2019-08-05 16:58] #356 closed

[2019-08-06 17:11] crizzdeeann commented on #302
Hi Tomas,

unfortunately, the documents are not indexed at all.

Typo3 version: 7.6.34
PHP: 7.1
Crawler version: 6.4.1, 6.5.0

This is how it looks like with crawler 5.2.1 installed
![scr crawler 5 2 1](https://user-images.githubusercontent.com/15214913/62560323-14267c00-b87d-11e9-8cba-e51d364779db.png)

This is how it looks like with crawler 6.4.1 installed:
![scr crawler 6 4 1](https://user-imag

[2019-08-08 15:55] Hobokens opened #405 "Call to undefined method"
Hi,
after upgrading crawler to version 6.6.2 in a TYPO3 Installation 8.7.27 I get the following error with crawler run.

`Core: Exception handler (CLI): Uncaught TYPO3 Exception: Call to undefined method AOE\Crawler\Domain\Repository\ProcessRepository::findByUid() | Error thrown in file /html/typo3/typo3conf/ext/crawler/Classes/Controller/CrawlerController.php in line 2390  `

Regards
Hobokens

[2019-08-08 19:49] tomasnorre commented on #405
Triggering from backend in the scheduler ?
I had this issue with 6.6.0 and 6.6.1 but not with 6.6.2.

Could it be caching problem?

[2019-08-08 20:42] Hobokens commented on #405
Sorry, it was my fault. I missed to upate to version 6.6.2.
Thanks for your great extension.

[2019-08-08 20:42] #405 closed

[2019-08-09 05:10] tomasnorre commented on #405
You're welcome, let me know if you're having any problems.

[2019-08-19 11:55] Ceremony64 opened #408 "[BUGFIX] Unknown column 'tx_crawler_process.uid' in 'where clause'"
I have an issue with version 6.6.2 on Typo3 v8.7.27 where it'll stop processing pages right away and end with the following error:
[code]

I believe `uid` should be `process_id`, but I'm not entirely sure where exactly in the code, this issue occurs, as it doesn't output a trace on error unfortunately.

EDIT: I suspect line 2391 in CrawlerController.php is at fault:
`$this->processRepository->find

[2019-08-19 15:31] Ceremony64 opened #409 "[BUGFIX] "Pids only" ignored since 6.6.0"
Crawling a specific page(s) by specifying "Pids only" in the Crawler Configuration is broken with version 6.6.0 and up. The setting gets ignored and instead, every page in the tree is crawled.

Thus, if you use this to configure indexing news entries of the news extension, it now indexes cartesian product of every page with every available news entry.

In my case, instead of indexing around 500 ne

[2019-08-19 16:27] tomasnorre commented on #408
Thanks for you report, will look into this asap, as we also encountered a bug regarding crawling with UserGroups.

Can you give me steps how to reproduce this?

[2019-08-19 16:29] tomasnorre commented on #409
Thanks for letting us know, will look into this asap. As mentioned in #408, we would need to do a new release soonish anyway.

So this is really helpful.

[2019-08-19 18:19] tomasnorre commented on #408
@Ceremony64 Could you test if this is also an issue with the CommandController by using the `typo3cms`

[2019-08-19 18:21] tomasnorre commented on #371
Fixed with:
https://github.com/AOEpeople/crawler/commit/c144526378ee9f9fee807905e9bf6987ddf20623

[2019-08-19 18:21] #371 closed

[2019-08-19 18:21] tomasnorre commented on #372
Fixed with https://github.com/AOEpeople/crawler/commit/2d589c3b35999b33fe627881ce06e84f1d6c9fcc

[2019-08-19 18:21] #372 closed

[2019-08-19 18:22] tomasnorre commented on #364
Done differently.

[2019-08-19 18:22] #364 closed

[2019-08-19 18:22] tomasnorre commented on #362
Fixed with https://github.com/AOEpeople/crawler/commit/dd1df78bebf5f52c680f4d73658f54cd4e6fe6c5

[2019-08-19 18:22] #362 closed

[2019-08-19 18:55] tstahn commented on #369
This seems to be resolved. Neither the current report nor the code base of the `typo3v9` branch mentions `TYPO3\CMS\Backend\Utility\BackendUtility::deleteClause()` at any point.

[2019-08-19 19:04] #369 closed

[2019-08-19 19:08] tomasnorre commented on #369
Is fixed in  https://github.com/AOEpeople/crawler/commit/c462d929f79630ff9fae8adf51fa410960d3fbe1

[2019-08-19 19:09] tomasnorre commented on #353
As i see this it resolved @CDRO ?

[2019-08-19 19:11] tomasnorre commented on #330
@WebsiteDeveloper If you still want to do this, I would recommend doing it for the TYPO3V9 branch instead.

We then keep as is for the V7 and V8 compatible versions.

PRs for both are of course welcome.

[2019-08-20 04:35] #366 closed

[2019-08-20 06:00] tomasnorre commented on #409
@Ceremony64 Could you please test with `master`.

I found another issue yesterday, when trying to debug this, and this might solve both problems, at least I cannot reproduce it.

[2019-08-20 06:02] tomasnorre commented on #409
@Ceremony64 If I go back to the 6.6.2 version, I have the Issue you mentioned too.

So would expect it to be solved, but can you please verify?

[2019-08-20 06:57] #353 closed

[2019-08-20 06:58] CDRO commented on #353
Yes indeed.

[2019-08-20 13:04] tomasnorre commented on #408
@Ceremony64 Could you please test and verify?
https://github.com/AOEpeople/crawler/pull/411

[2019-08-20 13:40] #408 closed

[2019-08-20 14:30] Ceremony64 commented on #408
Will do tomorrow!

[2019-08-21 07:55] Ceremony64 commented on #409
This seems fixed for me as well! :+1:

[2019-08-21 09:38] #409 closed

[2019-08-21 09:41] Ceremony64 commented on #408
Well... This one is kinda fixed: I did a run with a 5 page limit. Upon parsing the first page, it now generates a new process every time, overwriting the last and does another 5 pages, thus fetching every page in the queue instead of stopping after the first 5.

The issue seems to be, that while the query to find the process completes with results, all results are basically clean processes with no

[2019-08-21 12:11] tomasnorre commented on #408
Yes please create a new issue for this.. I'm preparing a release right now.. So will not enter before the next, but will release again when there is a fix.

[2019-08-21 12:19] Ceremony64 opened #413 "[BUG] Crawler limitation "Count in a run" does not work"
I did a "Crawler Run" with a 5 page limit (Count in a run). Upon parsing the first page, the crawler generates a new crawler process and assigns it another 5 pages, overwriting the last 4 unhandled pages in the queue as well. Thus after each page-fetch, a new process gets spawned and the page fetch-limit resets every time. In the end, every page gets fetched instead of stopping after grabbing the

[2019-08-21 12:23] tomasnorre commented on #413
Do you have a twitter handle?

[2019-08-21 12:24] Ceremony64 commented on #413
Nah, sorry, I don't use twitter

[2019-08-21 12:25] tomasnorre commented on #413
Ok.: Just wanted to mention you i the Thank you note.

[2019-08-21 12:25] Ceremony64 commented on #413
No need :) but thanks :D

[2019-08-21 12:26] tomasnorre commented on #413
TYPO3 Slack ?

[2019-08-21 12:32] Ceremony64 commented on #413
Errr... nope, don't think so? At least I never used Slack, only their bugtracker: https://forge.typo3.org/users/41611

[2019-08-21 12:38] tomasnorre commented on #413
No Problem.

[2019-08-21 12:45] tomasnorre commented on #413
Do you have steps to reproduce this?

Running in CLI context, backend?

PS: I delete our comments on twitter/slack to have the issue more clean.

[2019-08-21 12:51] Ceremony64 commented on #413
I merely had a queue list of a few hundred pages and configured "Crawler Run" with a 5 "Count in a run" limit. I then executed it via CLI scheduler and looked at the database while it was running. Thats how I noticed it just wouldn't stop and just create new processes and new queue (re-)assignments. Afterwards, I looked at the new findByProcessId method and noticed the empty Process objects

[2019-08-21 12:54] tomasnorre commented on #413
Thanks.

Would you be able to do a Pull request on this?

[2019-08-21 14:59] Ceremony64 commented on #413
I looked a bit into the empty QueryResult Process object(s), but didn't get anywhere. It seems like it isn't calling the datamapper at all to assign the query results to the Process-object(s). No clue why...

[2019-08-21 15:49] tomasnorre opened #415 "[BUG] Add Process in backend isn't working"
1. Login into the backend
2. Go to the Info -> Site Crawler Module
3. Add pages to the queue
4. Go to "Crawling Processes"
5. Click "Add Process"
6. You will see a flash message that the process couldn't be added after 10 seconds.

[2019-08-21 16:16] tomasnorre opened #416 "[BUG] composer bin path not correct in non-standard setups"
Related to: https://github.com/AOEpeople/crawler/issues/355

[2019-08-21 17:57] bmack opened #417 "Replace all serialize/unserialize with json_encode/decode where applicable"
We should get rid of serialize/unserialize and replace that with JSON data for the database fields, if there are no objects stored in the DB.

[2019-08-21 18:42] tomasnorre commented on #365
This is a false positive.

[2019-08-21 18:42] #365 closed

[2019-08-21 18:43] tomasnorre commented on #87
Sorry, but we will not add support for RealURL 2.x, we will focus on getting a TYPO3 9 LTS release out instead.

[2019-08-21 18:43] #87 closed

[2019-08-21 18:43] tomasnorre commented on #88
Sorry, but we will not add support for RealURL 2.x, we will focus on getting a TYPO3 9 LTS release out instead.

[2019-08-21 18:43] #88 closed

[2019-08-21 19:03] tomasnorre opened #419 "[FEATURE] Deprecate CrawlerController->flushQueue() and use QueueRepository instead"

[2019-08-21 20:18] #416 closed

[2019-08-22 06:20] tomasnorre commented on #413
ok, i'll try to debug this.

[2019-08-22 07:45] bmack commented on #363
IMHO this can be closed, this is wrong - as the deprecation file shows the "ProtectSetupModuleController" although we're using the InfoModuleController

[2019-08-22 08:12] bmack opened #421 "Use native logging API instead of manually invoking everything"
Lots of places in CrawlerController uses logging which can be simplified in code

[2019-08-22 08:16] tomasnorre commented on #363
Thanks, Was expecting a false positive here as well.

[2019-08-22 08:16] #363 closed

[2019-08-22 08:20] bmack opened #423 "[BUG] CrawlerController has a typo in the DB query"
There is a small typo in the CrawlerController that leads to a PHP error. "createNamedParamter"

[2019-08-22 08:28] #423 closed

[2019-08-22 08:42] #421 closed

[2019-08-22 09:46] bmack opened #425 "[TASK] Clean up CrawlerController"
A lot of code in the CrawlerController class is TYPO3 v4 style,
which can be simplified as we're only dealing with TYPO3 v9 nowadays.

[2019-08-22 09:59] bmack opened #427 "[TASK] Remove unused BE module template classes"
Due to the BE module refactoring some old PHP classes were kept, they should be removed completely.

[2019-08-22 10:04] bmack opened #429 "[BUG] ClickMenu code not working"
The CrawlerClickMenu is not refactored for v9 yet. Either remove it or adapt it (also the registration process).

We can have a look at EXT:impexp and their registration for the clickmenu. Should be fairly doable for bringing it up to v9.

[2019-08-22 10:20] tomasnorre commented on #427
Resolved in #428

[2019-08-22 10:20] #427 closed

[2019-08-22 10:21] tomasnorre commented on #429
We have removed it for the TYPO3V8, so can be removed here as well.

[2019-08-22 10:43] #425 closed

[2019-08-22 12:04] bmack opened #431 "[TASK] Use CommandUtility API and Environment API"
Some code can be updated to get closer to TYPO3 Core.

[2019-08-22 12:39] bmack opened #433 "[!!!][TASK] Streamline code and remove v7 legacy code"
As the new version will only run with TYPO3 v9 anyways,
a lot of safety net functionality can be removed.

[2019-08-22 12:41] tomasnorre commented on #429
The is merged with #430

[2019-08-22 12:41] #429 closed

[2019-08-22 13:52] #433 closed

[2019-08-22 19:55] tomasnorre commented on #415
This is clearly related to #413, when "fixing" the `findByProcessId()` then the process get added.
But the process list below doesn't get updated correctly.

I'll close this an work on in the original issue.

[2019-08-22 19:55] #415 closed

[2019-08-22 19:57] tomasnorre commented on #413
When "fixing" the findByProcessId() then the process get added.
But the process list below doesn't get updated correctly.

I'll dig more into this to figure out what the Problem is.

This would need to go into the TYPO3V9 branch as well.

[2019-08-22 20:24] tomasnorre commented on #413
@Ceremony64 Could you please test PR #437?

This covers the fix for TYPO3V7 and V8.
I'll do a separate issue for the TYPO3V9.

[2019-08-23 05:49] tomasnorre commented on #413
This is merged into master, can you please verify @Ceremony64, thanks.

[2019-08-23 07:31] #307 closed

[2019-08-23 07:33] Ceremony64 commented on #413
Nope, it's still not working correctly and ignoring the per-run limitation:
With a limitation of 5, it correctly assigns 5 items of queue to a single process, but after completing all 5, it just creates a new process and assigns it another 5.

[2019-08-23 07:50] tomasnorre commented on #413
ok. Then I might have misunderstood you. I'll reopen the issue.

But do I understand you correctly, that you can continue with the current dev-master soon 6.6.4 release, and not have big issues atm?

I will look into this changed behavior later then (not later today), have enough on my plate atm.

[2019-08-23 08:15] Ceremony64 commented on #413
Well, the behavior changed slightly, so it did do something. It's just more than one bug.

Also, I just tested it again: Apparently this (new) issue only occurs when run via CLI and not by pressing "run" in the Typo3 backend. Via the webinterface, it stops processing after the limit has been reached. Via CLI, it just creates a new process with a new queue limit once a process finishes.

Aside from

[2019-08-23 08:20] tomasnorre commented on #413
Thanks for you feedback. Will dig into it again.

[2019-08-23 11:03] Ceremony64 commented on #413
One more thing: Running the task via CLI will never end and cause a 100% load on a single thread.

[2019-08-23 11:05] tomasnorre commented on #413
oh.. That's not good.
Thanks for letting us know.

[2019-08-23 13:47] tomasnorre commented on #413
@Ceremony64
Do you start it with the `cli_dispatcher` or with `typo3cms crawler:crawlqueue` ?

[2019-08-23 13:51] tomasnorre commented on #413
I just tested with teh `typo3cms crawler:crawlqueue` and cannot reproduce what you are mentioning.

Can you please provide step by step on how to reproduce the issue?
Thanks.

[2019-08-24 11:09] Ceremony64 commented on #413
I used the cli_dispatcher

[2019-08-25 11:55] tomasnorre commented on #413
Thanks.

Can you please try to test with the `typo3cms crawler:crawlqueue`, the cli_dispatcher is deprecated, and will be removed in version 7.0.0.

I'm not saying i won't fix it for cli_dispatcher, I just want you to test it with the `typo3cms` too.

[2019-08-26 12:40] Ceremony64 commented on #413
I need to correct my previous statement: I didn't use cli_dispatcher nor typo3cms crawler:crawlquue, instead, I started the scheduler (which only had a single active job, the "Crawler Run"):
`php /path/to/webfolder/typo3/sysext/core/bin/typo3 scheduler:run`

typo3cms crawler:crawlqueue seems to be only available on typo3 with composer, so for me that would be `/sysext/core/bin/typo3 crawler:crawlq

[2019-08-26 18:53] tomasnorre commented on #413
I think you are into something there.

The cliPath calculation is expecting composer which isn't also present. I would need to figure out how to do this differently.

The `php /path/to/webfolder/typo3/sysext/core/bin/typo3 scheduler:run` shouldn't be a problem either. But the it's the same as triggering it from backend over the scheduler-module.

[2019-08-27 07:54] Ceremony64 commented on #413
FYI, the crawler is listed under legacy commands:
[code]
those commands seem to only work with cli_dispatch tho... Should I also test cli_dispatch? It is deprecated after all and Typo3 v7 will be also be dropped soon anyway, so I don't think spending more time on a an already declared dead functionality is time well spent ^^

[2019-08-27 08:01] tomasnorre commented on #413
I agree on that, but want to help people, when they have problems with the crawler.

[2019-08-27 09:41] stucki opened #439 "Rename the CLI user"
The user which is needed to run the CLI jobs has been renamed in TYPO3 8.7:
https://docs.typo3.org/c/typo3/cms-core/master/en-us/Changelog/8.6/Feature-79240-SingleCliUserForCliCommands.html

Tasks:
- All occurences in EXT:crawler need to be changed.
- Ensure compatibility with older versions (or add a conflict with TYPO3 v7 and below).
- Remove admin permission check / ignore the fact that the new

[2019-08-28 09:20] developerroom opened #442 "Not see the context menue for the queue"
Not see the context menue for the queue:
TYPO3 8.7.27

[2019-08-29 06:29] tomasnorre commented on #442
Can you please elaborate, a little more.

What don't you see?
How to reproduce?
What is expected behaviour?
Which Crawler version?

If I'm getting you correct, this is the reason.
https://github.com/AOEpeople/crawler/blob/2e37c2582fa7f3adf8eadb01f0c2092aa2f0a419/Classes/Utility/BackendUtility.php#L63

We disabled the ClickMenu for TYPO3 < 8.6

[2019-09-02 16:38] tomasnorre opened #443 "[FEATURE] Use Site Handling instead of sys_domain"
With this feature we will remove the dependency for sys_domain, and use the Site Handling coming with TYPO3 V9 instead.

[2019-09-02 16:40] tomasnorre opened #444 "[BUG] Process Progress in backend, stopping after 1 entry crawled"
This is "only" a problem with "make direct requests" the Guzzle variant works as expected.

[2019-09-02 16:41] tomasnorre opened #445 "[BUG] After crawl urls, clicking on "Show crawler log" doesn't work"
When starting crawling, and clicking “Continue and show log” it jumps back to start crawling. Probably just a wrong action defined on the button.

[2019-09-02 16:45] tomasnorre opened #446 "[BUG] cliPath is only working with composer-installs"
Currently the `getCrawlerCliPath()` is only working with composer, not all installation are composer based, so we need a way to resolve this not depending on composer only.

https://github.com/AOEpeople/crawler/blob/typo3v9/Classes/Service/ProcessService.php#L223

[2019-09-02 16:52] tomasnorre opened #447 "[FEATURE] Wizard for the CommandController"
We need an Upgrade Wizard for the CommandController so easy the upgrade from older systems.

This needs documentation of the CommandController itself as well.

[2019-09-02 16:52] tomasnorre opened #448 "[DOCUMENTATION] Update Screenshots"
- [x] Configuration Records
- [x] Context Menu <-- Obsolete?
- [x] Building and Executing queue right away (from cli)

[2019-09-03 16:54] tomasnorre opened #450 "[FEATURE] Switch to the Symfony Command"
Instead of using the `Helhum\Typo3Console\Mvc\Controller\CommandController` we should use the Symfony Command instead.

See: https://typo3worx.eu/2019/01/symfony-console-in-typo3/

- [x] Switch to Symfony Command
- [x] Use the typo3 binary instead of typo3cms
- [x] Adjust the ProcessService->getCrawlerCliPath() to new binary

[2019-09-04 07:37] tomasnorre opened #453 "[FEATURE] Switch to middleWare instead of EventDispatcher and SignalSlots."
- [ ] Remove EventDispatched deprecated in 6.x
- [ ] Deprecated SignalSlots to be removed in Version 10.0.0
- [ ] Introduce MiddleWare

[2019-09-04 08:38] tomasnorre commented on #446
This is done for dev-master in https://github.com/AOEpeople/crawler/pull/449

[2019-09-04 08:40] tomasnorre commented on #446
Also resolved in https://github.com/AOEpeople/crawler/tree/typo3v9

[2019-09-04 08:40] #446 closed

[2019-09-04 10:38] tomasnorre commented on #443
Resolved in #452

[2019-09-04 10:38] #443 closed

[2019-09-04 18:42] tomasnorre commented on #445
Resolved with #458

[2019-09-04 18:42] #445 closed

[2019-09-04 18:45] bmack commented on #453
IMHO this should be closed / postponed until we only have TYPO3 v10 only support. Middleware is there for the deprecated hooks (so we're safe here).

[2019-09-04 18:47] tomasnorre commented on #453
I'll change the labels, so that we don't forget.

[2019-09-05 04:23] tomasnorre commented on #450
Resolved with: #456

[2019-09-05 04:23] #450 closed

[2019-09-05 04:53] tomasnorre commented on #330
Resolved with #457, but only for typo3v9 branch.
Will not make it to 7 and 8 compatible versions.

[2019-09-05 04:54] #330 closed

[2019-09-05 06:14] #431 closed

[2019-09-05 12:58] tomasnorre commented on #326
Will close this due to a lot of refactoring, might be recreated later if needed.

[2019-09-05 12:58] #326 closed

[2019-09-11 19:26] tomasnorre opened #464 "[BUG] Crawling Depth not respected"
Steps to reproduce:

1. Add a new crawler configuration, only set the name
2. Go to the crawler
3. Select the Top page, and Infinite in depth
4. Press "update" or "crawl urls"
5. Count will be one, should be higher as subpages should be crawled too.

[2019-09-11 19:38] tomasnorre opened #465 "[BUG] Status isn't updated in Crawler Log"
Steps to reproduce:

1. Go to the Crawler Log
2. Press the "process wheal"
3. Status column isn't updated, at least not on error.

FYI: You can verify the status, but clicking at the Queue Id and see the result data.

![Screenshot 2019-09-11 at 21 36 51](https://user-images.githubusercontent.com/1212481/64728901-58d8af00-d4dc-11e9-9d95-9b9860b25d92.png)

[2019-10-16 17:58] tomasnorre commented on #464
I'm not sure yet, think this is related to a false configured Site Configuration in my Devbox.

[2019-10-17 07:12] tstahn commented on #464
Hi @tomasnorre, I gave this a quick go with one of my TYPO3 9 projects and the current `typo3v9`. Following your steps, it seems to work absolutely fine for me:

![Bildschirmfoto 2019-10-17 um 09 02 16](https://user-images.githubusercontent.com/32361706/66985961-2feca080-f0be-11e9-81e2-1a0e94e243c6.png)

[2019-10-17 07:54] tomasnorre commented on #464
I have full ddev.site domain as my URL.

[2019-10-17 08:30] tomasnorre commented on #464
It works on my setup now too.

I'll switch the task, to be Update Troubleshooting instead.
Till Then:

The Problem was the Upgrade Wizards Slugs wasn't done.

[2019-10-17 15:23] tomasnorre commented on #464
I'll close this as it wasn't a bug, but a missing Upgrade Wizard step.

I've updated the documentations Troubleshooting, to help other in the future.

[2019-10-17 15:23] #464 closed

[2019-10-17 17:29] tomasnorre commented on #444
Looks like this isn't a problem anymore after fixing #463

Can someone please verify?

[2019-10-17 17:40] tomasnorre opened #471 "[BUG] ContextMenu is not working in TYPO3 9LTS"
## Bug Report

**Current Behavior**
When I right-click at a page in page-tree i don't see the more > Crawl option

**Expected behavior/output**
When I right-click at a page in page-tree I expect to see the more > crawl option

**Environment**
- Crawler version(s): dev-typo3v9
- TYPO3 version(s): 9.5.10

[2019-10-21 19:30] tstahn commented on #444
If that's what we're talking about, it doesn't seem to be an issue anymore, see

![Bildschirmfoto 2019-10-21 um 21 29 20](https://user-images.githubusercontent.com/32361706/67236637-f6af8a00-f449-11e9-8302-a6cb2713b78a.png)

[2019-10-21 20:35] tstahn commented on #471
Hey @tomasnorre, as far as I understand the code and the documentation the »Crawl« context menu item is added to `tx_crawler_configuration` records, and was never meant to work on `pages`.

see my local environment (in which this works as intended by the way):
![Bildschirmfoto 2019-10-21 um 22 30 38](https://user-images.githubusercontent.com/32361706/67241000-e354ec80-f452-11e9-83fa-15ec3d019e96.p

[2019-10-22 17:36] tomasnorre commented on #444
As this is confirmed I will close this issue.

[2019-10-22 17:36] #444 closed

[2019-10-23 04:27] tomasnorre commented on #471
No it's fine as is..

Just though it was different in the current-master, but it isn't.

We will keep it as is, and if a Feature Request comes in we can evaluate again.

[2019-10-23 04:27] #471 closed

[2019-10-31 10:26] rreichen opened #473 "[BUG] Process States Information uncompleted"
## Bug Report

At Backend-Page "Info" the crawler Information-table "Process States" is  uncompleted. So the two colums "Time first item" and "Time last item" are not filled and column "Runtime" shows 0.

My Environment
- Crawler version: 6.6.5
- TYPO3 version: 8.7.28

[2019-10-31 11:35] rreichen commented on #473
![crawler_process_states](https://user-images.githubusercontent.com/18324572/67943688-e2eaed00-fbda-11e9-8032-de552d4d6ce3.jpg)

[2019-11-07 07:45] tomasnorre commented on #473
Thanks for you information. Will look into this. I have a similar setup that I can test on.

[2019-11-07 07:48] tomasnorre commented on #473
I can confirm this. Will look into this. Thanks for reporting @rreichen.

Do you have a possibility to debug and create a PR for this?

[2019-11-08 07:09] tomasnorre opened #474 "[CLEANUP] Remove Deprecated function"
We have quite a number of function that is deprecated since 6.x.y and should be removed in 7.0.0.

These functions should be removed to have cleaner code base.

[2019-11-08 07:46] tomasnorre commented on #473
@rreichen Can you please test the branch?
https://github.com/AOEpeople/crawler/tree/issue/473

If you report ok, i'll have it merged.

[2019-11-08 08:48] rreichen commented on #473
Hallo Tomas,

I tested it, and it is OK. All process information fields are filled now.

Thanks - Roland

Von: Tomas Norre Mikkelsen [mailto:notifications@github.com]
Gesendet: Freitag, 8. November 2019 08:47
An: AOEpeople/crawler <crawler@noreply.github.com>
Cc: Reichenauer, Roland <Roland.Reichenauer@RHEINGAU-TAUNUS.DE>; Mention <mention@noreply.github.com>
Betreff: Re: [AOEpeople/crawler] [BUG]

[2019-11-08 09:01] tomasnorre commented on #473
I'll reopen as it isn't merged yet.

[2019-11-08 11:03] #473 closed

[2019-11-08 12:28] tomasnorre commented on #474
Not needed, I looked at the wrong place :(

[2019-11-08 12:28] #474 closed

[2019-11-25 11:04] vzz3 opened #476 "add _RECURSIVE option to the subpartParams Configuration of the lookup _TABLE instructions"
## Feature Request

Currently it not possible to create crawler queue entries for extension records that are stored on different sub pages without creating an own Crawler Configuration for every PID. However, many extension (e.g. news) allow to search records not only on a single page but also on subpages of the specified PID.
If editor are allowed to create own subpages where they store extension

[2019-11-25 14:40] DanielSiepmann opened #478 "Respect configuration from TSconfig when creating scheduler task"
## Bug Report

**Current Behavior**
No configuration from TSconfig is shown when creating a new scheduler task to create a queue. Only records from DB are listed.

**Expected behavior/output**
The available select options should also list available configurations from TSconfig.

**Environment**
- Crawler version(s): 5.2.0 (tested) master (by inspecting code)
- TYPO3 version(s): 6.2 (should not be

[2019-11-25 16:20] tomasnorre commented on #478
Thanks for your report @DanielSiepmann.
I'll look into this and make sure we find a solution for dev-master and typo3v9 branch.

[2019-11-27 05:30] #476 closed

[2019-11-27 05:32] tomasnorre opened #479 "[FEATURE] add _RECURSIVE option to the subpartParams Configuration of the lookup _TABLE instructions"
## Bug Report

Please check if this also applies for the typo3v9 branch.
https://github.com/AOEpeople/crawler/pull/477

[2019-11-27 06:07] tomasnorre commented on #479
@vzz3 Do you have the possibility to check if this also applies to the typo3v9 branch ?

[2019-11-27 12:12] vzz3 commented on #479
I can probably implement that for the typo3v9 branch as well. However, I don't know how I should test it. Does the head of the typo3v9 branch already run under TYPO3 9 LTE or should I test with TYPO3 8 LTE?

[2019-11-27 13:18] tomasnorre commented on #479
The typo3v9 branch is already running under TYPO3 9 LTS, so if you have a 9 setup somewhere, it should be fairly easy to test it.

Thanks for helping out.
There is even a ddev setup for the crawler, so it should be fairly easy to set up for testing.
https://github.com/AOEpeople/crawler-devbox/tree/feature/ddev

[2019-11-27 16:10] jwittorf commented on #263
Hi, any news on this? I'm using the default "indexedsearch" but how can I use the same configuration record to "create" the cache for the same pages?

[2019-11-27 16:16] tomasnorre commented on #263
No I didn't get further with this. My focus is at the TYPO3V9 release at the moment (for a while).

Pull requests are more than welcome.

[2019-11-27 16:19] jwittorf commented on #263
Okay, thanks for your efforts! I was just wondering why the pages get reindexed for indexed_search but at the same time won't get "recrawled" for the TYPO3 cache. Do I need another extension for this?

[2019-11-27 16:22] tomasnorre commented on #263
No, The crawler would be an option for this.
Feel free to reach out on Slack, then we can go over you setup together.

[2019-11-28 06:03] #465 closed

[2019-11-28 06:16] tomasnorre opened #481 "[BUG] Direct Requests doesn't work"
Steps to reproduce:

*Current Behaviour*
1. Go to the Crawler Log
2. Press the "process wheel"
3. Status column isn't updated

*Expected Behaviour*
The Status column should be updated with a ok or an info-text on the error.

![crawler-log](https://user-images.githubusercontent.com/1212481/69781983-0f7d2f00-11b0-11ea-875b-f32f18796d05.png)

[2019-11-28 14:18] tgaertner opened #482 "Exeption on creating Configuration Record"
## Bug Report

**Current Behavior**
When I try to create a new crawler configuration record via the list module in the backend I get:
SQL error: 'Field 'sys_domain_base_url' doesn't have a default value' (tx_crawler_configuration:NEW5ddfd5616b13d570651294)

**Environment**
- Crawler version(s): 9.0.0-dev (dev-typo3v9)
- TYPO3 version(s): 9.5.11
- Is your TYPO3 installation set up with Composer (Co

[2019-11-28 14:58] tomasnorre commented on #482
Thanks for you report @tgaertner,

I've tried to reproduce this with following steps:

1. List view
2. Create new Crawler Configuration
3. Add Name Only
4. Press save

This works for me.  Do you do anything different than me?
Have you done "Analyse Database" to see if some definitions are not up to date?

[2019-11-28 15:25] tgaertner commented on #482
Thanks for the quick response!

DB is up to date. All other records and normal backend work works fine.
Yes I do the same steps. What I don't undersatand is: the field mentioned in the error soes not exist at all...

I'll check this on a plain installation - just in case - and will give feedback on this.

[2019-11-29 06:59] tgaertner commented on #482
On a plain composer v9 installation it works. So it must have something to do with my installation. So its not a bug in the crawler - sorry.

If I find the reason I'll let you know if its a conflict or something worthy to mention in the docs.

[2019-11-29 06:59] #482 closed

[2019-11-29 08:29] tomasnorre commented on #482
Don't be sorry, I'm always interesting in feedback and it could easily be the crawler being the problem.

Reach out if you find something.

[2019-11-29 12:47] tgaertner commented on #482
Found it. I first installed the latest official version 6.7.0.
After that I updated (composer) to current dev-typo3v9 - without deleting the old fields from the db-tables. So there is indeed a field "sys_domain_base_url" from the error-message.
I don't know if this is helpful to improove something that. Maybe a hint in the docs in section trubbleshooting :-)

[2019-11-29 17:36] vzz3 opened #484 "It is not possible to run the BuildQueueCommand from the scheduler at TYPO3 v9"
## Bug Report

**Current Behavior**
The native scheduler task `CrawlerQueueTask` was removed in [b7411a3]. I guess it is intended that the automated queue item record creation should be done by executing the `BuildQueueCommand` with the help of the `ExecuteSchedulableCommandTask` from the scheduler extension. However that does not work at the moment because required command _options_ like conf, pa

[2019-12-01 15:18] tomasnorre commented on #482
Thanks for the information, could you make a PR for the

[2019-12-01 15:19] tomasnorre commented on #484
Thanks for  your report, will look into this.

[2019-12-02 09:18] tgaertner commented on #482
done.

[2019-12-02 09:23] tomasnorre commented on #482
Thanks.

[2019-12-02 13:55] fl3s opened #492 "[BUG] Force SSL from configuration record doesn't work"
Forcing to use HTTPS from the configuration record doesn't work. It is stored as an integer (-1, 0 or 1), but returned from the model as a boolean. Later that boolean is used as an integer again, which gives an incorrect result in a switch. Changing the forceSsl property of the configuration model as well as the return type from boolean to integer solves the problem.

[2019-12-02 20:37] tomasnorre commented on #492
Hi @fl3s,
Can you please tell me which versions:

Crawler?
TYPO3?

Thanks

[2019-12-03 06:31] tomasnorre commented on #484
@vzz3 you mean the "Execute Console Commands" right ? Otherwise you have a functionality that I don't have in my backend, but could be.

But with the "Execute Console Commands" I can confirm that the AddtionalFields are missing.

[2019-12-03 06:32] tomasnorre commented on #484
It's btw. a problem for all 3 Command Controllers for the Crawler, no params are included. Will check this out and fix this.

[2019-12-03 08:08] fl3s commented on #492
TYPO3 8.7
Crawler 6.7.0

The forceSsl property of the configuration model doesn't correspond with its TCA.

[2019-12-03 08:46] vzz3 commented on #484
Yes, exactly! The PHP class name of the Scheduler Task "Execute Console Commands" is `ExecuteSchedulableCommandTask`.

A possible solution could be to extend the classes `ExecuteSchedulableCommandTask` and `ExecuteSchedulableCommandAdditionalFieldProvider` and provide additional input for symfony console command _options_ like it is already implemented for `arguments` (see `ExecuteSchedulableComma

[2019-12-03 08:53] tomasnorre commented on #492
Thanks for the additional information. Will look into this.
If you have fix already please add a Pull Request.

[2019-12-03 08:54] tomasnorre commented on #484
Thanks, this patch is related to the issue here.
https://review.typo3.org/c/Packages/TYPO3.CMS/+/61696

[2019-12-03 09:00] vzz3 commented on #484
Thanks for finding that patch! Really nice that this problem already gets addressed. I will have a look and probably vote for the patch.

[2019-12-03 09:01] tomasnorre commented on #484
I wasn't the one finding it. :) asked on slack on the topic, and was referred to it.

[2019-12-03 09:02] tomasnorre commented on #484
https://typo3.slack.com/archives/C025BQLFA/p1575359769132000?thread_ts=1575358795.131300&cid=C025BQLFA

[2019-12-03 09:15] fl3s commented on #492
https://github.com/AOEpeople/crawler/pull/493

There you go :)

[2019-12-03 09:47] tomasnorre commented on #492
You PR is against typo3v9 branch.
Could you make one for master as well ? I can it simply be cherry-picked ?

[2019-12-03 09:53] fl3s commented on #492
Sure, here it is: https://github.com/AOEpeople/crawler/pull/494

[2019-12-03 09:55] #492 closed

[2019-12-04 13:27] tgaertner commented on #439
+1 for this reason the "typo3 crawler:buildQueue" Command doesn't work at all.
Btw. the documentation needs a lot of updates.

[2019-12-04 13:52] tomasnorre commented on #439
I thought the documentation was ok on this point, but I would need to check, perhaps it's only updated in TYPO3V9 branch.

Regarding the cli user name change please see the comment in #440

[2019-12-04 14:04] tgaertner commented on #439
Mh I think I messed something up - got that one with the cli-user but can you check docs for the CommandController calls...

In docs:master it says:
`$ vendor/bin/typo3 crawler:buildqueue [--startpage <page-id>] ...` but param --startpage is called "page" in source-code of 9.0.0-dev.

In docs:dev-master this section is completely gone. Don't get this (and don't get this call working) - sorry.

If

[2019-12-04 14:09] tomasnorre commented on #439
Please open a new issue, then I'll check it.

[2019-12-04 14:50] tgaertner opened #496 "typo3 crawler:buildqueue does not work or/and has wrong or missing documentation"
In docs:master it says:
$ vendor/bin/typo3 crawler:buildqueue [--startpage <page-id>] ... but param --startpage is called "page" in source-code of 9.0.0-dev.

In docs:dev-master this section is completely gone. Don't get this (and don't get this call working).

I try a call like this:
`./vendor/bin/typo3 crawler:buildQueue --page 3 --depth 3 --conf main --mode queue`
It results always in output "P

[2019-12-04 16:47] tomasnorre commented on #496
I'm really sorry for the crappy documentation.

If you are running version
you would need to use `typo3cms` binary, it isn't changed for the master branch to use the `typo3` binary instead of the `typo3cms`

This works for me in my TYPO3 8.7 setup with crawler 6.7.0
[code]

If you can confirm that this is working for you as well.. I'll make sure that the documentation get updated asap.

[2019-12-04 19:41] tomasnorre opened #497 "[FEATURE] Add StaticfileCache support"
Please check if the nc_staticfile_cache hook can be remove, if not we need to replace it with a new hook.

- [x] Remove current nc_staticfile_cache hook

[2019-12-04 21:38] lochmueller commented on #497
Hey @tomasnorre
If y new hook is needed I could add it to staticfilecache. Could you explain the purpose of the hook and why it is needed?
Regards,
Tim

[2019-12-05 05:23] tomasnorre commented on #497
Hi @lochmueller,

Thanks for reaching out. I'll look into this and get back to you. You might have more knowledge than me where the right place is to implement it.

I'll describe the use case and then you can look into the implementation.
Hook, Signal or Middleware.

I'll get back to you.

[2019-12-05 07:30] lochmueller commented on #497
Note: If the hook is only this implementation: https://github.com/AOEpeople/crawler/blob/typo3v9/Classes/Hooks/StaticFileCacheCreateUriHook.php I think the hook could  just dropped, becuase there are no `'#^/index.php\?&?id=(\d+)(&.*)?$#'` URI since TYPO3 > 9.0.  But I can also be wrong, because I do not know the whole crawler implementation/logic.

[2019-12-05 07:33] tomasnorre commented on #497
It's exactly that hook i'm talking about.

I'm also not sure about this crawler logic regarding this hook. I've asked the develop doing it, then I'll get back to you.

But my expectation is also that it can be dropped.

[2019-12-06 01:39] vzz3 commented on #484
I tested the patch. However, it did not work as expected because it was not possible to save changes of the command option. I edited the patch and pushed it to the review server. Unfortunately I'm not sure if I pushed it to the correct branch (or what ever), because my changes did go to a new "review page" (https://review.typo3.org/c/Packages/TYPO3.CMS/+/62548) instead of creating a new change set

[2019-12-06 06:39] tomasnorre commented on #484
Thanks for the additional information.
Please see if you can get your changes pushed to the right review.

Regarding the default values, I think you are right, that it's a better option.

[2019-12-06 08:20] tgaertner commented on #496
Mh shouldn't it make no difference to use typo or typo3cms binary? If so the eytension should have a requirement for typo3-console.

Anyway, running the command with typo3cms gives me the expected result. BUT this has nothing to do that the param --startpage does not exist - at least in 9.0.0-dev.

My successful command was now this:

`./vendor/bin/typo3 crawler:buildQueue --page 3 --depth 3 --con

[2019-12-06 09:35] tomasnorre commented on #496
dev-master has a requirement for typo3-console.

We need to focus a little here.

Is this bug report regarding dev-master or typo3v9 branch?
Can easily be about both. But lets place separate it, as the adjustments and information differs.

Which version are you running?

[2019-12-06 09:53] tgaertner commented on #496
Thats the composer req:
`"aoepeople/crawler": "dev-typo3v9 as 9.0.0-dev"`

[2019-12-06 10:00] tomasnorre commented on #496
Thanks.

Then I'll make sure that the documentation get update accordingly, and test the functionality around this issue.

[2019-12-06 19:25] vzz3 commented on #484
I have pushed my changes to the TYPO3 master branch (https://review.typo3.org/c/Packages/TYPO3.CMS/+/61696). Now we need reviews ;-)

[2019-12-07 18:02] tomasnorre commented on #497
Hi @lochmueller,

We would not need this hook anymore. I'll remove it from the crawler when it turns out that I'm wrong we can always add it back.

The hook is for RealURL which is not needed in TYPO3 9 LTS, because of the SiteHandling.

[2019-12-07 18:29] #497 closed

[2019-12-10 11:48] tomasnorre opened #503 "[TAKS] Update License to GPL2+"
As we want to update the license for the #TYPO3 Crawler we need accept from everyone contributing.

We want to switch to following license `GPLv2+` to be better compatible with the TYPO3 Core.
https://www.gnu.org/licenses/old-licenses/gpl-2.0-faq.html#VersionTwoOrLater

Please give your 👍 or 👎 if you accept/reject this change.

Thanks.

Have done a mention of all listed as contributors for the typ

[2019-12-10 11:54] bmack commented on #503
So what do you propose? It's not clear from the issue. Change from "GPL3-only" to "GPL2 or later"?

And in case somebody is wondering:
- TYPO3 Core is using "GPLv2 or later" (meaning: If you bundle TYPO3 Core with GPL2only-code it is no license violation, and if somebody else bundles TYOP3 Core with GPL3only (like current crawler) it is no license violation, however bundling core with both is viol

[2019-12-10 11:56] tomasnorre commented on #503
Sorry.. I want to go with "GPL2 or later" License

[2019-12-10 11:56] TomasVotruba commented on #503
Personally I'd go with MIT as it's more clear than any GPLx for open-source, but I :+1:

[2019-12-10 11:56] bmack commented on #503
👍 for MIT or GPLv2+

[2019-12-11 16:15] tomasnorre commented on #503
The Problem with this voting is, that I cannot see who the "7 More" is, so I would not know whom to contact if not everyone votes.

Would a Documented with a commit from everyone be an option. e.g.

File: Licence-update.md

[code]

This way it could be documented, and one could not remove the consent, be removing the thumbs up.

[2019-12-11 16:38] cweiske commented on #503
+1 for GPLv2+

[2019-12-11 16:51] cweiske commented on #503
[code]

[2019-12-11 16:53] tomasnorre commented on #503
Thanks @cweiske Didn't think about that :)

[2019-12-11 23:08] infabo commented on #341
Is this still an issue? I have this excact error and I cant find any info about this in the documentation.

[code]

[2019-12-11 23:09] infabo commented on #341
typo3 v9 branch

[2019-12-12 07:06] tomasnorre commented on #341
I would need to check that. Could you please open a new issue, and reference this one?

I would like to keep the issue for master and typo3v9 separated, as the code base differs quite a lot currently.

[2019-12-12 20:07] tomasnorre commented on #496
Hi @tgaertner
Is this the documentation part you where talking about?
https://github.com/AOEpeople/crawler/blob/typo3v9/Documentation/ExecutingTheQueue/RunningViaCommandController/Index.rst

I agree it could be more detailed, but the command that you wrote that was you success cmd, matches the documentation.

` ./vendor/bin/typo3 crawler:buildQueue --page 3 --depth 3 --conf main --mode queue`

[2019-12-12 20:28] tomasnorre opened #504 "[BUG] declare(strict_types=1); breaks functionality"
@infabo has made me aware of that the `declare(strict_types=1);` break functionality.

E.g. from the https://github.com/aoepeople/crawler/blob/typo3v9/Classes/Backend/BackendModule.php#L1003

[code]

the `strcmp` expects strings for comparision, `$key` is `int`, the `htmlspecialchars()` expects a string again `$key` is `int`.

[2019-12-13 07:26] tgaertner commented on #496
Well, I was talking about the rendered Documentation here (this is the place where integrators would search for):

master: https://docs.typo3.org/p/aoepeople/crawler/master/en-us/ExecutingTheQueue/RunningViaCommandController/Index.html

dev-master: https://docs.typo3.org/p/aoepeople/crawler/draft/en-us/ExecutingTheQueue/ -> the page does not exist.

But you are right - the version on github:typo3v

[2019-12-13 07:30] tgaertner commented on #496
So of cause we are talking here about an (official) unreleased version - so no suprise the documentation is not in docs.typo3.org.

So actually I was looking into the wrong docs. If you confirm that you can clode that ticket.

[2019-12-13 07:50] tomasnorre commented on #496
No worries. The documentation isn't as good as it should be, and I should look into this anyway as the use case you mention isn't working completely..

So i'll keep this open and follow up on this.

[2019-12-28 15:32] tomasnorre opened #506 "[BUG] ProcessCleanupHook still checks against cli_dispatches, which isn't used anymore."
## Bug Report

[code]

As we are not using the `cli_dispatcher` anymore, this code needs to be refactored, otherwise the hook will not work anymore.

**Environment**
- Crawler version(s): typo3v9
- TYPO3 version(s): 9.5 LTS
- Is your TYPO3 installation set up with Composer (Composer Mode): [yes]

[2019-12-30 13:37] tomasnorre commented on #506
Resolved with #508

[2019-12-30 13:37] #506 closed

[2019-12-30 14:09] #504 closed

[2019-12-30 14:36] tomasnorre commented on #503
@infabo Do you accept the License update as well.?
For some reason I didn't have you one my first list of contributors. Sorry.

Please 👍 or 👎  at the top post.

Thanks.

[2019-12-30 15:14] tomasnorre commented on #479
This is merged, will close the issue.
Thanks @vzz3

[2019-12-30 15:14] #479 closed

[2020-01-09 07:25] aseemann opened #510 "Userinformation in alternative baseurl are stripped."
## Bug Report

**Current Behavior**
The user information in the alternative base-url are stripped on pushing urls into queue.

**Expected behavior/output**
The user information should kept in base-url if the url is pushed into the queue.

**Environment**
- Crawler version: typo3v9 (b9b5fa1a17984d49477b67798b7570231679cb73)
- TYPO3 version: 9.5.x
- Is your TYPO3 installation set up with Composer (C

[2020-01-13 14:52] tgaertner opened #513 "Crawler should ignore unresolveable mount-points"
## Bug Report

**Current Behavior**
If there is mount-point in page tree, which target was deleted, the crawler crashes with a Fatal-Error.

**Expected behavior/output**
IMO the crawler should ignore those mount-point like the fronted rendering does. Otherwise its very easy for an editor to destroy the crawling process without even noticing.

**Environment**
- Crawler version(s): dev-typo3v9
- TYP

[2020-01-15 15:06] allesmeins89 opened #515 "sleep time and sleep after finished are swapped"
`$sleeptime` and `$sleepAfterFinish` are swapped in Classes/Command/CrawlerCommandController.php in version 6.7.0 in lines 223 and 224.

`$sleeptime` is calculated with `usleep(intval($sleepTime))` that's are microseconds not milliseconds as the help says. Line 203 also in Classes/Command/CrawlerCommandController.php in version 6.7.0.

[2020-01-21 20:51] tomasnorre commented on #513
Hi @tgaertner

Could you please paste the error message and a little more detailed on how to reproduce ?

Thanks.

[2020-01-21 20:52] tomasnorre commented on #515
Hi @allesmeins89

Could you please create a PR for this, then I'll be happy to test this.

[2020-01-22 13:47] tgaertner opened #516 "[FEATURE] Support for tx_news with speaking URLs for TYPO3 9.x"
I tried to setup crawler for tx_news Records. With the current documented configuration possibilities I was not able to get this done because afaik it is only possible to add get params to the detail page call.
With that its possible to carwl URLs like
`http://dev.projectdomain.de/de/nachrichten/detail?tx_news_pi1%5Bnews%5D=2542&cHash=d717026c94c2d20e08ea62e44db7bca0`

Site configured with SiteCon

[2020-01-22 15:09] tomasnorre commented on #516
Thanks, Will check it out and make sure to get either the code or documentation adjusted.

[2020-01-23 08:45] jwittorf commented on #263
I finally managed to get back into the issue, would you mind adding me to the slack channel? julian.wittorf@student.fh-kiel.de

[2020-01-25 15:40] tomasnorre commented on #263
What do you mean add you to the slack channel?

It's the official #TYPO3 Slack
https://my.typo3.org/index.php?id=35

You can join the #ext-crawler channel there.

[2020-01-27 03:23] cbunhok commented on #496
Hello @tomasnorre ,
I ran the command `/vendor/bin/typo3 crawler:buildQueue --page 3 --depth 3 --conf main --mode queue`, and I got the error `Uncaught TYPO3 Exception An exception occurred in driver: No such file or directory
thrown in file /var/www/html/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/AbstractMySQLDriver.php`

What configuration steps did I miss or need to add?

[2020-01-27 06:49] tomasnorre commented on #496
I've seen this error before, but don't recall in which context.

Do you run in ddev or which setup do you have?